{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/result

    Oxygen Check API result template.

    The purpose of this template is to render result.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * status eg Ok, Warning

    Example context (json):
    { "status": "OK"}
}}

{{#isna}}
    {{> core/check/result/na}}
{{/isna}}
{{#isok}}
    {{> core/check/result/ok}}
{{/isok}}
{{#isinfo}}
    {{> core/check/result/info}}
{{/isinfo}}
{{#isunknown}}
    {{> core/check/result/unknown}}
{{/isunknown}}
{{#iswarning}}
    {{> core/check/result/warning}}
{{/iswarning}}
{{#iserror}}
    {{> core/check/result/error}}
{{/iserror}}
{{#iscritical}}
    {{> core/check/result/critical}}
{{/iscritical}}
