{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template email_message/email_digest_text

    Template which defines a forum post for sending in a single-post HTML email.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "conversations": [
            {
                "groupname": "Blue Students",
                "grouppictureurl": "http://example.com/image.jpg",
                "coursename": "Math 101",
                "numberofunreadmessages": "2",
                "messages": [
                    {
                        "userfullname": "Chris Cross",
                        "userpictureurl": "http://example.com/image.jpg",
                        "message": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque nunc, bibendum ac vestibulum sit amet, scelerisque luctus sem. Maecenas ultricies hendrerit augue, ac venenatis odio volutpat nec",
                        "timesent": "10:12"
                    },
                    {
                        "userfullname": "Irene Ipsum",
                        "userpictureurl": "http://example.com/image.jpg",
                        "message": "Etiam a tristique risus. Pellentesque id tellus eget elit dictum varius id sed sapien",
                        "timesent": "10:14"
                    }
                ],
                "viewallmessageslink": "http://example.com"
            }
        ]
    }
}}
{{#conversations}}
    {{{grouppictureurl}}}

    {{groupname}}

    {{coursename}}

    {{numberofunreadmessages}} {{#str}}emaildigestunreadmessages, message_email{{/str}}

    {{#messages}}
        {{{ userpictureurl }}}

        {{userfullname}}

        {{message}}

        {{timesent}}

        {{viewallmessageslink}}

    {{/messages}}
{{/conversations}}
