{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/chooser_help

    Chooser help / more information template.

    Example context (json):
    {
        "id": 125,
        "name": "assign",
        "title": "Assignment",
        "link": "http://yourOxygen/modedit.php?id=x&itemtype=y",
        "icon": "<img class='icon' src='http://urltooptionicon'>",
        "help": "This is a description of the assignment activity",
        "archetype": 0,
        "componentname": "mod_assign",
        "favourite": 1
    }
}}
<div class="optionsummary" tabindex="-1" data-region="chooser-option-summary-container" aria-labelledby="optionsummary_label" aria-describedby="optionsumary_desc">
    <div class="content text-left mb-5 p-2 px-sm-5 py-sm-4" data-region="chooser-option-summary-content-container">
        <div class="heading mb-4">
            <h5 id="optionsummary_label-{{uniqid}}" data-region="summary-header" tabindex="0">
                {{{icon}}}
                {{title}}
            </h5>
        </div>
        <div id="optionsumary_desc-{{uniqid}}" class="description" tabindex="0">
            {{{help}}}
        </div>
    </div>
    {{^showFooter}}
        <div class="fixed-bottom position-absolute py-3 px-4 border-top modal-footer">
            {{>core_course/local/activitychooser/footer_partial}}
        </div>
    {{/showFooter}}
</div>
