{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/chooser_search

    Chooser search template.

    Example context (json):
    {}
}}
<div class="searchbar input-group" role="search">
    <label for="searchinput">
        <span class="sr-only">{{#str}} searchactivities, core {{/str}}</span>
    </label>
    <input type="text"
           data-action="search"
           id="searchinput"
           class="form-control searchinput h-auto border-right-0 rounded-left px-3 py-2"
           placeholder="{{#str}} search, core {{/str}}"
           name="search"
           autocomplete="off"
    >
    <div class="input-group-append">
        <div class="input-group-text border-left-0 rounded-right bg-transparent px-3 py-2">
            <div class="search-icon">
                {{#pix}} a/search, core {{/pix}}
            </div>
            <div class="clear d-none">
                <button class="btn p-0" data-action="clearsearch">
                    <span class="d-flex" aria-hidden="true">{{#pix}} e/cancel_solid_circle, core {{/pix}}</span>
                    <span class="sr-only">{{#str}} clearsearch, core {{/str}}</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="searchresultscontainer" data-region="search-results-container" hidden="hidden" aria-live="polite">
</div>
