{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/chooser_search_results

    Chooser search results template.

    Example context (json):
    {
        "searchresultsnumber": "10",
        "searchresults": {
            "label": "Option name",
            "description": "Option description",
            "urls": {
                "addoption": "http://addoptionurl.com"
            },
            "icon": "<img class='icon' src='http://urltooptionicon'>"
        }
    }
}}
<p class="mt-4 px-3 pb-1">{{#str}} resultsfound, core, {{searchresultsnumber}} {{/str}}</p>
<div class="bg-light searchresultitemscontainer-wrapper border">
<div class="searchresultitemscontainer d-flex flex-wrap mw-100 position-relative p-1" role="menubar" data-region="search-result-items-container">
    {{#searchresults}}
        {{>core_course/local/activitychooser/item}}
    {{/searchresults}}
</div>
</div>
