{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Plans to review.

    Classes required for JS:
    * -

    Data attributes required for JS:
    * -

    Context variables required for this template:
    * plans
}}

<div data-region="plans-to-review">
<table class="generaltable fullwidth">
    <thead>
        <tr>
            <th scope="col">{{#str}}planname, tool_lp{{/str}}</th>
            <th scope="col">{{#str}}user{{/str}}</th>
            <th scope="col">{{#str}}reviewstatus, tool_lp{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#plans}}
        <tr>
            <td><a href="{{plan.url}}">{{{plan.name}}}</a></td>
            <td>{{user.fullname}}</td>
            <td>{{plan.statusname}}</td>
        </tr>
        {{/plans}}
    </tbody>
</table>
</div>
