{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Summary.

    Classes required for JS:
    * None

    Data attibutes required for JS:
    * None

    Context variables required for this template:
    * hasplans
    * hasactiveplans
    * activeplans
    * hasmoreplans
    * hascompstoreview
    * compstoreview
    * hasmorecompstoreview
    * hasplanstoreview
    * planstoreview
    * hasmoreplanstoreview
}}
<div>
    {{#hasplans}}
        <h3>{{#str}}myplans, block_lp{{/str}}</h3>
        <div class="sub-content">
            {{#hasactiveplans}}
                <ul>
                    {{#activeplans}}
                        <li><a href="{{url}}">{{{name}}}</a></li>
                    {{/activeplans}}
                    {{#hasmoreplans}}
                        <li class="more"><a href="{{plansurl}}">{{#str}}viewmore, block_lp{{/str}}</a></li>
                    {{/hasmoreplans}}
                </ul>
            {{/hasactiveplans}}
            {{^hasactiveplans}}
                <p>{{#str}}noactiveplans, block_lp{{/str}} <a href="{{plansurl}}">{{#str}}viewotherplans, block_lp{{/str}}</a></p>
            {{/hasactiveplans}}
        </div>
    {{/hasplans}}
    {{#hascompstoreview}}
        <h3>{{#str}}competenciestoreview, block_lp{{/str}}</h3>
        <div class="sub-content">
            <ul>
                {{#compstoreview}}
                    <li>
                        <a href="{{usercompetency.url}}">{{{competency.shortname}}}</a> ({{user.fullname}}) - {{usercompetency.statusname}}
                    </li>
                {{/compstoreview}}
                {{#hasmorecompstoreview}}
                    <li class="more"><a href="{{pluginbaseurl}}/competencies_to_review.php">{{#str}}viewmore, block_lp{{/str}}</a></li>
                {{/hasmorecompstoreview}}
            </ul>
        </div>
    {{/hascompstoreview}}
    {{#hasplanstoreview}}
        <h3>{{#str}}planstoreview, block_lp{{/str}}</h3>
        <div class="sub-content">
            <ul>
                {{#planstoreview}}
                    <li>
                        <a href="{{plan.url}}">{{{plan.name}}}</a> ({{user.fullname}}) - {{plan.statusname}}
                    </li>
                {{/planstoreview}}
                {{#hasmoreplanstoreview}}
                    <li class="more"><a href="{{pluginbaseurl}}/plans_to_review.php">{{#str}}viewmore, block_lp{{/str}}</a></li>
                {{/hasmoreplanstoreview}}
            </ul>
        </div>
    {{/hasplanstoreview}}
</div>
