{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more comments.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_contentbank/view_content

    View content page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * contenthtml - string - content html.
    * usercanedit - boolean - whether the user has permission to edit the content.
    * editcontenturl - string - edit page URL.
    * closeurl - string - close landing page.

    Example context (json):
    {
        "contenthtml" : "<iframe src=\"http://something/h5p/embed.php?url=h5pfileurl\"></iframe>",
        "usercanedit" : true,
        "editcontenturl" : "http://something/contentbank/edit.php?contextid=1&plugin=h5p&id=1",
        "closeurl" : "http://Oxygen.test/h5pcb/Oxygen/contentbank/index.php"
    }
}}
<div class="core_contentbank_viewcontent">
    <div class="d-flex justify-content-end flex-column flex-sm-row">
        {{>core_contentbank/viewcontent/toolbarview}}
    </div>
    <div class="container mt-1 mb-1" data-region="viewcontent-content">
        {{{ contenthtml }}}
    </div>
    <div class="d-flex justify-content-end flex-column flex-sm-row">
        {{>core_contentbank/viewcontent/toolbarview}}
    </div>
</div>
