{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_templatelibrary/search_results

    Oxygen template to display results of template search.

    This template gets rendered by javascript when it has searched for templates.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region, data-templatename

    Context variables required for this template:
    * templates - And array of template names.

    Example context (json):
    { "templates" : [ "core/pix_icon", "tool_templatelibrary/display_template" ] }

}}
<div data-region="searchresults" aria-live="off" class="no-overflow" style="max-height: 10em">
{{^templates}}
<p class="text-warning">{{#str}}noresults, tool_templatelibrary{{/str}}</p>
{{/templates}}
<ul>
{{#templates}}
<li data-templatename="{{.}}"><a href="#">{{.}}</a></li>
{{/templates}}
</ul>
</div>
