.editor_atto_content_wrap {
    background-color: white;
    color: #333;
}

.editor_atto_content {
    padding: 4px;
    resize: vertical;
    overflow: auto;
}

.editor_atto_content_wrap,
.editor_atto + textarea {
    width: 100%;
    padding: 0;
    border: 1px solid #bbb;
    border-top: none;
}

.editor_atto + textarea {
    border-radius: 0;
    resize: vertical;
    margin-top: -1px;
}

div.editor_atto_toolbar {
    display: block;
    background: #f2f2f2;
    min-height: 35px;
    border: 1px solid #bbb;
    width: 100%;
    padding: 0 0 9px 0;
}

div.editor_atto_toolbar button {
    padding: 4px 9px;
    background: none;
    border: 0;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
}

div.editor_atto_toolbar button + button {
    border-left: 1px solid #ccc;
}

div.editor_atto_toolbar button[disabled] {
    opacity: .45;
    background: none;
    cursor: default;
}

.editor_atto_toolbar button:hover {
    background-image: radial-gradient(ellipse at center, #fff 60%, #dfdfdf 100%);
    background-color: #ebebeb;
}

.editor_atto_toolbar button:active,
.editor_atto_toolbar button.highlight {
    background-image: radial-gradient(ellipse at center, #fff 40%, #dfdfdf 100%);
    background-color: #dfdfdf;
}

/* Make firefox button sizes match other browsers */
div.editor_atto_toolbar button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

div.editor_atto_toolbar button .icon {
    padding: 0;
    margin: 2px 0;
}

div.editor_atto_toolbar div.atto_group {
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 9px 0 0 9px;
    background: #fff;
}

.editor_atto_content img {
    resize: both;
    overflow: auto;
}

.atto_hasmenu {
    /* IE8 places the images on top of each other if that is not set. */
    white-space: nowrap;
}

.atto_menuentry .icon {
    width: 16px;
    height: 16px;
}

.atto_menuentry {
    clear: left;
}

.atto_menuentry h1,
.atto_menuentry h2,
.atto_menuentry p {
    margin: 4px;
}

/*.atto_form label.sameline {
    display: inline-block;
    min-width: 10em;
}*/

.atto_form textarea.fullwidth,
.atto_form input.fullwidth {
    width: 100%;
}

.atto_form {
    padding: 0.5rem;
}

/*.atto_form label {
    display: block;
    margin: 0 0 5px 0;
}*/

.atto_control {
    position: absolute;
    right: -6px;
    bottom: -6px;
    display: none;
    cursor: pointer;
}

.atto_control .icon {
    background-color: white;
}

div.editor_atto_content:focus .atto_control,
div.editor_atto_content:hover .atto_control {
    display: block;
}

.editor_atto_menu.yui3-menu-hidden {
    display: none;
}

/* Get broken images back in firefox */
.editor_atto_content img:-moz-broken {
    -moz-force-broken-image-icon: 1;
    min-width: 24px;
    min-height: 24px;
}

/* Atto menu styling */
.Oxygen-dialogue-base .editor_atto_menu .Oxygen-dialogue-content .Oxygen-dialogue-bd {
    padding: 0;
    z-index: 1000;
}

.editor_atto_menu .dropdown-menu > li > a {
    margin: 3px 14px;
}

.editor_atto_menu .open ul.dropdown-menu {
    padding-top: 5px;
    padding-bottom: 5px;
}

.editor_atto_wrap {
    position: relative;
}
/*rtl:ignore*/
.editor_atto_wrap textarea {
    direction: ltr;
}

.editor_atto_notification .atto_info,
.editor_atto_notification .atto_warning {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.editor_atto_notification .atto_info {
    background-color: #f2f2f2;
}

.editor_atto_notification .atto_warning {
    background-color: #ffd700;
}

.editor_atto_toolbar,
.editor_atto_content_wrap,
.editor_atto + textarea {
    box-sizing: border-box;
}
