{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_lp/competencies_tree_root

    Recursively build a competencies tree.

    Classes required for JS:

    Data attibutes required for JS:
    * data-enhance=movetree

    Context variables required for this template:
    * id, shortname, idnumber, sortorder, parentid, competencyframeworkid, path, children

    Example context (json):
    {
        "shortname": "short",
        "haschildren": true,
        "competencies": [{
            "id": 2,
            "shortname": "child",
            "idnumber": "CHILD",
            "sortorder": 1,
            "parentid": 1,
            "competencyframeworkid": 1,
            "path": "/1/",
            "children": []
        }]
    }
}}
<ul data-enhance="tree" class="competency-tree">
    <li><span>{{{shortname}}}</span>
        <ul>
            {{#competencies}}
                {{> tool_lp/competencies_tree }}
            {{/competencies}}
        </ul>
    </li>
</ul>
