{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_lp/competency_summary

    Summary of a competency

    Context variables required for this template:
    * competency
      * id
      * shortname
      * idnumber
      * description
    * framework
      * shortname
    * comppath array of ancestors
    * showrelatedcompetencies boolean
    * related
    * showrule boolean
    * rule
      * outcome
      * type

    Example context (json):
    {
        "competency": {
            "id": 1,
            "shortname": "C1",
            "idnumber": "PATH",
            "description": "Can do something"
        },
        "framework": {
            "shortname": "F1"
        }
    }
}}
<div class='competency-heading'>
    <h4 id="competency_link_{{competency.id}}">{{{competency.shortname}}}
        <small>
        {{#showlinks}}
            <a href="{{pluginbaseurl}}/competencies.php?competencyid={{competency.id}}">{{competency.idnumber}}</a>
        {{/showlinks}}
        {{^showlinks}}
            {{competency.idnumber}}
        {{/showlinks}}
        </small>
    </h4>
    {{#framework}}
        <div class='competency-origin'>
            <p><small>{{{framework.shortname}}} - {{taxonomyterm}}</small>
        </div>
    {{/framework}}
</div>

{{#competency.description}}
<p>{{{competency.description}}}</p>
{{/competency.description}}
{{#comppath}}
    <span class="float-left">{{#str}}path, tool_lp{{/str}}&nbsp;</span>{{> tool_lp/competency_path }}
{{/comppath}}
{{#showrelatedcompetencies}}
    {{> tool_lp/related_competencies }}
{{/showrelatedcompetencies}}

{{#showrule}}
    <h5>{{#str}}competencyrule, tool_lp{{/str}}</h5>
    <dl>
        <dt>{{#str}}outcome, tool_lp{{/str}}</dt>
        <dd>{{rule.outcome}}</dd>
        <dt>{{#str}}when, tool_lp{{/str}}</dt>
        <dd>{{rule.type}}</dd>
    </dl>
{{/showrule}}

