{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_lp/course_competency_statistics

    IDs required for JS:
    * none

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:

    See competency/classes/external/course_competency_statistics_exporter

    Example context (json):
    {
        "competencycount": 4,
        "canbegradedincourse": true,
        "canmanagecoursecompetencies": true,
        "proficientcompetencycount": 3,
        "proficientcompetencypercentage": 75,
        "proficientcompetencypercentageformatted": 75.0,
        "leastproficientcount": 1,
        "leastproficient": [
            { "id": 1, "shortname": "Comp 1", "idnumber": "C1" }
        ]
    }

}}
{{!
    Template statistics template.
}}
{{#competencycount}}
<div data-region="coursecompetencystatistics" class="border p-2 mb-2">
    {{#canbegradedincourse}}
        {{< tool_lp/progress_bar}}
            {{$progresstext}}
                {{#str}}xcompetenciesproficientoutofyincourse, tool_lp, { "x": "{{proficientcompetencycount}}", "y": "{{competencycount}}" } {{/str}}
            {{/progresstext}}
            {{$percentage}}{{proficientcompetencypercentage}}{{/percentage}}
            {{$percentlabel}}{{proficientcompetencypercentageformatted}}&nbsp;%{{/percentlabel}}
        {{/tool_lp/progress_bar}}
    {{/canbegradedincourse}}
    {{#canmanagecoursecompetencies}}
    {{#leastproficientcount}}
    <div>
        <div>
            <p>{{#str}}competenciesmostoftennotproficientincourse, tool_lp{{/str}}</p>
        </div>
        <div>
            {{#leastproficient}}
                <a href="#competency-info-link-{{id}}">
                <div><p>{{{shortname}}} <em>{{idnumber}}</em></p></div>
                </a>
            {{/leastproficient}}
        </div>
    </div>
    {{/leastproficientcount}}
    {{/canmanagecoursecompetencies}}
</div>
{{/competencycount}}
