{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Manage learning plan templates template.

    Classes required for JS:
    * drag-parentnode
    * drag-samenode
    * templateactions

    Data attibutes required for JS:
    * data-region = managetemplates
    * data-templateid = id
    * data-action = deletetemplate

    Context variables required for this template:
    * templates - array of objects containing id, shortname, visible, canmanage, contextname
    * navigation - array of strings containing buttons for navigation
}}
<div data-region="managetemplates">
<div class="float-left">
    {{#navigation}}
    {{{.}}}
    {{/navigation}}
</div>
<table class="generaltable fullwidth managetemplates">
    <caption>{{#str}}listtemplatescaption, tool_lp{{/str}}</caption>
    <thead>
        <tr>
            <th scope="col">{{#str}}templatename, tool_lp{{/str}}</th>
            <th scope="col">{{#str}}category, tool_lp{{/str}}</th>
            <th scope="col">{{#str}}cohorts, core_cohort{{/str}}</th>
            <th scope="col">{{#str}}userplans, core_competency{{/str}}</th>
            {{#canmanage}}
            <th scope="col">{{#str}}actions, tool_lp{{/str}}</th>
            {{/canmanage}}
        </tr>
    </thead>
    <tbody class="drag-parentnode">
        {{#templates}}
        <tr class="drag-samenode" data-templateid="{{id}}">
            <td><a href="{{pluginbaseurl}}/templatecompetencies.php?templateid={{id}}&amp;pagecontextid={{pagecontextid}}">{{{shortname}}}</a></span> {{^visible}}{{#str}}hiddenhint, tool_lp{{/str}}{{/visible}}</td>
            <td>{{contextnamenoprefix}}</td>
            <td><a class="template-cohorts" href="{{pluginbaseurl}}/template_cohorts.php?id={{id}}&amp;pagecontextid={{pagecontextid}}">{{cohortscount}}</a></td>
            <td><a class="template-userplans" href="{{pluginbaseurl}}/template_plans.php?id={{id}}&amp;pagecontextid={{pagecontextid}}">{{planscount}}</a></td>
            <td>
            {{#canmanage}}
            <ul class="templateactions">
                <li>
                    <a href="#">{{#str}}edit{{/str}}</a><b class="caret"></b>
                    <ul class="dropdown dropdown-menu">
                        <li class="dropdown-item">
                            <a href="{{pluginbaseurl}}/edittemplate.php?id={{id}}&amp;pagecontextid={{pagecontextid}}&amp;return=templates">
                                {{#pix}}t/edit{{/pix}} {{#str}}edit{{/str}}
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a data-action="duplicatetemplate" data-templateid="{{id}}" href="#">
                                {{#pix}}t/copy{{/pix}} {{#str}}duplicate{{/str}}
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{{pluginbaseurl}}/template_plans.php?id={{id}}&amp;pagecontextid={{pagecontextid}}">
                                {{#pix}}t/add{{/pix}} {{#str}}createlearningplans, tool_lp{{/str}}
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{{pluginbaseurl}}/template_cohorts.php?id={{id}}&amp;pagecontextid={{pagecontextid}}">
                                {{#pix}}t/add{{/pix}} {{#str}}addcohortstosync, tool_lp{{/str}}
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a data-action="deletetemplate" data-templateid="{{id}}" href="#">
                                {{#pix}}t/delete{{/pix}} {{#str}}delete{{/str}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            {{/canmanage}}
            </td>
        </tr>
        {{/templates}}
    </tbody>
</table>
{{^templates}}
<p class="alert alert-info">
    {{#str}}notemplates, tool_lp{{/str}}
</p>
{{/templates}}

{{#js}}
// Initialise the JS.
require(['tool_lp/templateactions',
         'tool_lp/menubar'],
        function(actionsMod, menubar) {

    actionsMod.init({{pagecontextid}});

    menubar.enhance('.templateactions', {
        '[data-action="deletetemplate"]': actionsMod.deleteHandler,
        '[data-action="duplicatetemplate"]': actionsMod.duplicateHandler
    });
});

{{/js}}

</div>
