{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_lp/progress_bar

    Oxygen progress bar template for tool_lp.

    The purpose of this template is to render a progress bar with a brief description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * progresstextvalue A brief text that describes the progress bar.
    * percentagevalue The numeric value for the progress bar's percentage.
    * percentlabelvalue The progress bar's label that shows the percentage value.

    Example context (json):
    {
        "progresstextvalue": "Progress:",
        "percentagevalue": "50",
        "percentlabelvalue": "50.00 %"
    }

}}
<div id="progress-{{uniqid}}">
    {{$progresstext}}{{progresstextvalue}}{{/progresstext}}
</div>
<progress class="progress" aria-describedby="progress-{{uniqid}}"
    value="{{$percentage}}{{percentagevalue}}{{/percentage}}" max="100"></progress>
