{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_lp/related_competencies

    List of related competencies.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * showdeleterelatedaction boolean
    * relatedcompetencies array
      * id int
      * shortname string
      * idnumber string

    Example context (json):
    {
        "showdeleterelatedaction": false,
        "relatedcompetencies":
        [
            {
                "id": 1,
                "shortname": "Competency",
                "idnumber": "C1"
            }
        ]
    }

}}
<div data-region="relatedcompetencies">
<p>
    <strong>{{#str}}crossreferencedcompetencies, tool_lp{{/str}}:</strong>
</p>
<ul>
    {{#relatedcompetencies}}
        <li>
            {{#showdeleterelatedaction}}
                <div class="float-sm-right">
                    <a href="#" data-action="deleterelation" id="id-related-{{id}}">{{#pix}}t/delete, core, {{#str}}delete{{/str}}{{/pix}}</a>
                </div>
            {{/showdeleterelatedaction}}
            <p>
                <a href="#" data-action="competency-dialogue" data-id="{{id}}">
                    {{{shortname}}}{{#idnumber}} {{idnumber}}{{/idnumber}}
                </a>
            </p>
        </li>
    {{/relatedcompetencies}}
</ul>
{{^relatedcompetencies}}
    {{#str}}nocrossreferencedcompetencies, tool_lp{{/str}}
{{/relatedcompetencies}}
</div>
{{#js}}
require(['tool_lp/competencydialogue'], function(Compdialogue) {
    Compdialogue.init();
});
{{/js}}
