{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_lp/scale_configuration_page

    Set scale configuration for the competency framework.

    Classes required for JS:
    * none

    Data attibutes required for JS:
    * data-field

    Context variables required for this template:
    * scales Array of id / name pairs.

    Example context (json):
    {
        "scales": [
            { "id": 1, "name": "Competent" },
            { "id": 2, "name": "Not competent" }
        ]
    }
 }}
<div>
<table class="table table-condensed">
    <thead>
        <tr>
            <th scope="col">{{#str}}scalevalue, tool_lp{{/str}}</th>
            <th scope="col">{{#str}}default, tool_lp{{/str}}{{#pix }} req, core, {{#str}}requiredelement, form{{/str}} {{/pix }}</th>
            <th scope="col">{{#str}}proficient, tool_lp{{/str}}{{#pix }} req, core, {{#str}}requiredelement, form{{/str}}{{/pix }}</th>
        </tr>
    </thead>
    <tbody>
        {{#scales}}
        <tr class="tool_lp_scale_config">
            <td>{{name}}</td>
            <td><input type="radio" name="default_{{uniqid}}" data-field="tool_lp_scale_default_{{id}}" class="tool_lp_scale_default"/></td>
            <td><input type="checkbox" name="proficient" data-field="tool_lp_scale_proficient_{{id}}"
                       class="tool_lp_scale_proficient"/></td>
        </tr>
        {{/scales}}
    </tbody>
</table>
</div>

<div data-region="scale-buttons" class="mt-1 float-sm-right">
    <input type="button" class="btn btn-secondary" data-action="close" value="{{#str}}closebuttontitle{{/str}}"/>
    <input type="button" class="btn btn-secondary" data-action="cancel" value="{{#str}}cancel{{/str}}"/>
</div>
<div class="clearfix"></div>
