{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Template competencies template.
}}
<div data-region="templatecompetenciespage">
    <h2>
        {{{template.shortname}}}
        {{#template.canmanage}}
            <a href="{{pluginbaseurl}}/edittemplate.php?id={{template.id}}&amp;pagecontextid={{pagecontextid}}">{{#pix}}t/edit, core, {{#str}}edittemplate, tool_lp{{/str}}{{/pix}}</a>
        {{/template.canmanage}}
    </h2>
    <div>{{{template.description}}}</div>
    {{#canmanagetemplatecompetencies}}
    <div data-region="actions" class="my-4">
        <button disabled class="btn btn-secondary">{{#str}}addtemplatecompetencies, tool_lp{{/str}}</button>
    </div>
    {{/canmanagetemplatecompetencies}}
    <h3 class="mt-1">{{#str}}templatecompetencies, tool_lp{{/str}}</h3>
    {{#statistics}}
        {{> tool_lp/template_statistics }}
    {{/statistics}}
    <div data-region="templatecompetencies">
        <div class="managecompetencies">
            <div class="drag-parentnode">
                {{#competencies}}
                <div class="drag-samenode" data-id="{{competency.id}}">
                    <div class="border p-2 mb-2">
                        {{#canmanagetemplatecompetencies}}
                        <span class="drag-handlecontainer float-left"></span>
                        <div class="float-sm-right">
                            <a href="#" data-action="delete-competency-link" data-id="{{competency.id}}">{{#pix}}t/delete, core, {{#str}}delete{{/str}}{{/pix}}</a>
                        </div>
                        {{/canmanagetemplatecompetencies}}
                        {{#competency}}
                            {{> tool_lp/competency_summary }}
                        {{/competency}}
                        <strong>{{#str}}linkedcourseslist, tool_lp{{/str}}</strong>
                        {{#hascourses}}
                        <ul class="inline list-inline">
                        {{#linkedcourses}}
                            <li class="list-inline-item"><a href="{{viewurl}}?id={{id}}">{{{fullname}}} ({{{shortname}}})</a></li>
                        {{/linkedcourses}}
                        </ul>
                        {{/hascourses}}
                        {{^hascourses}}
                        <span class="badge badge-info">{{#str}}nolinkedcourses, tool_lp{{/str}}</span>
                        {{/hascourses}}
                    </div>
                </div>
                {{/competencies}}
            </div>
        </div>
        {{^competencies}}
        <p class="alert alert-info">
            {{#str}}nocompetenciesintemplate, tool_lp{{/str}}
        </p>
        {{/competencies}}
    </div>
    <div data-region="actions">
        {{#canmanagecompetencyframeworks}}
        <div>
            <p><a href="{{manageurl}}">{{#str}}managecompetenciesandframeworks, tool_lp{{/str}}</a></p>
        </div>
        {{/canmanagecompetencyframeworks}}
    </div>
</div>
{{#js}}
require(['tool_lp/competencies'], function(mod) {
    (new mod({{template.id}}, 'template', {{pagecontextid}}));
});
{{/js}}
