{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_lp/template_statistics

    IDs required for JS:
    * none

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:

    See competency/classes/external/template_statistics_exporter

    Example context (json):
    {
        "linkedcompetencycount": 4,
        "competencycount": 8,
        "linkedcompetencypercentage": 50,
        "plancount": 40,
        "completedplancount": 30,
        "completedplanpercentage": 75
    }

}}
{{!
    Template statistics template.
}}
{{#competencycount}}
<div data-region="templatestatistics" class="border p-2 mb-2">
    {{< tool_lp/progress_bar}}
        {{$progresstext}}
            {{#str}}xcompetencieslinkedoutofy, tool_lp, { "x": "{{linkedcompetencycount}}", "y": "{{competencycount}}" } {{/str}}
        {{/progresstext}}
        {{$percentage}}{{linkedcompetencypercentage}}{{/percentage}}
        {{$percentlabel}}{{linkedcompetencypercentageformatted}}&nbsp;%{{/percentlabel}}
    {{/tool_lp/progress_bar}}
    {{#plancount}}
        {{< tool_lp/progress_bar}}
            {{$progresstext}}
                {{#str}}xplanscompletedoutofy, tool_lp, { "x": "{{completedplancount}}", "y": "{{plancount}}" } {{/str}}
            {{/progresstext}}
            {{$percentage}}{{completedplanpercentage}}{{/percentage}}
            {{$percentlabel}}{{completedplanpercentageformatted}}&nbsp;%{{/percentlabel}}
        {{/tool_lp/progress_bar}}
    {{/plancount}}
    {{#usercompetencyplancount}}
        {{< tool_lp/progress_bar}}
            {{$progresstext}}
                {{#str}}averageproficiencyrate, tool_lp, {{proficientusercompetencyplanpercentageformatted}} {{/str}}
            {{/progresstext}}
            {{$percentage}}{{proficientusercompetencyplanpercentage}}{{/percentage}}
            {{$percentlabel}}{{proficientusercompetencyplanpercentageformatted}}&nbsp;%{{/percentlabel}}
        {{/tool_lp/progress_bar}}
    {{/usercompetencyplancount}}
    {{#leastproficientcount}}
    <div>
        <div>
            <p>{{#str}}competenciesmostoftennotproficient, tool_lp{{/str}}</p>
        </div>
        <div>
            {{#leastproficient}}
                {{#showcompetencylinks}}
                <a href="#competency_link_{{id}}">
                {{/showcompetencylinks}}
                <div><p>{{{shortname}}} <em>{{idnumber}}</em></p></div>
                {{#showcompetencylinks}}
                </a>
                {{/showcompetencylinks}}
            {{/leastproficient}}
        </div>
    </div>
    {{/leastproficientcount}}
</div>
{{/competencycount}}
