{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_lp/user_competency_summary_in_course

    Oxygen template for the the summary of a user competency

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * usercompetencysummary - object containing:
        * showrelatedcompetencies - boolean
        * cangrade - boolean
        * competency - competency summary record
        * user - user record
        * usercompetency - user competency record
        * evidence - array of evidence
    * course - course summary record

    This template does not have an example context because it includes ajax functionality.
}}
{{#usercompetencysummary}}
<div data-region="user-competency-full-info" data-node="user-competency" data-competencyid="{{usercompetency.competencyid}}" data-userid="{{usercompetency.userid}}" data-region-id="{{uniqid}}">
<div data-region="competency-summary">
    {{#competency}}
        {{> tool_lp/competency_summary }}
    {{/competency}}
    <dl>
        <dt>{{#str}}activities, tool_lp{{/str}}</dt>
        <dd data-region="coursecompetencyactivities">
        <p>
        <ul class="inline list-inline">
        {{#coursemodules}}
            <li class="list-inline-item"><a href="{{url}}"><img src="{{iconurl}}"> {{name}} </a></li>
        {{/coursemodules}}
        {{^coursemodules}}
            <li class="list-inline-item"><span class="alert">{{#str}}noactivities, tool_lp{{/str}}</span></li>
        {{/coursemodules}}
        </ul>
        </p>
        </dd>
        {{#displayuser}}
        {{#user}}
        <dt>{{#str}}user{{/str}}</dt>
        <dd>
            {{>tool_lp/user_summary}}
        </dd>
        {{/user}}
        {{/displayuser}}
        <dt>{{#str}}userplans, competency{{/str}}</dt>
        <dd>
        <p>
        <ul class="inline list-inline">
        {{#plans}}
            <li class="list-inline-item"><a href="{{pluginbaseurl}}/plan.php?id={{id}}">{{{name}}}</a></li>
        {{/plans}}
        {{^plans}}
            <li>{{#str}}nouserplanswithcompetency, competency{{/str}}</li>
        {{/plans}}
        </ul>
        </p>
        </dd>
        {{#usercompetencycourse}}
        <dt>{{#str}}proficient, tool_lp{{/str}}</dt>
        <dd>
            <span class="badge {{#proficiency}}badge-success{{/proficiency}}{{^proficiency}}badge-danger{{/proficiency}} float-left">
                {{proficiencyname}}
            </span>
        </dd>
        <dt>{{#str}}rating, tool_lp{{/str}}</dt>
        <dd>{{gradename}}
            {{#cangrade}}
                <button class="btn btn-secondary" id="rate_{{uniqid}}">{{#str}}rate, tool_lp{{/str}}</button>
            {{/cangrade}}
        </dd>
        {{/usercompetencycourse}}
        {{#js}}
        require(['jquery', 'tool_lp/grade_user_competency_inline', 'tool_lp/user_competency_info'], function($, mod, info) {

            var inlineGrader = new mod('#rate_{{uniqid}}', '{{competency.scaleid}}', '{{competency.competency.id}}', '{{user.id}}', '', '{{course.id}}', '{{#str}}chooserating, tool_lp{{/str}}');
            var competencyElement = $('[data-region-id="{{uniqid}}"]');

            var displayuser = ('{{displayuser}}' == 'true') ? true : false;
            var infoReloader = new info(competencyElement, '{{competency.competency.id}}', '{{user.id}}', '', '{{course.id}}', displayuser);

            inlineGrader.on('competencyupdated', infoReloader.reload.bind(infoReloader));
        });

        {{/js}}
    </dl>
    {{#commentarea}}
        {{#canpostorhascomments}}
            {{>tool_lp/comment_area}}
        {{/canpostorhascomments}}
    {{/commentarea}}
    <dl data-region="evidence-listing">
        <dt>{{#str}}evidence, tool_lp{{/str}}</dt>
        <dd>
            {{#evidence}}
                {{> tool_lp/evidence_summary }}
            {{/evidence}}
            {{^evidence}}
                <p>{{#str}}noevidence, tool_lp{{/str}}</p>
            {{/evidence}}
        </dd>
    </dl>
</div>
</div>
{{/usercompetencysummary}}
