{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_search/form-user-selector-suggestion

    Oxygen template for the list of valid options in an autocomplate form element.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * profileimageurlsmall Url to a small profile image.
    * fullname Users full name

    Example context (json):
    { "id": "1",
      "fullname": "Kermit Thefrog",
      "profileimageurlsmall": "https://example.org/img"
    }
}}
<span>
    <img height="12" src="{{profileimageurlsmall}}" alt="" role="presentation">
    <span>{{fullname}}</span>
</span>
