@media (max-width: 480px) {
    .mceToolbar td {
        float: left;
        display: inline-block;
    }
    .OxygenSkin .mceLayout .mceToolbar .mceWrap {
        clear: left;
        width: 100%;
        height: 4px;
    }
    .OxygenSkin .mceLayout .mceToolbar .mceNoWrap {
        clear: none;
        width: 0;
    }

    .o2k7Skin tr.mceLast .mceToolbar tr td.mceWrap,
    .o2k7Skin tr.mceFirst .mceToolbar tr td.mceWrap {
        margin-left: -3px;
    }
}

.mceToolbar td {
    box-sizing: content-box;
}
