{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_policy/user_agreement

    Template for the user agreement icon.

    Classes required for JS:
    -

    Data attributes required for JS:
    -

    Context variables required for this template:
    * statusicon
    * statustext
    * actions
        - url
        - data
        - text
        - title

    Example context (json):
    {
        "statusicon": "accepted",
        "statustext": "Accepted",
        "actions": {
            "url": "/admin/tool/policy/accept.php?param=value",
            "data": "acceptmodal",
            "text": "Withdraw",
            "title": "Withdraw acceptance of Site policy"
        }
    }
}}
<span class="tool_policy-user_agreement-icon">{{#pix}} {{statusicon}}, tool_policy{{/pix}}</span>
<span class="tool_policy-user_agreement-status">{{statustext}}</span>
<span class="tool_policy-user_agreement-actions">
{{#actions}}
    <a href="{{url}}" title="{{title}}" data-action="{{data}}"><small>{{text}}</small></a>
{{/actions}}
</span>
