{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_timeline/course-item

    This template renders the each course block containing a summary and calendar events.

    Example context (json):
    {
        "shortname": "course 3",
        "viewurl": "https://www.google.com",
        "summary": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
    }
}}
<li class="list-group-item mt-3 p-0 border-0">
    <div data-region="course-events-container" id="course-events-container-{{id}}" data-course-id="{{id}}">
        <h4 class="h5"><a href="{{viewurl}}" data-region="course-name">{{{fullnamedisplay}}}</a></h4>
        {{< block_timeline/event-list }}
            {{$courseid}}{{id}}{{/courseid}}
        {{/ block_timeline/event-list }}
    </div>
</li>
