{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_timeline/course-item-loading-placeholder

    This template renders the each course block containing a summary and calendar events.

    Example context (json):
    {}
}}
<li class="list-group-item mt-3 p-0 border-0">
    <div class="w-50 bg-pulse-grey mb-2" style="height: 20px"></div>
    <div>
        <ul class="pl-0 list-group list-group-flush">
            {{> block_timeline/placeholder-event-list-item }}
            {{> block_timeline/placeholder-event-list-item }}
            {{> block_timeline/placeholder-event-list-item }}
            {{> block_timeline/placeholder-event-list-item }}
            {{> block_timeline/placeholder-event-list-item }}
        </ul>
        <div class="pt-3 d-flex justify-content-between">
            <div class="w-25 bg-pulse-grey" style="height: 35px"></div>
            <div class="w-25 bg-pulse-grey" style="height: 35px"></div>
        </div>
    </div>
</li>
