{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_timeline/event-list-items

    This template renders a group of event list items for the timeline block.

    Example context (json):
    {
        "events": [
            {
                "name": "Assignment due 1",
                "url": "https://www.google.com",
                "timesort": 1490320388,
                "course": {
                    "fullnamedisplay": "Course 1"
                },
                "action": {
                    "name": "Submit assignment",
                    "url": "https://www.google.com",
                    "itemcount": 1,
                    "actionable": true
                },
                "icon": {
                    "key": "icon",
                    "component": "mod_assign",
                    "alttext": "Assignment icon"
                }
            },
            {
                "name": "Assignment due 2",
                "url": "https://www.google.com",
                "timesort": 1490320388,
                "course": {
                    "fullnamedisplay": "Course 1"
                },
                "action": {
                    "name": "Submit assignment",
                    "url": "https://www.google.com",
                    "itemcount": 1,
                    "actionable": true
                },
                "icon": {
                    "key": "icon",
                    "component": "mod_assign",
                    "alttext": "Assignment icon"
                }
            }
        ]
    }
}}
<div class="pl-0 list-group list-group-flush">
{{#events}}
    {{> block_timeline/event-list-item }}
{{/events}}
</div>
