{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_timeline/event-list-item

    This template renders an event list item for the timeline block.

    Example context (json):
    {
        "name": "Assignment due 1",
        "url": "https://www.google.com",
        "timesort": 1490320388,
        "course": {
            "fullnamedisplay": "Course 1"
        },
        "action": {
            "name": "Submit assignment",
            "url": "https://www.google.com",
            "itemcount": 1,
            "showitemcount": true,
            "actionable": true
        },
        "icon": {
            "key": "icon",
            "component": "mod_assign",
            "alttext": "Assignment icon"
        }
    }
}}
<div class="list-group-item flex-column py-2 pl-0 pr-0 border-0"
    data-region="event-list-item"
    >
    <div class="d-flex">
        <div class="icon-size-4 d-flex align-self-top">
            {{#icon}}{{#pix}} {{key}}, {{component}}, {{alttext}} {{/pix}}{{/icon}}
        </div>
        <div class="w-100 event-name-container text-truncate line-height-3">
            <a href="{{url}}"
               title={{#quote}}{{{name}}}{{/quote}}
               aria-label='{{#str}} ariaeventlistitem, block_timeline, { "name": {{#quote}}{{{name}}}{{/quote}}, "course": {{#quote}}{{{course.fullnamedisplay}}}{{/quote}}, "date": "{{#userdate}} {{timesort}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}" } {{/str}}'
            ><h6 class="event-name text-truncate mb-0">{{#quote}}{{{name}}}{{/quote}}</h6></a>
            {{#course.fullnamedisplay}}
            <small class="text-muted text-truncate mb-0">{{#quote}}{{{course.fullnamedisplay}}}{{/quote}}</small>
            {{/course.fullnamedisplay}}
            {{#action.actionable}}
            <h6 class="mb-0 pt-2">
                <a href="{{action.url}}" aria-label="{{action.name}}" title="{{action.name}}" class="list-group-item-action">{{{action.name}}}</a>
                {{#action.showitemcount}}
                <span class="badge badge-secondary">{{action.itemcount}}</span>
                {{/action.showitemcount}}
            </h6>
            {{/action.actionable}}
        </div>
        <small class="text-right text-nowrap ml-1">
            {{#userdate}} {{timesort}}, {{#str}} strftimetime24, core_langconfig {{/str}} {{/userdate}}
        </small>

    </div>
</div>
