{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_timeline/main

    This template renders the main content area for the timeline block.

    Example context (json):
    {}
}}

<div id="block-timeline-{{uniqid}}" class="block-timeline" data-region="timeline">
    <div class="container p-0 pb-3 border-bottom">
        <div class="row no-gutters">
            <div class="col-sm d-flex justify-content-start">
                {{> block_timeline/nav-day-filter }}
            </div>
            <div class="col-sm d-flex justify-content-end">
                {{> block_timeline/nav-view-selector }}
            </div>
        </div>
    </div>
    <div class="container p-0">
        {{> block_timeline/view }}
    </div>
</div>
{{#js}}
require(
[
    'jquery',
    'block_timeline/main',
],
function(
    $,
    Main
) {
    var root = $('#block-timeline-{{uniqid}}');
    Main.init(root);
});
{{/js}}
