{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_timeline/nav-view-selector

    This template renders the timeline sort selector.

    Example context (json):
    {}
}}
<div data-region="view-selector" class="btn-group">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle icon-no-margin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            aria-label="{{#str}} ariaviewselector, block_timeline{{/str}}" aria-controls="menusortby">
        {{#pix}} t/sort_by {{/pix}}
        <span class="sr-only" data-active-item-text>
            {{#sorttimelinecourses}}{{#str}} sortbycourses, block_timeline{{/str}}{{/sorttimelinecourses}}
            {{#sorttimelinedates}}{{#str}} sortbydates, block_timeline {{/str}}{{/sorttimelinedates}}
        </span>
    </button>
    <div id="menusortby" role="menu" class="dropdown-menu dropdown-menu-right list-group hidden" data-show-active-item data-skip-active-class="true">
        <a
            class="dropdown-item {{#sorttimelinedates}}active{{/sorttimelinedates}}"
            href="#view_dates_{{uniqid}}"
            data-toggle="tab"
            data-filtername="sortbydates"
            aria-label="{{#str}} ariaviewselectoroption, block_timeline, {{#str}} sortbydates, block_timeline {{/str}}{{/str}}"
            role="menuitem"
            {{#sorttimelinedates}}aria-current="true"{{/sorttimelinedates}}
        >
            {{#str}} sortbydates, block_timeline {{/str}}
        </a>
        <a
            class="dropdown-item {{#sorttimelinecourses}}active{{/sorttimelinecourses}}"
            href="#view_courses_{{uniqid}}"
            data-toggle="tab"
            data-filtername="sortbycourses"
            aria-label="{{#str}} ariaviewselectoroption, block_timeline, {{#str}} sortbycourses, block_timeline {{/str}}{{/str}}"
            role="menuitem"
            {{#sorttimelinecourses}}aria-current="true"{{/sorttimelinecourses}}
        >
            {{#str}} sortbycourses, block_timeline {{/str}}
        </a>
    </div>
</div>
