{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_timeline/event-list-item

    This template renders an event list item loading placeholder for the timeline block.

    Example context (json):
    {}
}}
<li class="list-group-item pl-0 pr-0">
    <div class="row">
        <div class="col-8 pr-0">
            <div class="d-flex flex-row align-items-center" style="height: 32px">
                <div class="bg-pulse-grey rounded-circle" style="height: 32px; width: 32px;"></div>
                <div style="flex: 1" class="pl-2">
                    <div class="bg-pulse-grey w-100" style="height: 15px;"></div>
                    <div class="bg-pulse-grey w-75 mt-1" style="height: 10px;"></div>
                </div>
            </div>
        </div>
        <div class="col-4 pr-3">
            <div class="d-flex flex-row justify-content-end" style="height: 32px; padding-top: 2px">
                <div class="bg-pulse-grey w-75" style="height: 15px;"></div>
            </div>
        </div>
    </div>
</li>
