{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_timeline/view-courses

    This template renders the timeline view by courses for the timeline block.

    Example context (json):
    {}
}}
<div data-region="course-items-loading-placeholder">
    <ul class="list-group unstyled">
        {{> block_timeline/course-item-loading-placeholder }}
        {{> block_timeline/course-item-loading-placeholder }}
    </ul>
    <div class="bg-pulse-grey mt-1" style="width: 100px; height: 30px; margin-left: auto; margin-right: auto"></div>
</div>
<ul class="list-group unstyled" data-region="courses-list"></ul>
<div class="hidden text-xs-center text-center pt-3" data-region="more-courses-button-container">
    <button type="button" class="btn btn-secondary" data-action="more-courses">
        {{#str}} morecourses, block_timeline {{/str}}
        <span class="hidden" data-region="loading-icon-container">
            {{> core/loading }}
        </span>
    </button>
</div>
<div class="hidden text-xs-center text-center mt-3" data-region="no-courses-empty-message">
    <img
        src="{{urls.noevents}}"
        alt="{{#str}} nocoursesinprogress, block_timeline {{/str}}"
        role="presentation"
        style="height: 70px; width: 70px"
    >
    <p class="text-muted mt-1">{{#str}} nocoursesinprogress, block_timeline {{/str}}</p>
</div>
