{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/discussion_settings_body_content

    This template will render the content for the body of the settings page in the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div class="p-2 discussion-settings-container" data-container="discussion-tools">
    <h3 class="mb-2 mt-2 h6 font-weight-bold">{{#str}} general, core {{/str}}</h3>
    {{#capabilities.subscribe}}
        {{< mod_forum/setting_switch}}
            {{$switchid}}subscription-toggle-{{uniqid}}{{/switchid}}
            {{$type}}subscription-toggle{{/type}}
            {{$otherattributes}}
                data-discussionid="{{id}}"
                data-forumid="{{forumid}}"
                {{#userstate.subscribed}}data-targetstate="0" checked{{/userstate.subscribed}}
                {{^userstate.subscribed}}data-targetstate="1"{{/userstate.subscribed}}
            {{/otherattributes}}
            {{$labeltext}}
                {{#str}} subscribediscussion, mod_forum {{/str}}
            {{/labeltext}}
        {{/mod_forum/setting_switch}}
    {{/capabilities.subscribe}}

    {{#capabilities.favourite}}
        {{< mod_forum/setting_switch}}
            {{$switchid}}favorite-toggle-{{uniqid}}{{/switchid}}
            {{$type}}favorite-toggle{{/type}}
            {{$otherattributes}}
                data-discussionid="{{id}}"
                data-forumid="{{forumid}}"
                {{#userstate.favourited}}data-targetstate="0" checked{{/userstate.favourited}}
                {{^userstate.favourited}}data-targetstate="1"{{/userstate.favourited}}
            {{/otherattributes}}
            {{$labeltext}}
                {{#str}} addtofavourites, mod_forum {{/str}}
            {{/labeltext}}
        {{/mod_forum/setting_switch}}
    {{/capabilities.favourite}}

    {{#capabilities.pin}}
        {{< mod_forum/setting_switch}}
            {{$switchid}}pin-toggle-{{uniqid}}{{/switchid}}
            {{$type}}pin-toggle{{/type}}
            {{$otherattributes}}
                data-discussionid="{{id}}"
                data-forumid="{{forumid}}"
                {{#pinned}}data-targetstate="0" checked{{/pinned}}
                {{^pinned}}data-targetstate="1"{{/pinned}}
            {{/otherattributes}}
            {{$labeltext}}
                {{#str}} pindiscussion, mod_forum {{/str}}
            {{/labeltext}}
        {{/mod_forum/setting_switch}}
    {{/capabilities.pin}}

    {{#capabilities.manage}}
        {{^istimelocked}}
            {{< mod_forum/setting_switch}}
                {{$switchid}}lock-toggle-{{uniqid}}{{/switchid}}
                {{$type}}lock-toggle{{/type}}
                {{$otherattributes}}
                    data-discussionid="{{id}}"
                    data-forumid="{{forumid}}"
                    data-state="{{times.locked}}"
                    {{#locked}}checked{{/locked}}
                {{/otherattributes}}
                {{$labeltext}}
                    {{#str}} lockdiscussion, mod_forum {{/str}}
                {{/labeltext}}
            {{/mod_forum/setting_switch}}
        {{/istimelocked}}
    {{/capabilities.manage}}

    {{#movediscussion}}
        <h3 class="h6 mt-4 font-weight-bold">{{#str}} move, core {{/str}}</h3>
        {{{.}}}
    {{/movediscussion}}

    {{#exportdiscussion}}
        <h3 class="h6 mt-4 font-weight-bold">{{#str}} portfolio, portfolio {{/str}}</h3>
        {{{.}}}
    {{/exportdiscussion}}
</div>
