{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/discussion_settings_drawer

    This template will render the discussion settings drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}
{{<core/drawer}}
    {{$drawerid}}discussion-settings-drawer{{/drawerid}}
    {{$drawercontent}}
        <div class="h-100 w-100 bg-white d-flex flex-column p-2">
            {{> mod_forum/settings_header}}
            <div class="body-container position-relative" data-region="body-container">
                {{> mod_forum/discussion_settings_body_content}}
            </div>
        </div>
    {{/drawercontent}}
{{/core/drawer}}
