{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/discussion_subscription_toggle

    Template to display the discussion subscription toggle.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * capabilities Object - Uses the "subscribe" attribute to determine whether to render the subscribe action.
    * urls Object - Uses the "subscribe" attribute for the subscription URl.
    * id int - The discussion ID.
    * forumid int - The forum ID.
    * userstate Object - Uses the "subscribed" attribute to determine the action that will be performed upon toggling.

    Example context (json):
    {
        "capabilities": { "subscribe": true },
        "urls": { "subscribe": "#" },
        "id": 1,
        "forumid": 1,
        "userstate": { "subscribed": true }
    }
}}
{{#capabilities.subscribe}}
    <a
        href="{{{urls.subscribe}}}"
        class="dropdown-item"
        role="menuitem"
        data-type="subscription-toggle"
        data-action="toggle"
        data-discussionid="{{id}}"
        data-forumid="{{forumid}}"
        {{#userstate.subscribed}}
            title="{{#str}}clicktounsubscribe, mod_forum{{/str}}"
            data-targetstate="0"
        {{/userstate.subscribed}}
        {{^userstate.subscribed}}
            title="{{#str}}clicktosubscribe, mod_forum{{/str}}"
            data-targetstate="1"
        {{/userstate.subscribed}}
    >
        {{#userstate.subscribed}}
            {{#str}}unsubscribediscussion, forum{{/str}}
        {{/userstate.subscribed}}
        {{^userstate.subscribed}}
            {{#str}}subscribediscussion, forum{{/str}}
        {{/userstate.subscribed}}
    </a>
{{/capabilities.subscribe}}
