{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/forum_discussion

    Template for displaying a single forum discussion.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}

<div id="discussion-container-{{uniqid}}" data-content="forum-discussion">
{{#html}}
    {{#hasanyactions}}
    <div class="d-flex flex-wrap flex-row-reverse m-b-1 text-right" data-container="discussion-tools">
        <div class="pl-1">
            <div class="discussion-settings-menu">
                {{> mod_forum/forum_action_menu}}
            </div>
        </div>
    </div>
    {{/hasanyactions}}
    {{{neighbourlinks}}}

    <div class="d-flex flex-wrap mb-1">
        <div>{{{exportdiscussion}}}</div>
        <div class="{{#exportdiscussion}}ml-2{{/exportdiscussion}}">{{{modeselectorform}}}</div>
        <div class="ml-2">{{{movediscussion}}}</div>
    </div>
{{/html}}

{{#notifications}}
    {{> core/notification}}
{{/notifications}}

{{{html.posts}}}

{{#html.neighbourlinks}}{{{.}}}{{/html.neighbourlinks}}
</div>
{{#js}}
require(
[
    'jquery',
    'core/templates',
    'mod_forum/discussion',
    'mod_forum/posts_list',
    'mod_forum/lock_toggle',
    'mod_forum/favourite_toggle',
    'mod_forum/pin_toggle',
    'mod_forum/subscription_toggle'
],
function(
    $,
    Templates,
    Discussion,
    PostsList,
    LockToggle,
    FavouriteToggle,
    Pin,
    SubscribeToggle
) {
    var root = $("[data-content='forum-discussion']");
    Discussion.init(root);
    PostsList.init(root);
    root = $('[data-container="discussion-tools"]');
    LockToggle.init(root, true);
    FavouriteToggle.init(root, true, function(toggleElement, context) {
        return Templates.render('mod_forum/discussion_favourite_toggle', context)
            .then(function(html, js) {
                return Templates.replaceNode(toggleElement, html, js);
            });
    });
    Pin.init(root, true, function(toggleElement, context) {
        return Templates.render('mod_forum/discussion_pin_toggle', context)
            .then(function(html, js) {
                return Templates.replaceNode(toggleElement, html, js);
            });
    });
    SubscribeToggle.init(root, true, function(toggleElement, context) {
        return Templates.render('mod_forum/discussion_subscription_toggle', context)
            .then(function(html, js) {
                return Templates.replaceNode(toggleElement, html, js);
            });
    });
});
{{/js}}