{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/forum_discussion_threaded_post

    Template to render a single post from a discussion in a threaded format.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div
    class="mb-2"
    data-post-id="{{id}}"
    data-region="post"
    data-target="{{id}}-target"
    tabindex="-1"
>
    <a href="{{{urls.viewisolated}}}">{{subject}}</a>
    {{^isdeleted}}
        {{{html.authorsubheading}}}
    {{/isdeleted}}

    <div data-region="replies-container">
        <div class="indent">
            {{#replies}}
                {{> mod_forum/forum_discussion_threaded_post }}
            {{/replies}}
        </div>
    </div>
</div>
