{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/mark_as_read

    Template to mark as read menu item.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * urls Object - Uses the 'markasread' attribute for the URL.

    Example context (json):
    {
        "urls": {
            "markasread": "#"
        }
    }
}}
<a class="dropdown-item menu-action" role="menuitem" href="{{{urls.markasread}}}">
    <span class="menu-action-text">{{#str}}markasread, mod_forum{{/str}}</span>
</a>
