{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/quick_search_form

    This template renders the search form within forums.

    Example context (json):
    {
        "actionurl": "https://domain.example/mod/forum/search.php",
        "courseid": "2",
        "helpicon": "<a class='btn'><i class='icon fa fa-question-circle'></i></a>",
        "query": "find this post"
    }
}}
<div class="forumsearch">
    <form action="{{actionurl}}" class="form-inline">
        <input type="hidden" name="id" value="{{courseid}}">
        <div class="input-group">
            <div class="input-group-prepend">
            {{#helpicon}}
                {{>core/help_icon}}
            {{/helpicon}}
            </div>
            <label class="sr-only" for="search">{{#str}}search, forum{{/str}}</label>
            <input id="search" name="search" type="text" class="form-control" value="{{query}}">
            <div class="input-group-append">
                <button class="btn btn-secondary" id="searchforums" type="submit">{{#str}}searchforums, mod_forum{{/str}}</button>
            </div>
        </div>

    </form>
</div>
