{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/settings_drawer_trigger

    This template will render the discussion settings drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {}

}}
<button
    id="toggle-discussion-settings-drawer-{{uniqid}}"
    class="btn btn-icon icon-size-4 icon-no-margin colour-inherit"
    aria-controls="discussion-settings-drawer"
    aria-expanded="false"
    title="{{#str}} togglesettingsdrawer, mod_forum {{/str}}"
>
    {{#pix}} i/settings, core, {{#str}} togglesettingsdrawer, mod_forum {{/str}} {{/pix}}
</button>

{{#js}}
require(['jquery', 'core/drawer'], function($, Drawer) {
    var drawer = $('#discussion-settings-drawer');
    var toggles = drawer.find('[data-action="toggle-settings-drawer"]');
    toggles = toggles.add('#toggle-discussion-settings-drawer-{{uniqid}}');
    Drawer.registerToggles(drawer, toggles);
});
{{/js}}
