{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/settings_header

    This template will render the header for the discussion/forum settings drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {}

}}

<div class="d-flex align-items-center mb-2">
    <button
        class="btn btn-icon icon-size-3 icon-no-margin mr-1 colour-inherit"
        data-action="toggle-settings-drawer"
        aria-controls="discussion-settings-drawer"
        aria-expanded="false"
        title="{{#str}} closebuttontitle, core {{/str}}"
    >
        <span class="dir-ltr-hide">{{#pix}} t/left, core {{/pix}}</span>
        <span class="dir-rtl-hide">{{#pix}} t/right, core {{/pix}}</span>
    </button>
    <h2 class="font-weight-bold h4 mb-0">
        {{#str}} settings, core {{/str}}
    </h2>
</div>
