{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_h5pactivity/local/result/header

    This template will render a results header inside mod_h5pactivity results report.

    Variables required for this template:
    * description - Result description

    Variables optional for this template:
    * success - If the result is marked as success
    * score - The result score string

    Example context (json):
    {
        "timecreated": "1587655101",
        "interactiontype": "choice",
        "description": "Example of some results\n",
        "rawscore": "4",
        "maxscore": "4",
        "duration": "130",
        "success": "1",
        "score": "4 out of 4"
    }

}}
<h3 class="w-100">
    {{{description}}}
</h3>
