{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_h5p/h5pdiv

    This template will render an div for h5p content.

    Variables required for this template:
    * h5pid - The database id for the H5P content

    Example context (json):
    {
        "h5pid": 123
    }

}}

<div class="h5p-content-wrapper">
    <div class="h5p-content" data-content-id="{{h5pid}}"></div>
</div>
