{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_h5p/h5pembed

    This template will render the embed code shown in the H5P content embed popup.

    Variables required for this template:
    * embedurl - The URL with the H5P file to embed

    Example context (json):
    {
        "embedurl": "http://example.com/h5p/embed.php?url=testurl"
    }

}}
<iframe src="{{embedurl}}" name="h5player" width=":w" height=":h"
   allowfullscreen="allowfullscreen" class="h5p-player w-100 border-0"
   style="min-height: 230px;">
</iframe>
