{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_h5p/h5piframe

    This template will render an iframe for h5p content.

    Variables required for this template:
    * h5pid - The database id for the H5P content

    Example context (json):
    {
        "h5pid": 123
    }

}}
<div class="h5p-iframe-wrapper">
    <iframe id="h5p-iframe-{{h5pid}}" class="h5p-iframe" data-content-id="{{h5pid}}"
        style="height:1px; min-width: 100%" src="about:blank">
    </iframe>
</div>