/* Reset */
.OxygenSkin table, .OxygenSkin tbody, .OxygenSkin a, .OxygenSkin img, .OxygenSkin tr, .OxygenSkin div, .OxygenSkin td, .OxygenSkin iframe, .OxygenSkin span, .OxygenSkin *, .OxygenSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.OxygenSkin a:hover, .OxygenSkin a:link, .OxygenSkin a:visited, .OxygenSkin a:active {text-decoration:none; font-weight:normal; color:#000}
.OxygenSkin table td {vertical-align:middle;}

/* New Theme */
.OxygenSkin table {background:transparent; border-spacing: 0; }
.OxygenSkin iframe {display:block;}
.OxygenSkin .mceToolbar {min-height:30px; margin: 4px;}
.OxygenSkin .mceToolbar td + td { background: #fff; border: 1px solid #CCCCCC; border-right: none; border-bottom: 1px solid #b3b3b3; }
.OxygenSkin .mceToolbar td + td:empty { display: none;}
.dir-rtl .OxygenSkin .mceToolbar select,
.OxygenSkin .mceToolbar a.mceButton { display:block; height: 30px; width: 30px; margin: 0; padding: 0; }
.OxygenSkin .mceToolbar a span.mceIcon { height: 30px; width: 30px; margin: 0; }
.OxygenSkin .mceToolbar a span.mceIcon img { padding: 7px; }
.OxygenSkin .mceToolbar .mceGroupStart + td,
.OxygenSkin .mceToolbar .mceToolbarStart + td,
.OxygenSkin .mceToolbar .mceGroupStart + td a,
.OxygenSkin .mceToolbar .mceToolbarStart + td a { border-radius: 4px 0 0 4px; }
.OxygenSkin .mceToolbar .mceGroupStart + td.mceGroupEnd,
.OxygenSkin .mceToolbar .mceGroupStart + td.mceGroupEnd a,
.OxygenSkin .mceToolbar .mceToolbarStart + td.mceGroupEnd,
.OxygenSkin .mceToolbar .mceToolbarStart + td.mceGroupEnd a { border-radius: 4px; }
.OxygenSkin .mceToolbar .mceLast { border: none; }
.OxygenSkin .mceToolbar .mceGroupStart { border: none; width: 4px; background: transparent;}
.OxygenSkin .mceToolbar .mceGroupEnd { border-right: 1px solid #CCCCCC; border-radius: 0 4px 4px 0; border-left: 1px solid #CCCCCC; margin-right: 4px; }
.OxygenSkin .mceToolbar .mceGroupEnd a { border-radius: 0 4px 4px 0; }
.OxygenSkin .mceToolbar td div .mceGroupEnd { border: none;}
.OxygenSkin .mceToolbar .mceListBox { height: 30px; }
.OxygenSkin .mceToolbar .mceListBox td { border: none; border-radius: 0; }
.OxygenSkin .mceToolbar .mceListBox td a { border: none; border-radius: 0; }
.OxygenSkin .mceToolbar .mceToolbarEndPlaceholder { display: none; }
.OxygenSkin .mceToolbar .mceToolbarEnd { background: transparent; border: 0; }
.OxygenSkin.mceListBoxMenu { margin-left: -4px; margin-top: 0px; }


.OxygenSkin .mceToolbar .mceGroupStart + td .mceLast a { border-radius: 0;}


.dir-rtl .OxygenSkin table {background:transparent; border-spacing: 0; }
.dir-rtl .OxygenSkin iframe {display:block;}
.dir-rtl .OxygenSkin .mceToolbar {min-height:30px; margin: 4px;}
.dir-rtl .OxygenSkin .mceToolbar td + td { background: #fff; border: 1px solid #CCCCCC; border-left: none; border-bottom: 1px solid #b3b3b3; }
.dir-rtl .OxygenSkin .mceToolbar td + td:empty { display: none;}
.dir-rtl .OxygenSkin .mceToolbar select,
.dir-rtl .OxygenSkin .mceToolbar a.mceButton { display:block; height: 30px; width: 30px; margin: 0; padding: 0; }
.dir-rtl .OxygenSkin .mceToolbar a span.mceIcon { height: 30px; width: 30px; margin: 0; }
.dir-rtl .OxygenSkin .mceToolbar a span.mceIcon img { padding: 7px 7px; }
.dir-rtl .OxygenSkin .mceToolbar .mceGroupStart + td,
.dir-rtl .OxygenSkin .mceToolbar .mceToolbarStart + td,
.dir-rtl .OxygenSkin .mceToolbar .mceGroupStart + td a,
.dir-rtl .OxygenSkin .mceToolbar .mceToolbarStart + td a { border-radius: 0 4px 4px 0; }
.dir-rtl .OxygenSkin .mceToolbar .mceGroupStart + td.mceGroupEnd,
.dir-rtl .OxygenSkin .mceToolbar .mceGroupStart + td.mceGroupEnd a,
.dir-rtl .OxygenSkin .mceToolbar .mceToolbarStart + td.mceGroupEnd,
.dir-rtl .OxygenSkin .mceToolbar .mceToolbarStart + td.mceGroupEnd a { border-radius: 4px; }
.dir-rtl .OxygenSkin .mceToolbar .mceLast { border: none; }
.dir-rtl .OxygenSkin .mceToolbar .mceGroupStart { border: none; width: 4px; background: transparent;}
.dir-rtl .OxygenSkin .mceToolbar .mceGroupEnd { border-left: 1px solid #CCCCCC; border-radius: 4px 0 0 4px; border-right: 1px solid #CCCCCC; margin-left: 4px; }
.dir-rtl .OxygenSkin .mceToolbar .mceGroupEnd a { border-radius: 4px 0 0 4px; }
.dir-rtl .OxygenSkin .mceToolbar td div .mceGroupEnd { border: none; }
.dir-rtl .OxygenSkin .mceToolbar .mceListBox td { border: none; border-radius: 0; }
.dir-rtl .OxygenSkin .mceToolbar .mceListBox td a { border: none; border-radius: 0; }
.dir-rtl .OxygenSkin .mceToolbar .mceToolbarEndPlaceholder { display: none; }
.dir-rtl .OxygenSkin .mceToolbar .mceToolbarEnd { background: transparent; border: 0;}

/* External */
.OxygenSkin .mceExternalToolbar {position:absolute; border:1px solid #BBB; border-bottom:0;}
.OxygenSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.OxygenSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.OxygenSkin table.mceLayout {border:0; border-left:1px solid #BBB; border-right:1px solid #BBB; border-top:1px solid #BBB;}
.OxygenSkin table.mceLayout tr.mceLast td {border-bottom:1px solid #BBB}
.OxygenSkin .mceIframeContainer {border-top:1px solid #BBB; border-bottom:1px solid #BBB}
.OxygenSkin .mceStatusbar { display:block; font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; height:20px}
.OxygenSkin .mceStatusbar div {float:left; padding:2px}
.OxygenSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(img/resize.png) no-repeat; width:16px; height:16px; cursor:se-resize; outline:0; margin-top: 4px;}
.OxygenSkin .mceStatusbar a:hover {text-decoration:underline}
.OxygenSkin .mceToolbar .mceToolbarStart span, .OxygenSkin .mceToolbar .mceToolbarEnd span {display:none;}
.OxygenSkin .mceToolbar .mceToolbarEndListBox span, .OxygenSkin .mceToolbar .mceToolbarStartListBox span {display:none}
.OxygenSkin span.mceIcon {display:block;}
.OxygenSkin img.mceIcon:not(img) {display:block; width:16px; height:16px; padding: 2px 0 0 2px;}
.OxygenSkin td.mceCenter {text-align:center;}
.OxygenSkin td.mceCenter table {margin:0 auto; text-align:left;}
.OxygenSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.OxygenSkin a.mceButtonEnabled:hover {background-image: radial-gradient(ellipse at center, #ffffff 60%,#dfdfdf 100%);background-color: #ebebeb; cursor: pointer;}
.OxygenSkin a.mceButtonEnabled:active {background-image: radial-gradient(ellipse at center, #ffffff 40%,#dfdfdf 100%);background-color: #dfdfdf;}
.OxygenSkin a.mceButtonActive, .OxygenSkin a.mceButtonSelected {background-image: radial-gradient(ellipse at center, #ffffff 40%,#dfdfdf 100%);background-color: #dfdfdf;}
.OxygenSkin .mceButtonDisabled .mceIcon {opacity:0.3; cursor: default;}
.OxygenSkin .mceButtonLabeled {width:auto}
.OxygenSkin .mceButtonLabeled span.mceIcon {float:left}
.OxygenSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.OxygenSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.OxygenSkin .mceSeparator {display:none;}

/* ListBox */
.OxygenSkin .mceListBox {padding: 0 3px}
.OxygenSkin .mceListBox, .OxygenSkin .mceListBox a {display:block}
.OxygenSkin .mceListBox .mceText {padding-left:4px; text-align:left; width:70px; background:#eaf2fb; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:30px; line-height:30px; overflow:hidden}
.OxygenSkin .mceListBox .mceOpen {width:14px; height:30px; background:url(img/button_bg.png) -66px 0}
.OxygenSkin table.mceListBoxEnabled:hover .mceText, .OxygenSkin .mceListBoxHover .mceText, .OxygenSkin .mceListBoxSelected .mceText {background:#FFF}
.OxygenSkin table.mceListBoxEnabled:hover .mceOpen, .OxygenSkin .mceListBoxHover .mceOpen, .OxygenSkin .mceListBoxSelected .mceOpen {background-position:-66px -22px}
.OxygenSkin .mceListBoxDisabled .mceText {color:gray}
.OxygenSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden; margin-left:3px}
.OxygenSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.OxygenSkin select.mceListBox {font-family:Tahoma,Verdana,Arial,Helvetica; font-size:12px; border:1px solid #BBB; background:#FFF;}

/* SplitButton */
.OxygenSkin .mceSplitButton a {display:block; direction:ltr; height: 22px;}
.OxygenSkin .mceSplitButton, .OxygenSkin .mceSplitButton span {display:block; height:30px; direction:ltr; }
.OxygenSkin .mceSplitButton {width:48px;}
.OxygenSkin .mceSplitButton .mceFirst:hover {background-image:radial-gradient(ellipse at center, #ffffff 60%,#dfdfdf 100%); cursor:pointer;}
.OxygenSkin .mceSplitButton .mceFirst:active {background-image:radial-gradient(ellipse at center, #ffffff 40%,#dfdfdf 100%);}
.OxygenSkin .mceSplitButton .mceFirst {width:30px; padding:4px 0 0 6px;}
.OxygenSkin .mceSplitButton .mceLast {background: transparent; width: 15px;}
.OxygenSkin .mceSplitButton a.mceAction {width:20px}
.OxygenSkin .mceSplitButton a.mceOpen {width:12px; background:url(img/button_bg.png) -66px 0px; border-left: 1px dashed #DDD; border-radius: 0; height: 30px;}
.OxygenSkin .mceSplitButton span.mceOpen {display:none}
.OxygenSkin table.mceSplitButtonEnabled:hover a.mceOpen, .OxygenSkin .mceSplitButtonHover a.mceOpen, .OxygenSkin .mceSplitButtonSelected a.mceOpen {background-position:-66px -22px;}
.OxygenSkin .mceSplitButtonDisabled .mceAction {opacity:0.3;}
.OxygenSkin .mceSplitButtonActive {background-position:0 -44px}

/* ColorSplitButton */
.OxygenSkin div.mceColorSplitMenu { margin-left: -1px; }
.OxygenSkin div.mceColorSplitMenu table {background:#FFF; border: 1px solid #BBB;}
.OxygenSkin .mceColorSplitMenu td {padding:2px}
.OxygenSkin .mceColorSplitMenu a {display:block; width:18px; height:18px; overflow:hidden; border:1px solid #BBB}
.OxygenSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.OxygenSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.OxygenSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.OxygenSkin a.mceMoreColors:hover {border:1px solid #0A246A}
/* Font selector preview stuff */
.OxygenSkin .mce_forecolor span.mceAction, .OxygenSkin .mce_backcolor span.mceAction {height:21px;overflow:hidden; position: relative; z-index: 1; }
.OxygenSkin .mceColorPreview {width:16px; height:16px; overflow:hidden; margin-left: 2px; position: relative; top: -18px;}

/* Menu */
.OxygenSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #BBB; direction:ltr}
.OxygenSkin .mceNoIcons span.mceIcon {width:0;}
.OxygenSkin .mceNoIcons a .mceText {padding-left:10px}
.OxygenSkin .mceMenu table {background:#FFF}
.OxygenSkin .mceMenu a, .OxygenSkin .mceMenu span, .OxygenSkin .mceMenu {display:block}
.OxygenSkin .mceMenu td {height:20px}
.OxygenSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.OxygenSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.OxygenSkin .mceMenu span.mceText, .OxygenSkin .mceMenu .mcePreview {font-size:11px}
.OxygenSkin .mceMenu pre.mceText {font-family:Monospace}
.OxygenSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.OxygenSkin .mceMenu .mceMenuItemEnabled a:hover, .OxygenSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.OxygenSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.OxygenSkin .mceMenuItemTitle a {border:0; background:#E5EFFD; border-bottom:1px solid #BBB}
.OxygenSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.OxygenSkin .mceMenuItemDisabled .mceText {color:#888}
.OxygenSkin .mceMenuItemSelected .mceIcon {background:url(../default/img/menu_check.gif)}
.OxygenSkin .mceNoIcons .mceMenuItemSelected a {background:url(../default/img/menu_arrow.gif) no-repeat -6px center}
.OxygenSkin .mceMenu span.mceMenuLine {display:none}
.OxygenSkin .mceMenuItemSub a {background:url(../default/img/menu_arrow.gif) no-repeat top right;}
.OxygenSkin .mceMenuItem td, .OxygenSkin .mceMenuItem th {line-height: normal}

/* Progress,Resize */
.OxygenSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; background:#FFF}
.OxygenSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(../default/img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}

/* Rtl */
.mceRtl .mceListBox .mceText {text-align: right; padding: 0 4px 0 0}
.mceRtl .mceMenuItem .mceText {text-align: right}

/* Formats */
.OxygenSkin .mce_formatPreview a {font-size:10px}
.OxygenSkin .mce_p span.mceText {}
.OxygenSkin .mce_address span.mceText {font-style:italic}
.OxygenSkin .mce_pre span.mceText {font-family:monospace}
.OxygenSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.OxygenSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.OxygenSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.OxygenSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.OxygenSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.OxygenSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Buttons */
.OxygenSkin span.mce_bold {background:url(img/bold.png) center center no-repeat;}
.OxygenSkin span.mce_underline {background:url(img/underline.png) center center no-repeat;}
.OxygenSkin span.mce_italic {background:url(img/italic.png) center center no-repeat;}
.OxygenSkin span.mce_strikethrough {background:url(img/strikethrough.png) center center no-repeat;}
.OxygenSkin span.mce_undo {background:url(img/undo.png) center center no-repeat;}
.OxygenSkin span.mce_redo {background:url(img/redo.png) center center no-repeat;}
.OxygenSkin span.mce_bullist {background:url(img/bullet_list.png) center center no-repeat;}
.OxygenSkin span.mce_numlist {background:url(img/numbered_list.png) center center no-repeat;}
.OxygenSkin span.mce_justifyleft {background:url(img/align_left.png) center center no-repeat;}
.OxygenSkin span.mce_justifyright {background:url(img/align_right.png) center center no-repeat;}
.OxygenSkin span.mce_justifycenter {background:url(img/align_center.png) center center no-repeat;}
.OxygenSkin span.mce_justifyfull {background:url(img/justify.png) center center no-repeat;}
.OxygenSkin span.mce_anchor {background:url(img/anchor.png) center center no-repeat;}
.OxygenSkin span.mce_indent {background:url(img/increase_indent.png) center center no-repeat;}
.OxygenSkin span.mce_outdent {background:url(img/decrease_indent.png) center center no-repeat;}
.OxygenSkin span.mce_link {background:url(img/insert_edit_link.png) center center no-repeat;}
.OxygenSkin span.mce_unlink {background:url(img/remove_link.png) center center no-repeat;}
.OxygenSkin span.mce_sub {background:url(img/subscript.png) center center no-repeat;}
.OxygenSkin span.mce_sup {background:url(img/superscript.png) center center no-repeat;}
.OxygenSkin span.mce_newdocument {background:url(img/new_document.png) center center no-repeat;}
.OxygenSkin span.mce_image {background:url(img/insert_edit_image.png) center center no-repeat;}
.OxygenSkin span.mce_help {background:url(img/help.png) center center no-repeat;}
.OxygenSkin span.mce_code {background:url(img/source_code.png) center center no-repeat;}
.OxygenSkin span.mce_hr {background:url(img/insert_horizontal_ruler.png) center center no-repeat;}
.OxygenSkin span.mce_charmap {background:url(img/special_character.png) center center no-repeat;}
.OxygenSkin span.mce_paste {background:url(img/paste.png) center center no-repeat;}
.OxygenSkin span.mce_copy {background:url(img/copy.png) center center no-repeat;}
.OxygenSkin span.mce_cut {background:url(img/cut.png) center center no-repeat;}
.OxygenSkin span.mce_blockquote {background:url(img/toggle_blockquote.png) center center no-repeat;}
.OxygenSkin span.mce_removeformat {background:url(img/clear_formatting.png) center center no-repeat;}
.OxygenSkin span.mce_cleanup {background:url(img/cleanup_messy_code.png) center center no-repeat;}
.OxygenSkin span.mce_ltr {background:url(img/left_to_right.png) center center no-repeat;}
.OxygenSkin span.mce_rtl {background:url(img/right_to_left.png) center center no-repeat;}
.OxygenSkin span.mce_emotions {background:url(img/emoticons.png) center center no-repeat;}
.OxygenSkin span.mce_fullscreen {background:url(img/fullscreen.png) center center no-repeat;}
.OxygenSkin span.mce_inserttime {background:url(img/insert_time.png) center center no-repeat;}
.OxygenSkin span.mce_table {background:url(img/table.png) center center no-repeat;}
.OxygenSkin span.mce_nonbreaking {background:url(img/insert_nonbreaking_space.png) center center no-repeat;}
.OxygenSkin span.mce_search {background:url(img/search.png) center center no-repeat;}
.OxygenSkin span.mce_pagebreak {background:url(img/page_break.png) center center no-repeat;}
.OxygenSkin span.mce_visualchars {background:url(img/show_invisible_characters.png) center center no-repeat;}
.OxygenSkin span.mce_template {background:url(img/template.png) center center no-repeat;}
.OxygenSkin span.mce_media {background:url(img/insert_edit_video.png) center center no-repeat;}
.OxygenSkin span.mce_preview {background:url(img/preview.png) center center no-repeat;}
.OxygenSkin span.mce_print {background:url(img/print.png) center center no-repeat;}
.OxygenSkin span.mce_save {background:url(img/save.png) center center no-repeat;}
.OxygenSkin span.mce_pastetext {background:url(img/paste_text.png) center center no-repeat;}
.OxygenSkin span.mce_pasteword {background:url(img/paste_word.png) center center no-repeat;}
.OxygenSkin span.mce_replace {background:url(img/find_replace.png) center center no-repeat;}
.OxygenSkin span.mce_insertlayer {background:url(img/layers.png) center center no-repeat;}
.OxygenSkin span.mce_insert_layer {background:url(img/layers.png) center center no-repeat;}
.OxygenSkin span.mce_movebackward {background:url(img/layers_under.png) center center no-repeat;}
.OxygenSkin span.mce_moveforward {background:url(img/layers_over.png) center center no-repeat;}
.OxygenSkin span.mce_styleprops {background:url(img/styleprops.png) center center no-repeat;}
.OxygenSkin span.mce_insertdate {background:url(img/insert_date.png) center center no-repeat;}
.OxygenSkin span.mce_cancel {background:url(img/cancel.png) center center no-repeat;}
.OxygenSkin span.mce_merge_cells {background:url(img/merge_cells.png) center center no-repeat;}
.OxygenSkin span.mce_split_cells {background:url(img/split_cells.png) center center no-repeat;}
.OxygenSkin span.mce_advhr {background:url(img/advance_hr.png) center center no-repeat;}
.OxygenSkin span.mce_absolute {background:url(img/absolute.png) center center no-repeat;}
.OxygenSkin span.mce_abbr {background:url(img/abbr.png) center center no-repeat;}
.OxygenSkin span.mce_acronym {background:url(img/acronym.png) center center no-repeat;}
.OxygenSkin span.mce_delete_table {background:url(img/delete_table.png) center center no-repeat;}
.OxygenSkin span.mce_delete_col {background:url(img/delete_col.png) center center no-repeat;}
.OxygenSkin span.mce_delete_row {background:url(img/delete_row.png) center center no-repeat;}
.OxygenSkin span.mce_cell_props {background:url(img/cell_props.png) center center no-repeat;}
.OxygenSkin span.mce_col_after {background:url(img/insert_col_after.png) center center no-repeat;}
.OxygenSkin span.mce_col_before {background:url(img/insert_col_before.png) center center no-repeat;}
.OxygenSkin span.mce_row_after {background:url(img/insert_row_after.png) center center no-repeat;}
.OxygenSkin span.mce_row_before {background:url(img/insert_row_before.png) center center no-repeat;}
.OxygenSkin span.mce_visualaid {background:url(img/visual_aid.png) center center no-repeat;}
.OxygenSkin span.mce_table_props {background:url(img/table_props.png) center center no-repeat;}
.OxygenSkin span.mce_row_props {background:url(img/row_props.png) center center no-repeat;}
.OxygenSkin span.mce_selectall {background:url(img/select_all.png) center center no-repeat;}
.OxygenSkin span.mce_cite {background:url(img/cite.png) center center no-repeat;}
.OxygenSkin span.mce_del {background:url(img/delete.png) center center no-repeat;}
.OxygenSkin span.mce_ins {background:url(img/insert.png) center center no-repeat;}
.OxygenSkin span.mce_fullpage {background:url(img/fullpage.png) center center no-repeat;}
.OxygenSkin span.mce_iespell {background:url(img/spellcheck.png) center center no-repeat;}
.OxygenSkin span.mce_restoredraft {background:url(img/restore_draft.png) center center no-repeat;}
.OxygenSkin span.mce_spellchecker {background:url(img/spellcheck.png) center center no-repeat;}
.OxygenSkin span.mce_visualblocks {background:url(img/visual_blocks.png) center center no-repeat;}
.OxygenSkin span.mce_backward {background:url(img/backward.png) center center no-repeat;}
.OxygenSkin span.mce_forward {background:url(img/forward.png) center center no-repeat;}
.OxygenSkin span.mce_attribs {background:url(img/attributes.png) center center no-repeat;}

.OxygenSkin span.mce_forecolorpicker {background:url(img/text_color_picker.png) center center no-repeat;}
.OxygenSkin span.mce_backcolorpicker {background:url(img/text_highlight_picker.png) center center no-repeat;}
.OxygenSkin .mce_forecolor span.mceAction {background:url(img/text_color.png) center center no-repeat;}
.OxygenSkin .mce_backcolor span.mceAction {background:url(img/text_highlight.png) center center no-repeat;}

/* Theme */
.OxygenSkin td.mceToolbar, .OxygenSkin td.mceStatusbar, .OxygenSkin .mceMenuItemTitle a {background:#F2F2F2}
.OxygenSkin .mceListBox .mceText {background:#FFF}
