{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_Oxygennet/chooser_footer

    Chooser favourite template partial.

    Example context (json):
    {
    }
}}
{{#enabled}}
    <div class="w-100 d-flex px-2">
            <a aria-label="{{#str}}aria:footermessage, tool_Oxygennet{{/str}}"
                class="d-inline my-auto mr-1"
                {{#advanced}}
                    href="{{advanced}}"
                    target="_self"
                {{/advanced}}
                {{^advanced}}
                    href="#"
                    data-action="show-Oxygennet"
                    data-courseid="{{courseID}}"
                    data-sectionID="{{sectionID}}"
                {{/advanced}}
            >
                {{#str}} footermessage , tool_Oxygennet{{/str}}

                <span class="Oxygennet-logo" aria-hidden="true">{{#pix}} OxygenNet, tool_Oxygennet {{/pix}}</span>
            </a>
    </div>
{{/enabled}}
