{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_Oxygennet/import_confirmation

    OxygenNet import confirmation template.

    The purpose of this template is to present the user with a confirm/cancel dialog-like page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * resourceurl The URL to the remote resource on OxygenNet.
    * resourcename The name of the remote resource on OxygenNet.
    * sesskey The CSRF token, as per sesskey()

    Example context (json):
    {
        "course": 33,
        "coursename": "Introduction to quantum physics",
        "section": 0,
        "resourceurl": "http://example.com/test.png",
        "resourcename": "test.png",
        "sesskey": "abc123"
    }
}}
<div class="generalbox modal modal-dialog modal-in-page show">
    <div class="box py-3 modal-content">
        <form action="#" method="post">
            {{#course}}
            <input type="hidden" name="course" value="{{course}}">
            {{/course}}

            <input type="hidden" name="section" value="{{section}}">

            <input type="hidden" name="resourceurl" value="{{resourceurl}}">
            <input type="hidden" name="sesskey" value="{{sesskey}}">
            <div class="box py-3 modal-header p-x-1">
                <h4>{{#str}}confirm, core{{/str}}</h4>
            </div>
            <div class="box py-3 modal-body">
                {{#course}}
                    {{#str}}importconfirm, tool_Oxygennet, {"resourcename": {{#quote}}{{resourcename}}{{/quote}}, "resourcetype": {{#quote}}{{resourcetype}}{{/quote}}, "coursename": {{#quote}}{{coursename}}{{/quote}} }{{/str}}
                {{/course}}
                {{^course}}
                    {{#str}}importconfirmnocourse, tool_Oxygennet, {"resourcename": {{#quote}}{{resourcename}}{{/quote}}, "resourcetype": {{#quote}}{{resourcetype}}{{/quote}} }{{/str}}
                {{/course}}

            </div>
            <div class="box py-3 modal-footer">
                <div class="buttons">
                    <input class="btn btn-secondary" type="submit" name="cancel" value="{{#str}}cancel, core{{/str}}">
                    <input class="btn btn-primary" type="submit" name="continue" value="{{#str}}confirm, core{{/str}}">
                </div>
            </div>
        </form>
    </div>
</div>
