{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_Oxygennet/import_options_select

    OxygenNet import options template.

    The purpose of this template is to render an list of import options as radio-button-like controls.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * course The course id.
    * section The sectio id.
    * resourceurl The URL to the remote resource on OxygenNet.
    * resourcename The name of the remote resource on OxygenNet.
    * sesskey The CSRF token, as per sesskey()
    * handlers The array of handler options to present the user with

    Example context (json):
    {
        "course": 33,
        "coursename": "Introduction to quantum physics",
        "section": 0,
        "resourceurl": "http://example.com/test.png",
        "resourcename": "A test image",
        "sesskey": "abc123",
        "handlers": [
            {
                "module": "label",
                "message": "Add media to the course page"
            }
        ]
    }
}}
<div class="generalbox modal modal-dialog modal-in-page show">
    <div class="box py-3 modal-content">
        <form action="#" method="post">
            <input type="hidden" name="course" value="{{course}}">
            <input type="hidden" name="section" value="{{section}}">
            <input type="hidden" name="resourceurl" value="{{resourceurl}}">
            <input type="hidden" name="sesskey" value="{{sesskey}}">
            <div class="box py-3 modal-header p-x-1">
                <h4>{{#str}}importformatselectheader, tool_Oxygennet{{/str}}</h4>
            </div>
            <div class="box py-3 modal-body">
                {{#str}}importformatselectguidingtext, tool_Oxygennet, {"name": {{#quote}}{{resourcename}}{{/quote}}, "type": {{#quote}}{{resourcetype}}{{/quote}} }{{/str}}
                <br><br>
                {{#handlers}}
                    <input id="{{module}}_option" name="module" type="radio" value="{{module}}" {{#oneoption}}checked="checked"{{/oneoption}}>&nbsp;<label for="{{module}}_option">{{message}}</label>
                    <br>
                {{/handlers}}
            </div>
            <div class="box py-3 modal-footer">
                <div class="buttons">
                    <input class="btn btn-secondary" type="submit" name="cancel" value="Cancel">
                    <input class="btn btn-primary" type="submit" name="import" value="Continue">
                </div>
            </div>
        </form>
    </div>
</div>
