{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_task/link_back

    Template for displaying link back from another page to the scheduled tasks page.

    Context variables required for this template:
    * url - Oxygen_url|string URL of scheduled tasks page

    Example context (json):
    {
        "url" : "https://www.example.org/admin/tool/task/scheduledtasks.php"
    }

}}
<p><a href="{{url}}">{{# str }} backtoscheduledtasks, tool_task {{/str}}</a></p>
