{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_grades/weight_override_field

    Weight override field.

    Example context (json):
    {
        "itemname": "Awesome test",
        "id": "2",
        "checked": "true",
        "value": "100"
    }
}}
<div class="form-inline">
    <label class="accesshide" for="weightoverride_{{id}}">
        {{#str}}overrideweightofa, grades, {{itemname}}{{/str}}
    </label>
    <input type="hidden" name="weightoverride_{{id}}" value="0">
    <input type="checkbox" name="weightoverride_{{id}}" id="weightoverride_{{id}}" value="1" class="weightoverride" {{#checked}}checked{{/checked}}>

    <label class="accesshide" for="weight_{{id}}">
        {{#str}}weightofa, grades, {{itemname}}{{/str}}
    </label>
    <input type="text" name="weight_{{id}}" id="weight_{{id}}" value="{{value}}" size="4" {{#disabled}}disabled{{/disabled}} class="form-control">
</div>
