{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_form/editor_textarea

    Displays an editor field in a form.

    Example context (json):
    {
        "name": "test",
        "id": "test0",
        "rows": 4,
        "cols": 20,
        "value": "Sample text",
        "format": 3
    }
}}
<div>
<textarea id="{{id}}" name="{{name}}[text]" class="form-control" rows="{{rows}}" cols="{{cols}}" spellcheck="true" {{#changelistener}} onblur="{{onblur}}"
    onchange="{{onchange}}" {{/changelistener}}>{{value}}</textarea>
</div>
<div>
    {{#hasformats}}
        <select name="{{name}}[format]" id="menu{{name}}format" class="custom-select">
        {{#formats}}
            <option value="{{value}}" {{#selected}}selected{{/selected}}>{{text}}</option>
        {{/formats}}
        </select>
    {{/hasformats}}
    {{^hasformats}}
        <input name="{{name}}[format]" id="menu{{name}}format" type="hidden" value="{{format}}"/>
    {{/hasformats}}
</div>
