{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_form/element-passwordunmask-fill

    The fill for a passwordunmask form element.

    The purpose of this template is to render the fill for a passwordunmask element.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * element
      * valuechars (optional)

    Example context (json):
    {
        "element": {
            "valuechars": [
                "E",
                "x",
                "a",
                "m",
                "p",
                "l",
                "e"
            ]
        }
    }

}}
<span>
{{# element.valuechars }}&bull;{{/ element.valuechars }}
{{^ element.valuechars }}<em>{{!
    }}{{^ element.frozen }}{{# str }} novalueclicktoset, form {{/ str }}{{/ element.frozen }}{{!
    }}{{# element.frozen }}{{# str }} novalue, form {{/ str }}{{/ element.frozen }}{{!
}}</em>{{/ element.valuechars }}
</span>
