{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_form/element-defaultcustom-inline

    Defaultcustom form element template.

    Example context (json):
    {
        "element": {
            "elements": [
                {"html": "<select><option>Default</option><option>Custom</option></select>",
                "separator": ""},
                {"html": "<input type=text>",
                "separator": ""}
            ]
        }
    }
}}
{{< core_form/element-template-inline }}
    {{$element}}
        <span class="fdefaultcustom">
        {{#element.elements}}
            {{{separator}}}
            {{{html}}}
        {{/element.elements}}
        </span>
    {{/element}}
{{/ core_form/element-template-inline }}
