{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_form/element-password-inline

    Password inline form element template.

    Example context (json):
    {
        "element": {
            "name": "test",
            "id": "test0",
            "size": null,
            "error": null,
            "value": "Sample text",
            "frozen": false,
            "iderror": "test0_error",
            "attributes": ""
        }
    }
}}
{{< core_form/element-template-inline }}
    {{$element}}
        {{^element.frozen}}
        <input type="password"
                class="form-control {{#error}}is-invalid{{/error}}"
                name="{{element.name}}"
                id="{{element.id}}"
                value="{{element.value}}"
                {{#element.size}}size="{{element.size}}"{{/element.size}}
                {{#error}}
                    autofocus aria-describedby="{{element.iderror}}"
                {{/error}} {{{element.attributes}}}>
        {{/element.frozen}}
    {{/element}}
{{/ core_form/element-template-inline }}
