{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_form/element-static

    Static form element template. A static form element is an element that just outputs raw HTML.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * element - A context exported from an mform element.
    * element.html - The raw html to display.

    Example context (json):
    {
        "label": "Example label",
        "element": { "html": "Example HTML", "staticlabel": true }
    }
}}
{{< core_form/element-template }}
    {{$element}}
        <div class="form-control-static">
        {{{element.html}}}
        </div>
    {{/element}}
{{/ core_form/element-template }}
