{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_form/filetypes-trigger

    Renders the button to open the file types browser element.

    This template uses <input> element of the type "button" as that one seems
    to be well styled by default (especially when compared to alternatives like
    <button> that are not aligned nicely with the input field.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * filetypeswidget - set to "browsertrigger" to mark the actual clickable element

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}
<input type="button" class="btn btn-secondary" data-filetypeswidget="browsertrigger" value="{{#str}} choose, core {{/str}}" />
