{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_form/filetypes-descriptions

    Template to describe chosen file types.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * hasdescriptions (bool)
    * descriptions (array)
        * description (string)
        * extensions (string)

    Example context (json):
    {
        "hasdescriptions": true,
        "descriptions": [
            {
                "description": "Image (JPEG)",
                "extensions": ".jpeg .jpe .jpg"
            },
            {
                "description": "Image (GIF)",
                "extensions": ".gif"
            }
        ]
    }
}}
<div class="form-filetypes-descriptions w-100">
{{#hasdescriptions}}
    <ul class="list-unstyled unstyled">
        {{#descriptions}}
        <li>{{description}} <small class="text-muted muted">{{extensions}}</small></li>
        {{/descriptions}}
    </ul>
{{/hasdescriptions}}
{{^hasdescriptions}}
    <p>{{#str}}noselection, form{{/str}}</p>
{{/hasdescriptions}}
</div>
