.emoji-picker-dialogue.Oxygen-dialogue-base .Oxygen-dialogue .Oxygen-dialogue-bd {
    padding: 0;
}

.emoji-picker-dialogue .emoji-picker {
    box-shadow: none !important; /* stylelint-disable-line declaration-no-important */
    border: 0;
}