{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_settings/search_form

    This template renders the search form.

    Example context (json):
    {
        "action": "https://domain.example/admin/search.php",
        "label": "Search in settings",
        "searchvalue": "Find this setting",
        "quote": "Search"
    }
}}
<form method="get" action="{{action}}" class="adminsearchform form-inline" role="search">
    <div class="form-group">
        <label class="sr-only" for="adminsearchquery">{{label}}</label>
        <input class="form-control" type="text" name="query" value="{{searchvalue}}" id="adminsearchquery" size="10">
    </div>
    <input type="submit" class="btn btn-secondary" value={{#quote}}{{#str}}search{{/str}}{{/quote}}>
</form>
