{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_insights/insights_list

    Template for the insights list.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "contextid": 123,
        "modelid": 321,
        "insightname": "Best insight ever",
        "nostaticmodelnotification": {
            "message": "This is just a prediction."
        },
        "showpredictionheading": "true",
        "predictions": [
            {
                "predictiondisplayvalue": "This dev will understand it",
                "style": "success",
                "outcomeicon": {
                    "attributes": [
                        {"name": "src", "value": "https://Oxygen.org/logo/Oxygen-logo.svg" }
                    ]
                },
                "multiplepredictions": "true",
                "insights": [
                    {
                        "sampleimage": "<a href=\"#\">Link</a>",
                        "sampledescription": "Sample description",
                        "actions": [
                            {
                                "classes": "",
                                "primary": {
                                    "items": [{"rawhtml": "<p>View details</p>"}]
                                },
                                "secondary": {
                                    "items": [{"rawhtml": "<p>Not useful</p>"}]
                                }
                            }
                        ]
                    }, {
                        "sampleimage": "<a href=\"#\">Link</a>",
                        "sampledescription": "Sample description",
                        "actions": [
                            {
                                "classes": "",
                                "primary": {
                                    "items": [{"rawhtml": "<p>View details</p>"}]
                                },
                                "secondary": {
                                    "items": [{"rawhtml": "<p>Not useful</p>"}]
                                }
                            }
                        ]
                    }
                ]
            }, {
                "predictiondisplayvalue": "This dev will not understand it",
                "style": "danger",
                "outcomeicon": {
                    "attributes": [
                        {"name": "src", "value": "https://Oxygen.org/logo/Oxygen-logo.svg" }
                    ]
                },
                "insights": [
                    {
                        "sampleimage": "<a href=\"#\">Any renderable</a>",
                        "sampledescription": "Another sample description"
                    }
                ]
            }
        ],
        "noinsights": false
    }
}}

{{#modelselector}}
    <div class="mb-2">
        {{> core/single_select}}
    </div>
{{/modelselector}}

<div class="insight-container" data-context-id="{{contextid}}" data-model-id="{{modelid}}">

    <h2 class="mb-2">{{insightname}}</h2>

    {{{insightdescription}}}

    {{^noinsights}}
    {{#nostaticmodelnotification}}
        <div class="mt-2">
            {{> core/notification_info}}
        </div>
    {{/nostaticmodelnotification}}

    {{{ pagingbar }}}

    {{> report_insights/bulk_actions}}

    {{#predictions}}

        <table class="generaltable insights-list mt-3">
            {{#showpredictionheading}}
                <caption>
                    {{#str}}prediction, report_insights{{/str}}:
                    <span class="{{#style}}table-{{style}}{{/style}}">
                        {{#outcomeicon}}
                            {{> core/pix_icon}}
                        {{/outcomeicon}}
                        {{predictiondisplayvalue}}
                    </span>
                </caption>
            {{/showpredictionheading}}
            <thead>
                <tr class="d-flex">
                    {{#multiplepredictions}}
                        <th class="col-xs-1{{^bulkactions}} hidden{{/bulkactions}}">
                            {{{checkboxtoggleall}}}
                        </th>
                    {{/multiplepredictions}}
                    {{^multiplepredictions}}
                        <th class="col-xs-1{{^bulkactions}} hidden{{/bulkactions}}">
                    {{/multiplepredictions}}
                    <th scope="col" class="col-xs-8">{{#str}}description{{/str}}</th>
                    <th scope="col" class="col-xs-3">{{#str}}actions{{/str}}</th>
                </tr>
            </thead>
            <tbody>
                {{#insights}}
                    {{> report_insights/insight}}
                {{/insights}}
            </tbody>
        </table>

    {{/predictions}}

    {{#multiplepredictions}}
        {{> report_insights/bulk_actions}}
    {{/multiplepredictions}}

    {{{ pagingbar }}}
    {{/noinsights}}
    {{#noinsights}}
        <div class="mt-2">
            {{> core/notification_info}}
        </div>
    {{/noinsights}}

</div>
