{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/local/grades/local/grader/navigation

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-action="togglefullscreen"
    * data-action="closegrader"
    * data-action="savegrade"
    * data-action="expandgrader"

    Context variables required for this template:
    * moduleName: The name of the module this grading interface is for i.e. "Chef the Forum"

    Example context (json):
    {
        "moduleName": "Chef the Forum"
    }
}}
<nav id="nav-container-{{uniqid}}" class="grader-grading_navigation navbar" aria-label="{{#str}} forumgradingnavigation, mod_forum {{/str}}">
    <div class="d-none d-sm-flex align-items-center">
        <a href="{{{courseUrl}}}" class="btn btn-link px-2 colour-inherit">
            <h5 class="d-inline px-0 mb-0">{{courseName}}</h5>
        </a>
        <span class="text-muted icon-no-margin">{{#pix}} i/breadcrumbdivider, core {{/pix}}</span>
        <button class="btn btn-link px-2 colour-inherit" data-action="closegrader">
            <h5 class="d-inline px-0 mb-0">{{moduleName}}</h5>
        </button>
        <span class="text-muted icon-no-margin">{{#pix}} i/breadcrumbdivider, core {{/pix}}</span>
        <h5 class="d-inline px-2 mb-0 font-weight-bold">{{#str}}grading, forum{{/str}}</h5>
    </div>

    <div class="ml-auto">
        <button
            class="btn btn-icon icon-no-margin drawer-button mr-1 active"
            data-action="expand-grading-drawer"
            aria-controls="grading-drawer-{{uniqid}}"
            aria-expanded="true"
            type="button"
            title="{{#str}} showgraderpanel, mod_forum {{/str}}"
        >
            <span class="dir-ltr-hide" aria-hidden="true">{{#pix}} show-grader-panel-rtl, mod_forum, {{#str}} showgraderpanel, mod_forum {{/str}} {{/pix}}</span>
            <span class="dir-rtl-hide" aria-hidden="true">{{#pix}} show-grader-panel, mod_forum, {{#str}} showgraderpanel, mod_forum {{/str}} {{/pix}}</span>
        </button>
        <button
            class="btn btn-icon icon-no-margin drawer-button mr-1"
            aria-label="{{#str}} hidegraderpanel, mod_forum {{/str}}"
            data-action="collapse-grading-drawer"
            aria-controls="grading-drawer-{{uniqid}}"
            aria-expanded="true"
            type="button"
            title="{{#str}} hidegraderpanel, mod_forum {{/str}}"
        >
            <span aria-hidden="true">{{#pix}} hide-grader-panel, mod_forum, {{#str}} hidegraderpanel, mod_forum {{/str}} {{/pix}}</span>
        </button>
        <button
            class="btn btn-primary font-weight-bold ml-2 px-4"
            data-action="savegrade"
        >
            {{#str}} save {{/str}}
        </button>
        <button
            class="btn btn-secondary font-weight-bold ml-2 px-4"
            aria-label="{{#str}} closegrader, mod_forum {{/str}}"
            data-action="closegrader"
            type="button"
        >
            {{#str}} close, mod_forum {{/str}}
        </button>
        <div class="btn-group">
        <button
                class="btn btn-icon text-muted icon-no-margin icon-size-3 ml-2"
                type="button"
                id="grader-actions-menu-{{uniqid}}"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                aria-label="{{#str}} actionsforgraderinterface, mod_forum {{/str}}"
            >
                {{#pix}} i/menu, core {{/pix}}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="grader-actions-menu-{{uniqid}}">
                <button
                    class="dropdown-item"
                    type="button"
                    data-action="togglefullscreen"
                    type="button"
                >
                    {{#str}} togglefullscreen, mod_forum {{/str}}
                </button>
            </div>
        </div>
    </div>
</nav>
