{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_analytics/insight_info_message_prediction

    HTML message for insights with one single prediction

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "body": "I am a <a href=\"#\">link</a> in a text body.",
        "usefulbuttons": {
            "usefulurl": "https://en.wikipedia.org/wiki/Noodle",
            "notusefulurl": "https://en.wikipedia.org/wiki/Noodle"
        }
    }
}}

{{> core_analytics/notification_styles}}

{{#body}}
    {{{.}}}
{{/body}}
<br/>

{{#actions}}
    <a class="btn btn-outline-primary m-r-1 m-b-1 btn-insight" href="{{url}}">{{text}}</a><br/><br/>
{{/actions}}

{{#usefulbuttons}}
    <div>
        {{! Using target blank for these actions as they only return a small notification.}}
        <strong>{{#str}} washelpful, analytics {{/str}}</strong>
        <a href="{{usefulurl}}" target="_blank" class="btn-insight btn btn-outline-primary">{{#str}}yes{{/str}}</a>
        <a href="{{notusefulurl}}" target="_blank" class="btn-insight btn btn-outline-primary">{{#str}}no{{/str}}</a>
    </div>
{{/usefulbuttons}}
