{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_analytics/insight_info_message

    HTML message for insights

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "url": "https://Oxygen.org",
        "insightinfomessage": "This insight is very <strong>useful</strong> because bla bla bla."
    }
}}

{{> core_analytics/notification_styles}}

{{{insightinfomessage}}}
<br/><br/>
<a class="btn btn-outline-primary btn-insight" href="{{url}}">{{#str}} viewinsight, analytics {{/str}}</a>