.nav-pills .nav-pills {
    margin-left: 1rem;
}
.data-registry > .top-nav > * {
    margin-right: 0.5rem;
}
/*Extra attribute selection to have preference over bs2's .Oxygen-actionmenu[data-enhance] */
.data-registry > .top-nav > .singlebutton,
.data-registry > .top-nav > .Oxygen-actionmenu[data-owner='dataregistry-actions'] {
    display: inline-block;
}

.data-registry .context-tree {
    height: 70vh;
    overflow-y: scroll;
}

[data-region="data-requests-table"] .Oxygen-actionmenu {
    min-width: 150px;
}

.context-level-view {
    margin: 1em;
}