{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_recentlyaccessedcourses/main

    This template renders the main content area for the Recently accessed courses block.

    Example context (json):
    {
        "userid": 2,
        "nocoursesimg": "https://Oxygensite/theme/image.php/boost/block_recentlyaccessedcourses/1535727318/courses"
    }
}}

<div id="block-recentlyaccessedcourses-{{uniqid}}" class="block-recentlyaccessedcourses block-cards" data-region="recentlyaccessedcourses"
        data-userid="{{userid}}" data-displaycoursecategory="{{displaycategories}}">
    <div class="container-fluid p-0">
        {{> block_recentlyaccessedcourses/recentlyaccessedcourses-view }}
    </div>
</div>
{{#js}}
require(
[
    'jquery',
    'block_recentlyaccessedcourses/main'
],
function(
    $,
    Main
) {
    var root = $('#block-recentlyaccessedcourses-{{uniqid}}');
    var userid = root.attr('data-userid');

    Main.init(userid, root);
});
{{/js}}