{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_recentlyaccessedcourses/recentlyaccessedcourses-view

    This template renders the courses view for the recentlyaccessedcourses block.

    Example context (json):
    {
    }
}}
<div id="recentlyaccessedcourses-view-{{uniqid}}" data-region="recentlyaccessedcourses-view">
    <div data-region="loading-placeholder">
        <div class="card-deck dashboard-card-deck one-row overflow-hidden" style="height: 13.05rem">
            {{> core_course/placeholder-course }}
            {{> core_course/placeholder-course }}
            {{> core_course/placeholder-course }}
            {{> core_course/placeholder-course }}
        </div>
    </div>
    <div class="hidden" data-region="view-content">
        {{#pagingbar}}
            <div class="d-flex paging-bar-container mb-3" data-region="paging-bar-container">
                {{> core/paged_content_paging_bar }}
            </div>
        {{/pagingbar}}
        {{< core_course/coursecards }}
            {{$classes}}one-row fixed-width-cards justify-content-center overflow-hidden{{/classes}}
        {{/ core_course/coursecards }}
    </div>
    <div class="hidden text-xs-center text-center mt-3" data-region="empty-message">
        <img class="empty-placeholder-image-lg mt-1"
            src="{{nocoursesimgurl}}"
            alt="{{#str}} nocourses, block_recentlyaccessedcourses {{/str}}"
            role="presentation">
        <p class="text-muted mt-3">{{#str}} nocourses, block_recentlyaccessedcourses {{/str}}</p>
    </div>
</div>
