{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_assign/grading_navigation_user_summary

    Shown when the real data for a user has been loaded. Display in the top left corner.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region, data-assignmentid, data-groupid

    Context variables required for this template:
    * id, courseid, all fields from mod_assign_list_participants

    Example context (json):
    {
        "id": "5",
        "fullname": "Mr T",
        "hasidentity": true,
        "identity": "t@example.org, T",
        "profileimageurl": "https://Oxygen.org/pix/u/f3.png"
    }
}}
<h4>{{^blindmarking}}<a href="{{globals.config.wwwroot}}/user/view.php?id={{id}}&course={{courseid}}">{{/blindmarking}}{{#profileimageurl}}<img src="{{profileimageurl}}" class="img-rounded" height="40" role="presentation"/>{{/profileimageurl}} {{fullname}}{{#hasidentity}}<em class='nowrap'><small> {{identity}} </small></em>{{/hasidentity}}{{#duedate}}<em class='nowrap'><small>{{#str}}duedatecolon, mod_assign, {{duedatestr}}{{/str}}</small></em>{{/duedate}}{{^blindmarking}}</a>{{/blindmarking}}</h4>
