{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_contentbank/bankcontent/search

    Example context (json):
    {}

}}
<div class="searchbar input-group" role="search">
    <label for="searchinput">
        <span class="sr-only">{{#str}} searchcontentbankbyname, contentbank {{/str}}</span>
    </label>
    <input type="text"
           id="searchinput"
           class="form-control searchinput border-right-0"
           placeholder="{{#str}} search, core {{/str}}"
           name="search"
           autocomplete="off"
    >
    <div class="input-group-append">
        <div class="input-group-text bg-transparent">
            <div class="search-icon">
                <button class="btn p-0 align-baseline icon-no-margin" data-action="searchcontent"
                    aria-label="{{#str}} search, core {{/str}}">
                    <span class="d-flex" aria-hidden="true">{{#pix}} a/search, core {{/pix}}</span>
                </button>
            </div>
            <div class="clear-icon d-none">
                <button class="btn p-0 align-baseline icon-no-margin" data-action="clearsearchcontent"
                    aria-label="{{#str}} clearsearch, core {{/str}}">
                    <span class="d-flex" aria-hidden="true">{{#pix}} e/cancel_solid_circle, core {{/pix}}</span>
                </button>
            </div>
        </div>
    </div>
</div>