{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/local/grades/local/view_grade

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region="grade-template"

    Context variables required for this template:
    * none

    Example context (json):
    {
        "templatename": "core_grades/grades/grader/gradingpanel/point",
        "grade": {
            "usergrade": 55,
            "maxgrade": 100,
            "timemodified": 1573543598
        },
        "hasgrade": true
    }
}}
<div class="container-fluid grade-display" data-region="view-grade">
    {{#grade}}
        <div class="row-fluid px-3">
            <h5 class="font-weight-bold description">{{#str}}grade{{/str}}:</h5>
            <p class="ml-auto">{{usergrade}} / {{maxgrade}}</p>
        </div>
        <div class="row-fluid px-3">
            <h5 class="font-weight-bold description">{{#str}}gradedby, forum{{/str}}:</h5>
            <p class="ml-auto">
                {{#gradedby}}
                    {{gradedby}}
                {{/gradedby}}
                {{^gradedby}}
                    -
                {{/gradedby}}
            </p>
        </div>
        <div class="row-fluid px-3">
            <h5 class="font-weight-bold description">{{#str}}date{{/str}}:</h5>
            <p class="ml-auto">{{#userdate}}{{timemodified}}, {{#str}} strftimedate, langconfig {{/str}}{{/userdate}}</p>
        </div>
    {{/grade}}
    <div class="row-fluid px-3">
        <h5 class="font-weight-bold description">
            {{#str}}gradingstatus, forum{{/str}}
        </h5>
        <p class="ml-auto">
            {{#hasgrade}}
                {{#str}}graded, forum{{/str}}
            {{/hasgrade}}
            {{^hasgrade}}
                {{#str}}notgraded, forum{{/str}}
            {{/hasgrade}}
        </p>
    </div>
    <div class="row-fluid p-3">
        <fieldset class="w-100" disabled="disabled">
            <div class="w-100" data-region="grade-template"></div>
        </fieldset>
    </div>
</div>
