{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/action_menu

    Action menu.

    Example context (json):
    {
        "classes": "",
        "primary": {
            "items": [{"rawhtml": "<p>Item in primary menu</p>"}]
        },
        "secondary": {
            "items": [{"rawhtml": "<p>Item in secondary menu</p>"}]
        }
    }
}}
<div class="action-menu {{classes}} d-inline"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>
    {{#primary}}

        <div class="{{classes}} d-flex "{{#attributes}} {{name}}="{{value}}"{{/attributes}}>

            {{#prioritise}}{{> core/action_menu_trigger }}{{/prioritise}}

            {{#items}}
                <div class="action-menu-item">
                    {{> core/action_menu_item }}
                </div>
            {{/items}}

            {{^prioritise}}
                <div class="action-menu-trigger">
                    {{> core/action_menu_trigger }}
                </div>
            {{/prioritise}}

        </div>

    {{/primary}}
</div>
