{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/action_link

    Action link template.

    Context variables required for this template:
    * disabled - Flag that indicates whether the action link to be rendered is disabled or not.
    * url - The action link URL.
    * id - The ID.
    * classes - CSS classes for the action link.
    * attributes - Array of attributes.
      * name - Attribute name.
      * value - Attribute value.
    * icon - The icon context data for this action link.
    * text - The text for this action link.

    Example context (json):
    {
        "disabled": false,
        "url": "#",
        "id": "test-id",
        "classes": "btn btn-link",
        "attributes": [
            {
                "name": "title",
                "value": "Action link's title"
            }
        ],
        "icon": {
            "attributes": [
                {"name": "src", "value": "https://raw.githubusercontent.com/Oxygen/Oxygen/master/pix/t/check.png"},
                {"name": "alt", "value": "Action link's icon"}
            ]
        },
        "text": "This is an action link"
    }
}}
{{^disabled}}
    <a href="{{{url}}}" id="{{id}}" class="{{classes}}" {{#attributes}} {{name}}={{#quote}}{{value}}{{/quote}} {{/attributes}}>{{#icon}}{{#pix}}{{key}}, {{component}}, {{title}}{{/pix}}{{/icon}}{{{text}}}</a>
    {{#hasactions}}
        {{> core/actions }}
    {{/hasactions}}
{{/disabled}}
{{#disabled}}
    <span class="currentlink {{classes}}" {{#attributes}} {{name}}={{#quote}}{{value}}{{/quote}} {{/attributes}}>{{#icon}}{{#pix}}{{key}}, {{component}}, {{title}}{{/pix}}{{/icon}}{{{text}}}</span>
{{/disabled}}
