{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/add_block_body

    Template for the body of the add block modal.

    Context variables required for this template:
    * blocks - list of blocks containing name and title
    * url - base url for links back to same page.

    Example context (json):
    {
        "blocks" : [ { "name": "test", "title": "Test block" } ],
        "url" : "?a=b"
    }

}}
<div class="list-group">
{{#blocks}}
    <a href="{{url}}&amp;bui_addblock={{name}}" class="list-group-item list-group-item-action">{{title}}</a>
{{/blocks}}
</div>
