{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/async_backup_progress.

    Oxygen Asynchronous backup status template.

    The purpose of this template is to render status
    updates during an asynchronous backup or restore
    process..

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    *

    Example context (json):
    {
        "backupid": "f04abf8cba0319e486a3dfa7e9cb4476",
        "restoreid": "f04abf8cba0319e486a3dfa7e9cb4477",
        "operation": "backup",
        "width": "500"
    }
}}
<div class="progress active" style="height: 25px; width: {{#width}}{{width}}{{/width}}{{^width}}500{{/width}}px;">
    <div id="{{backupid}}_bar"
         class="progress-bar progress-bar-striped progress-bar-animated"
         style="width: 100%"
         role="progressbar"
         aria-valuemin="0"
         aria-valuemax="100"
         aria-valuenow="0"
         {{#operation}}data-operation="{{operation}}"{{/operation}}
         {{#backupid}}data-backupid="{{backupid}}"{{/backupid}}
         {{#restoreid}}data-restoreid="{{restoreid}}"{{/restoreid}}>
        {{# str }} asyncprocesspending, backup {{/ str }}
    </div>
</div>
