{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/async_restore_progress_row.

    Oxygen Asynchronous restore status table row template.

    The purpose of this template is to render status
    table row updates during an asynchronous restore process.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    *

    Example context (json):
    {}
}}
<span class="action-icon">
  <i class="icon fa fa-check fa-fw " title="{{# str }} successfulcopy, backup {{/ str }}" aria-label="{{# str }} successfulcopy, backup {{/ str }}"></i>
</span>
