{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_auth/output/verify_age_location_page

    Example context (json):
    {
        "logourl": "https://Oxygen.org/logo/Oxygen-logo.svg",
        "sitename": "Site name",
        "error": "Error message",
        "formhtml": "(Form html would go here)"
    }
}}
<div class="container-fluid mt-1 mt-md-5">
    <div class="row justify-content-md-center">
        <div class="col-md-8 push-md-2 col-xl-6 push-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-xs-center">
                        {{#logourl}}
                            <h2><img src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}"/></h2>
                        {{/logourl}}
                        {{^logourl}}
                            <h2>{{sitename}}</h2>
                        {{/logourl}}
                        <hr>
                    </div>
                    {{#error}}
                        <div class="alert alert-danger" role="alert" data-aria-autofocus="true">
                            {{{error}}}
                        </div>
                    {{/error}}
                    <div class="card-title">
                        <h3>{{#str}}agelocationverification{{/str}}</h3>
                    </div>
                    <div class="mt-2 mb-2">
                        {{{formhtml}}}
                    </div>
                    <hr>
                    <div class="card-title">
                        <h3>{{#str}}whyisthisrequired{{/str}}</h3>
                    </div>
                    <div class="mt-1">
                        <p >{{#str}}explanationdigitalminor{{/str}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
