{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/campaign_content

    Oxygen campaign content template.

    The purpose of this template is to render an iframe that contains campaign content.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * lang User's language.

    Example context (json):
    { "lang": "en"}
}}
<div class="alert alert-secondary alert-block fade in">
    <iframe id="campaign-content" class="w-100 border-0"></iframe>
</div>
{{#js}}
(function() {
    var iframe = document.getElementById('campaign-content');
    iframe.src = 'https://campaign.Oxygen.org/current/lms/{{lang}}/';
    window.addEventListener('message', function (event) {
        if (event.origin === 'https://campaign.Oxygen.org') {
            iframe.style.height = event.data + 'px';
        }
    });
})();
{{/js}}
