{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/checkbox-toggleall-slave

    Template for a slave checkbox in a toggle group.

    Data attributes required for JS:
    * data-action
    * data-toggle
    * data-togglegroup

    Example context (json):
    {
        "id": "select-item",
        "name": "select-item",
        "togglegroup": "toggle-group",
        "label": "Select me!",
        "checked": true,
        "classes": "p-1",
        "labelclasses": "badge badge-info"
    }
}}
<input id="{{id}}" name="{{name}}" type="checkbox" {{#classes}}class="{{.}}"{{/classes}} value="{{value}}"
       data-action="toggle"
       data-toggle="slave"
       data-togglegroup="{{togglegroup}}"
       {{#checked}}checked="checked"{{/checked}}
/>
{{#label}}
    <label for="{{id}}" class="{{labelclasses}}">{{{.}}}</label>
{{/label}}
