{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/chooser_item

    Chooser item.

    Example context (json):
    {
        "id": "1",
        "paramname": "param",
        "value": "1",
        "label": "item one",
        "description": "description one"
    }
}}
<div class="option">
    <label for="item_{{id}}">
        <input type="radio" name="{{paramname}}" id="item_{{id}}" value="{{value}}">
        <span class="modicon">
            {{#icon}}
                {{>core/pix_icon}}
            {{/icon}}
        </span>
        <span class="typename">{{label}}</span>
        <span class="typesummary">
            {{{description}}}
        </span>
    </label>
</div>
