{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/columns-1to1to1

    Oxygen columns-1to1to1 template.

    The purpose of this template is to render a template with 3 columns.
    On mobile the columns stack underneath each other.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * col1content Column 1 contents.
    * col2content Column 2 contents.
    * col3content Column 3 contents.

    Example context (json):
    {
        "col1content": "<div class='alert alert-error'>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque id urna sit amet tempor.</div>",
        "col2content": "<div class='alert alert-success'>2. Donec lacus nisl, molestie eget sodales non, sodales et nibh. Praesent dignissim placerat sodales.</div>",
        "col3content": "<div class='alert alert-info'>3. Praesent sit amet ante odio. In mollis nisl at mi bibendum venenatis.</div>"
    }

}}
<div class="row">
    <div class="col-md-4">{{$ column1 }}{{{ col1content }}}{{/ column1 }}</div>
    <div class="col-md-4">{{$ column2 }}{{{ col2content }}}{{/ column2 }}</div>
    <div class="col-md-4">{{$ column3 }}{{{ col3content }}}{{/ column3 }}</div>
</div>
