{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/copy_box

    Interface element to contain text that the user should copy. Will automaticaly select when clicked.

    Classes required for JS:
    * copy_box

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * text The content to be displayed ready for copying

    Example context (json):
    { "text": "Copyable text"}
}}
<input type="text" class="copy_box" value="{{{ text }}}" readonly="readonly" size="48" {{#id}}id={{#quote}}{{{id}}}-{{{uniqid}}}{{/quote}}{{/id}}/>
{{# js }}
require(['jquery'], function($) {
    $('.copy_box').on('click', function() {
        $(this).select();
    });
});
{{/ js }}
