{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/dataformat_selector

    Context variables required for this template:
    * label
    * base
    * name
    * params
    * options
    * sesskey
    * submit

    Example context (json):
    {
        "base": "http://example.org/",
        "name": "test",
        "value": "test",
        "label": "Download table data as",
        "params": false,
        "options": [{"label": "CSV", "name": "csv"}, {"label": "Excel", "name": "excel"}],
        "submit": "Download",
        "sesskey": ""
    }
}}
<form method="get" action="{{base}}" class="dataformatselector m-1">
    <div class="form-inline text-xs-right">
        <input type="hidden" name="sesskey" value="{{sesskey}}">
        <label for="downloadtype_{{name}}" class="mr-1">{{label}}</label>
        <select name="{{name}}" id="downloadtype_{{name}}" class="form-control custom-select mr-1">
            {{#options}}
                <option value="{{value}}">{{label}}</option>
            {{/options}}
        </select>
        <button type="submit" class="btn btn-secondary">{{submit}}</button>
        {{#params}}
            <input type="hidden" name="{{name}}" value="{{value}}">
        {{/params}}
    </div>
</form>
