{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/drawer

    This template will render a generic drawer panel.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {}
}}
<div
    id="{{$drawerid}}drawer-{{uniqid}}{{/drawerid}}"
    class="{{$drawerclasses}}{{/drawerclasses}} drawer bg-white {{^show}}hidden{{/show}}"
    aria-expanded="{{#show}}true{{/show}}{{^show}}false{{/show}}"
    {{^show}}aria-hidden="true"{{/show}}
    data-region="right-hand-drawer"
    role="region"
    tabindex="0"
>
    {{$drawercontent}}{{/drawercontent}}
</div>
