{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/email_text

    Template for all html emails. Note that it may wrap content formatted
    elsewhere in another a module template.

    Context variables required for this template:
    * sitefullname
    * siteshortname
    * sitewwwroot
    * subject
    * to
    * toname
    * touserid
    * from
    * fromname
    * replyto
    * replytoname
    * body
    * prefix

    Example context (json):
    {
        "prefix": "[Prefix Text]",
        "body": "Email body"
    }
}}
{{{body}}}
