{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/filemanager_processexistingfile

    This template renders the popup dialogue window asking for action when file with the same name already exists.

    Example context (json):
    {}
}}
<div class="file-picker fp-dlg">
    <p class="fp-dlg-text"></p>
    <div class="fp-dlg-buttons">
        <button class="fp-dlg-butoverwrite btn btn-primary mb-1">{{#str}}overwrite, repository{{/str}}</button>
        <button class="fp-dlg-butrename btn btn-primary mb-1"></button>
        <button class="fp-dlg-butcancel btn btn-secondary mb-1">{{#str}}cancel{{/str}}</button>
    </div>
</div>
