{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/filemanager_fileselect

    This template renders the window with file information/actions.

    Example context (json):
    {
        "helpicon": "<a class='btn ..'><i class='icon fa fa-question-circle ..'></i></a>",
        "licensehelpicon": {
            "text": "<ul><li><a href='http://en.wikipedia.org/wiki/All_rights_reserved'>All rights reserved</a></li></ul>",
            "alt": "Help with Choose license"
        },
        "columns": true
    }
}}
<div class="filemanager fp-select">
    <div class="fp-select-loading">
        {{#pix}}i/loading_small{{/pix}}
    </div>
    <form class="mform clearfix">
        <div class="form-group mx-0">
            <button class="fp-file-download btn btn-secondary">{{#str}}download{{/str}}</button>
            <button class="fp-file-delete btn btn-secondary">{{#str}}delete{{/str}}</button>
            <button class="fp-file-setmain btn btn-secondary">{{#str}}setmainfile, repository{{/str}}</button>
            <span class="fp-file-setmain-help">{{{helpicon}}}</span>
            <button class="fp-file-zip btn btn-secondary">{{#str}}zip, editor{{/str}}</button>
            <button class="fp-file-unzip btn btn-secondary">{{#str}}unzip{{/str}}</button>
        </div>

                <div class="fp-saveas form-group row mx-0">
                    <label class="form-control-label col-4 px-0">{{#str}}name, repository{{/str}}</label>
                    <div class="col-8 form-inline"><input class="form-control" type="text"/></div>
                </div>
                <div class="fp-author form-group row mx-0">
                    <label class="form-control-label col-4 px-0">{{#str}}author, repository{{/str}}</label>
                    <div class="col-8 form-inline"><input class="form-control" type="text"/></div>

                </div>
                <div class="fp-license form-group row mx-0">
                    {{>core/filemanager_chooselicense}}
                </div>
                <div class="fp-path form-group row mx-0">
                    <label class="form-control-label col-4 px-0">{{#str}}path, repository{{/str}}</label>
                    <div class="col-8 form-inline pr-0">
                        <select class="custom-select form-control"></select>
                    </div>
                </div>
                <div class="fp-original form-group row mx-0">
                    <div class="form-control-label col-4 px-0">{{#str}}original, repository{{/str}}</div>
                    <div class="col-8 form-inline">
                        <span class="fp-originloading">{{#pix}}i/loading_small{{/pix}} {{#str}}loading, repository{{/str}}</span><span class="fp-value"></span>
                    </div>
                </div>
                <div class="fp-reflist form-group row mx-0">
                    <div class="form-control-label col-4 px-0">{{#str}}referenceslist, repository{{/str}}</div>
                    <div class="col-8 form-inline">
                        <p class="fp-refcount"></p>
                        <span class="fp-reflistloading">{{#pix}}i/loading_small{{/pix}} {{#str}}loading, repository{{/str}}</span>
                        <ul class="fp-value"></ul>
                    </div>
                </div>
        <div class="fp-select-buttons form-group">
            <button class="fp-file-update btn-primary btn">{{#str}}update{{/str}}</button>
            <button class="fp-file-cancel btn-secondary btn">{{#str}}cancel{{/str}}</button>
        </div>
    </form>
    <div class="fp-info clearfix">
        <hr>
        <p class="fp-thumbnail"></p>
        <div class="fp-fileinfo">
            <div class="fp-datemodified">{{#str}}lastmodified, repository{{/str}} <span class="fp-value"></span></div>
            <div class="fp-datecreated">{{#str}}datecreated, repository{{/str}} <span class="fp-value"></span></div>
            <div class="fp-size">{{#str}}size, repository{{/str}} <span class="fp-value"></span></div>
            <div class="fp-dimensions">{{#str}}dimensions, repository{{/str}} <span class="fp-value"></span></div>
        </div>
    </div>
</div>
