{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/filemanager_licenselinks

    This template renders the window with file information/actions.

    Example context (json):
    {
        "licenses":[
           {
              "fullname":"All rights reserved",
              "source":"http:\/\/en.wikipedia.org\/wiki\/All_rights_reserved"
           },
           {
              "fullname":"Public Domain",
              "source":"http:\/\/creativecommons.org\/licenses\/publicdomain\/"
           },
           {
              "fullname":"Creative Commons",
              "source":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/"
           },
           {
              "fullname":"Creative Commons - NoDerivs",
              "source":"http:\/\/creativecommons.org\/licenses\/by-nd\/3.0\/"
           },
           {
              "fullname":"Creative Commons - No Commercial NoDerivs",
              "source":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0\/"
           },
           {
              "fullname":"Creative Commons - No Commercial",
              "source":"http:\/\/creativecommons.org\/licenses\/by-nc\/3.0\/"
           },
           {
              "fullname":"Creative Commons - No Commercial ShareAlike",
              "source":"http:\/\/creativecommons.org\/licenses\/by-nc-sa\/3.0\/"
           },
           {
              "fullname":"Creative Commons - ShareAlike",
              "source":"http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/"
           }
        ]
    }
}}
<p class="mb-1">
    {{#str}}chooselicense_help, repository{{/str}}
</p>
<ul>
{{#licenses}}
    <li>
        <a href="{{source}}" target="_blank">{{fullname}}</a>
    </li>
{{/licenses}}
{{^licenses}}
    <li>
        {{#str}}nolicenses, repository{{/str}}
    </li>
{{/licenses}}
</ul>
