{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/filemanager_chooselicense

    This template renders the form label and select element for choosing a license associated with a file.

    Example context (json):
    {
        "licensehelpicon": {
            "text": "<ul><li><a href='http://en.wikipedia.org/wiki/All_rights_reserved'>All rights reserved</a></li></ul>",
            "alt": "Help with Choose license"
        },
        "columns": true
    }
}}
<div class="col-form-label form-control-label px-0 {{#columns}}col-4{{/columns}}">
    <label for="choose-license-{{uniqid}}">
        {{#str}}chooselicense, repository{{/str}}
    </label>
    {{#licensehelpicon}}{{>core/help_icon}}{{/licensehelpicon}}
</div>
<div {{#columns}}class="col-8"{{/columns}}>
    <select id="choose-license-{{uniqid}}" class="form-control"></select>
</div>
