{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/form_autocomplete_suggestions

    Oxygen template for the list of valid options in an autocomplate form element.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * suggestionsId The dom id of the current suggestions list.
    * options List of options with label and value fields.

    Example context (json):
    { "suggestionsId": 1, "options": [
        { "label": "Item label with <strong>tags</strong>", "value": "5" },
        { "label": "Another item label with <strong>tags</strong>", "value": "4" }
    ]}
}}
<ul class="form-autocomplete-suggestions" id="{{suggestionsId}}" role="listbox" aria-hidden="true" tabindex="-1">
    {{#options}}
        <li role="option" data-value="{{value}}">{{{label}}}</li>
    {{/options}}
</ul>
