{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/paged_content_paging_bar_item

    This template renders a single item in the paging bar.

    Example context (json):
    {
        "url": "#",
        "number": 1,
        "page": "1",
        "active": true
    }
}}
<li class="page-item {{#active}}active{{/active}} {{#disabled}}disabled{{/disabled}}"
    data-region="page-item"
    {{$attributes}}{{/attributes}}>

    <a href="{{#url}}{{.}}{{/url}}{{^url}}#{{/url}}"
       class="page-link"
       data-region="page-link">
        {{$item-content}}
            {{{page}}}
        {{/item-content}}
    </a>
</li>
