{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/paged_content_pages

    This template renders each of the content regions for a paginated
    content section.

    Example context (json):
    {
        "pages": [
            {
                "active": true,
                "page": 1,
                "content": "<p>Some page content</p>"
            },
            {
                "page": 2,
                "content": "<p>Some page content</p>"
            }
        ]
    }
}}
<div
    id="{{$pagingcontentid}}page-container-{{uniqid}}{{/pagingcontentid}}"
    data-region="page-container"
    class="paged-content-page-container"
    aria-live="polite"
>
    {{#pages}}
        {{$paged-content-page}}
            {{> core/paged_content_page }}
        {{/paged-content-page}}
    {{/pages}}
</div>
