{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/paged_content_paging_dropdown

    This template renders the bootstrap style dropdown menu to control
    paged content.

    Example context (json):
    {
        "options": [
            {
                "itemcount": 25,
                "content": "25",
                "active": true
            },
            {
                "itemcount": 25,
                "content": "50"
            },
            {
                "itemcount": 50,
                "content": "100"
            }
        ]
    }
}}
<div class="dropdown mb-1"
    id="paging-dropdown-{{uniqid}}"
    data-region="paging-dropdown-container">

    <button class="btn btn-secondary dropdown-toggle"
        id="paging-dropdown-menu-button-{{uniqid}}"
        type="button"
        data-region="dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">

        {{#options}}
            {{#active}}
                {{{content}}}
            {{/active}}
        {{/options}}
    </button>
    <div class="dropdown-menu" aria-labelledby="paging-dropdown-menu-button-{{uniqid}}">
        {{#options}}
            {{> core/paged_content_paging_dropdown_item }}
        {{/options}}
        {{< core/paged_content_paging_dropdown_item }}
            {{$itemcount}}0{{/itemcount}}
            {{$content}}{{#str}} all {{/str}}{{/content}}
        {{/ core/paged_content_paging_dropdown_item }}
    </div>
</div>
