{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/paged_content_paging_dropdown_item

    This template renders a single item in the paging dropdown menu.

    Example context (json):
    {
        "itemcount": 25,
        "content": "25",
        "active": true
    }
}}
<a class="dropdown-item {{#active}}active{{/active}} {{#disabled}}disabled{{/disabled}} {{$classes}}{{/classes}}"
    data-region="dropdown-item"
    data-item-count="{{$itemcount}}{{itemcount}}{{/itemcount}}"
    href="#">

    {{$content}}{{{content}}}{{/content}}
</a>
