{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/paged_content_page

    This template renders the content of a page. It is to be used with
    the paging bar or paging dropdown to toggle visibility of the content items.

    Example context (json):
    {
        "active": true,
        "page": 1,
        "content": "<p>Some page content</p>"
    }
}}
<div data-region="paged-content-page"
     data-page="{{page}}"
     class="{{^active}}hidden{{/active}} {{$classes}}{{/classes}}">
    {{$content}}
        {{{content}}}
    {{/content}}
</div>
