{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/pix_icon

    Oxygen pix_icon template.

    The purpose of this template is to render a pix_icon.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * attributes Array of name / value pairs. Includes title, alt, src.
    * extraclasses List of extra classes to append.

    Example context (json):
    {
        "attributes": [
            { "name": "src", "value": "https://Oxygen.org/logo/Oxygen-logo.svg" },
            { "name": "extraclasses", "value": "iconsmall" },
            {"name": "alt", "value": "Alt text for icon"}
        ]
    }

}}
<img class="icon {{extraclasses}}" {{#attributes}}{{name}}="{{value}}" {{/attributes}}/>