{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template forumreport_summary/export_link_button

    Summary report filters.

    Example context (json):
    {
        "url": "wwwroot/Oxygen/mod/forum/export.php?userids[]=12",
        "label": "Export posts for Joey Jojo"
    }
}}

<button class="btn btn-primary export-link" data-url="{{{url}}}" aria-label="{{label}}" title="{{label}}">
    {{# str}}export, mod_forum{{/ str}}
</button>
