{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_badges/external_backpacks_page

    Manage backpacks.

    Context variables required for this template:
    * backpacks - array of objects containing id, backpackweburl, enabled, apiversion and sortorder

    Example context (json):
    {
        "backpacks": [
            {"backpackweburl": "http://localhost/", "sitebackpack": true, "canedit": false, "cantest": true}
        ]
    }
}}

<form action="{{baseurl}}" method="get" id="createbackpack">
   <input type="hidden" name="action" value="edit"/>
   <button type="submit" class="btn btn-secondary">{{#str}}newbackpack, core_badges{{/str}}</button>
</form>

<table class="generaltable fullwidth" id="backpacklist">
    <caption>{{#str}}listbackpacks, core_badges{{/str}}</caption>
    <thead>
        <tr>
            <th scope="col">{{#str}}backpackweburl, core_badges{{/str}}</th>
            <th scope="col">{{#str}}sitebackpack, core_badges{{/str}}</th>
            <th scope="col">{{#str}}actions, core_badges{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#backpacks}}
        <tr data-backpackurl="{{{backpackweburl}}}">
            <td> {{{backpackweburl}}} </td>
            <td> {{#sitebackpack}}Yes{{/sitebackpack}} </td>
            <td>
            {{#canedit}}
                <a href="{{baseurl}}?id={{id}}&action=edit">{{#pix}}t/edit, core,{{#str}}editsettings{{/str}}{{/pix}}</a>
            {{/canedit}}
            {{^iscurrent}}
                <a href="{{baseurl}}?id={{id}}&action=delete" role="button" data-action="deletebackpack">
                    {{#pix}}t/delete, core,{{#str}}delete{{/str}}{{/pix}}
                </a>
            {{/iscurrent}}
            {{#cantest}}
                <a href="{{baseurl}}?id={{id}}&action=test">{{#pix}}t/check, core,{{#str}}testsettings, core_badges{{/str}}{{/pix}}</a>
            {{/cantest}}
            </td>
        </tr>
        {{/backpacks}}
    </tbody>
</table>