{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_rss_client/block

    Template which defines an RSS Feeds block

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * feeds - array: An array of RSS feeds.

    Example context (json):
    {
        "feeds": [
            {
                "title": "News from around my living room",
                "image": {
                    "url": "https://www.example.com/feeds/news/poster.jpg",
                    "title": "Example News Logo",
                    "link": "https://www.example.com/feeds/news/"
                },
                "items": [
                    {
                        "id": "https://www.example.com/node/12",
                        "link": "https://www.example.com/my-turtle-story.html",
                        "title": "My Turtle Story",
                        "description": "This is a story about my turtle.",
                        "permalink": "https://www.example.com/my-turtle-story.html",
                        "datepublished": "11 January 2016, 7:11 pm"
                    },
                    {
                        "id": "https://www.example.com/node/12",
                        "link": "https://www.example.com/my-cat-story.html",
                        "title": "My Story",
                        "description": "This is a story about my cats.",
                        "permalink": "https://www.example.com/my-cat-story.html",
                        "datepublished": "12 January 2016, 9:12 pm"
                    }
                ]
            },
            {
                "title": "News from around my kitchen",
                "image": {
                    "url": "https://www.example.com/feeds/news/kitchen.jpg",
                    "title": "Picture of My Kitchen",
                    "link": "https://www.example.com/feeds/news/kitchen/"
                },
                "items": [
                    {
                        "id": "https://www.example.com/node/10",
                        "link": "https://www.example.com/oven-smoke.html",
                        "title": "Why is the Oven Smoking?",
                        "description": "There is something smoking in the oven.",
                        "permalink": "https://www.example.com/oven-smoke.html",
                        "datepublished": "10 January 2016, 1:13 pm"
                    },
                    {
                        "id": "https://www.example.com/node/13",
                        "link": "https://www.example.com/coffee-is-good.html",
                        "title": "Why My Coffee Machine is So Great!",
                        "description": "Don't be fancy; drips are best.",
                        "permalink": "https://www.example.com/oven-smoke.html",
                        "datepublished": "13 January 2016, 8:25 pm"
                    }
                ]
            }
        ]
    }
}}
{{#feeds}}
    {{> block_rss_client/feed}}
{{/feeds}}
