{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_rss_client/channel_image

    Template which defines an item in an RSS Feed

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * url - string: The escaped URL of the image.
    * title - string: The title of the image.
    * link - string: Optionally, a URL to link the image to. Must be escaped.

    Example context (json):
    {
        "url": "http://www.example.com/images/catpic.jpg",
        "title": "A picture of my cat",
        "link": "http://www.example.com/cat-news/"
    }
}}
<div class="image" title="{{title}}">
    {{#link}}
        <a href="{{{link}}}">
    {{/link}}

    <img src="{{{url}}}" alt="{{title}}" />

    {{#link}}
        </a>
    {{/link}}
</div>
