{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_rss_client/feed

    Template which defines an item in an RSS Feed

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * channel_image - object: URL, title and link for the channel image.
    * title - string: The title of the feed.
    * items - array: An array of feed items.

    Example context (json):
    {
        "title": "News from around my living room",
        "image": {
            "url": "https://www.example.com/feeds/news/poster.jpg",
            "title": "Example News Logo",
            "link": "https://www.example.com/feeds/news/"
        },
        "feeditems": [
            {
                "id": "https://www.example.com/node/12",
                "link": "https://www.example.com/my-turtle-story.html",
                "title": "My Turtle Story",
                "description": "This is a story about my turtle.",
                "permalink": "https://www.example.com/my-turtle-story.html",
                "datepublished": "11 January 2016, 7:11 pm"
            },
            {
                "id": "https://www.example.com/node/12",
                "link": "https://www.example.com/my-cat-story.html",
                "title": "My Story",
                "description": "This is a story about my cats.",
                "permalink": "https://www.example.com/my-cat-story.html",
                "datepublished": "12 January 2016, 9:12 pm"
            }
        ]
    }
}}
{{$image}}
    {{#image}}
        {{> block_rss_client/channel_image}}
    {{/image}}
{{/image}}

{{$title}}
    {{#title}}
        <div class="title">{{title}}</div>
    {{/title}}
{{/title}}

{{$items}}
    <ul class="list no-overflow">
        {{#items}}
            {{> block_rss_client/item}}
        {{/items}}
    </ul>
{{/items}}
