{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_rss_client/footer

    Template which defines an item in an RSS Feed

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * channellink - string: The channel URL. Must be escaped.

    Example context (json):
    {
        "channellink": "https://www.example.com/feeds/rss"
    }
}}
{{#channellink}}
    <a href="{{{channellink}}}">{{#str}} clientchannellink, block_rss_client {{/str}}</a>
    {{#hasfailedfeeds}}<br>{{/hasfailedfeeds}}
{{/channellink}}
{{#hasfailedfeeds}}
    <a href="{{{manageurl}}}">{{#str}} failedfeeds, block_rss_client {{/str}}</a>
{{/hasfailedfeeds}}