{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_rss_client/item

    Template which defines an item in an RSS Feed

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id - string: A unique id for the feed item.
    * link - string: The URL of the feed item. Must already be escaped.
    * title - string: The title of the feed item.
    * description - string: The text description of the feed item.
    * permalink - string: The permalink of the feed item. Must already be escaped.
    * datepublished - string: The date the feed item was published.

    Example context (json):
    {
        "id": "https://www.example.com/node",
        "link": "https://www.example.com/my-cat-story.html",
        "title": "My Story",
        "description": "This is a story about my cats.",
        "permalink": "https://www.example.com/my-cat-story.html",
        "datepublished": "12 January 2016, 9:12 pm"
    }
}}
<li class="p-y-1">
    {{$title}}
        <div class="link">
            <a href="{{{link}}}" onclick='this.target="_blank"'>{{title}}</a>
        </div>
    {{/title}}

    {{$content}}
        {{#description}}
            <div class="date text-muted muted mb-1">
                <small>{{{datepublished}}}</small>
            </div>
            <div class="description">
                {{{description}}}
            </div>
        {{/description}}
    {{/content}}
</li>
