{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
  @template core_customfield/display_field

  Example context (json):
  {
      "hasvalue": 1,
      "fieldtype" : "text",
      "fieldname" : "Nick name",
      "fieldshortname" : "nickname",
      "fieldvalue" : "Star Lord"
  }
}}
{{#hasvalue}}
    <div class="customfield customfield_{{type}} customfield_{{shortname}}">
        <span class="customfieldname">{{{name}}}</span><span class="customfieldseparator">: </span><span class="customfieldvalue">{{{value}}}</span>
    </div>
{{/hasvalue}}
