{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_recentlyaccesseditems/main

    This template renders the main content area for the Recently accessed itemes block.

    Example context (json):
    {}
}}

<div id="block-recentlyaccesseditems-{{uniqid}}" class="block-recentlyaccesseditems block-cards" data-region="recentlyaccesseditems">
    <div class="container-fluid p-0">
        {{> block_recentlyaccesseditems/recentlyaccesseditems-view }}
    </div>
</div>
{{#js}}
require(
[
    'jquery',
    'block_recentlyaccesseditems/main',
],
function(
    $,
    Main
) {
    var root = $('#block-recentlyaccesseditems-{{uniqid}}');

    Main.init(root);
});
{{/js}}