{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_recentlyaccesseditems/no-items

    This template renders the no items message.

    Example context (json):
    {
        "noitemsimgurl": "https://Oxygensite/theme/image.php/boost/block_recentlyaccesseditems/1535727318/items"
    }
}}
<div class="text-center" data-region="empty-message">
    <img class="empty-placeholder-image-lg"
        src="{{noitemsimgurl}}"
        alt="{{#str}} noitems, block_recentlyaccesseditems {{/str}}"
        role="presentation"
    >
    <p class="text-muted mt-3 mb-0">{{#str}} noitems, block_recentlyaccesseditems {{/str}}</p>
</div>