{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_recentlyaccesseditems/placeholder-item

    This template renders a card item loading placeholder for the Recently accessed items block.

    Example context (json):
    {}
}}
<div class="card dashboard-card border-0 mb-0">
        <div class="d-flex flex-row align-items-center" style="height: 6rem">
            <div class="bg-pulse-grey rounded-circle" style="height: 2rem; width: 2rem;"></div>
            <div class="w-100 line-height-3 ml-1">
                <div class="bg-pulse-grey w-100" style="height: 1rem;"></div>
                <div class="bg-pulse-grey w-75 mt-1" style="height: 0.8rem;"></div>
            </div>
        </div>
</div>