{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_recentlyaccesseditems/recentlyaccesseditems-view

    This template renders the items view for the Recently accessed items block.

    Example context (json):
    {
        "noitemsimgurl": "https://Oxygensite/theme/image.php/boost/block_recentactivities/1535727318/items"
    }
}}
<div id="recentlyaccesseditems-view-{{uniqid}}"
     data-region="recentlyaccesseditems-view"
     data-noitemsimgurl="{{noitemsimgurl}}">
    <div data-region="recentlyaccesseditems-view-content">
        <div data-region="recentlyaccesseditems-loading-placeholder">
            <div class="card-deck dashboard-card-deck one-row">
                {{> block_recentlyaccesseditems/placeholder-item }}
                {{> block_recentlyaccesseditems/placeholder-item }}
                {{> block_recentlyaccesseditems/placeholder-item }}
                {{> block_recentlyaccesseditems/placeholder-item }}
                {{> block_recentlyaccesseditems/placeholder-item }}
            </div>
        </div>
    </div>
</div>

