{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public Licensebllsdsadfasfd
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_recentlyaccesseditems/view-cards

    This template renders the items cards of the Recently accessed items block.

    Example context (json):
    {
        "items": [
            {
                "cmid": 64,
                "courseid": 2,
                "coursename": "Course",
                "courseviewurl": "https://Oxygensite/course/view.php?id=2",
                "icon": "<img class=\"icon\" alt=\"Forum\" title=\"Forum\" src=\"http://Oxygensite/theme/image.php/boost/forum/1539858121/icon\" />",
                "name": "Assignment due 1",
                "id": 17,
                "modname": "Forum",
                "name": "Forum",
                "timeaccess": 1539848498,
                "userid": 2,
                "viewurl": "http://Oxygensite/mod/forum?id=64"
            }
        ]
    }
}}

<div class="card-deck dashboard-card-deck one-row" role="list">
    {{#items}}
        <a class="card dashboard-card mb-1 py-2 coursename" href="{{{viewurl}}}">
            <div class="card-body course-info-container">
                <div class="d-flex text-truncate">
                    <div class="d-flex align-self-center">
                        {{{icon}}}
                    </div>
                    <div class="w-100 line-height-3 text-truncate ml-2">
                        <h6 class="mb-0 text-truncate">{{{name}}}</h6>
                        <small class="text-muted text-truncate mb-0">{{{coursename}}}</small>
                    </div>
                </div>
            </div>
        </a>
    {{/items}}
</div>