{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_starredcourses/main

    This template renders the main content area for the starred courses block.

    Example context (json):
    {}
}}

<div id="block-starredcourses-{{uniqid}}" class="block-starredcourses block-cards" data-region="starred-courses"
        data-displaycoursecategory="{{displaycategories}}">
    <div class="container-fluid p-0">
        {{> block_starredcourses/view }}
    </div>
</div>
{{#js}}
require(['block_starredcourses/main'], function(Main) {
    Main.init('#block-starredcourses-{{uniqid}}');
});
{{/js}}
