{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_starredcourses/view

    This template renders the view for the starred courses block.

    Example context (json):
    {
        "nocoursesimg": "https://Oxygensite/theme/image.php/boost/block_starredcourses/1535727318/courses"
    }
}}
<div id="starred-courses-view-{{uniqid}}"
     data-region="starred-courses-view"
     data-nocoursesimg="{{nocoursesimg}}">
    <div data-region="starred-courses-view-content">
        <div data-region="starred-courses-loading-placeholder">
            <div class="card-deck dashboard-card-deck one-row" style="height: 11.1rem">
                {{> core_course/placeholder-course }}
                {{> core_course/placeholder-course }}
                {{> core_course/placeholder-course }}
            </div>
        </div>
    </div>
</div>
