{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_dataprivacy/delete_activity_defaults

    Renders the confirmation.

    Classes required for JS:

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * activityname String - The activity name.

    Example context (json):
    {
        "activityname": "Assignment"
    }
}}

<div class="alert alert-warning" role="alert">
    {{#str}}defaultswarninginfo, tool_dataprivacy{{/str}}
</div>
<div>
    {{#str}}deletedefaultsconfirmation, tool_dataprivacy, {{activityname}}{{/str}}
</div>
