{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_forum/grades/grade_button

    Template which defines a forum post for sending in a single-post HTML email.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<button
    class="btn btn-secondary"
    data-grade-action="view"
    data-contextid="{{contextid}}"
    data-cmid="{{cmid}}"
    data-name="{{name}}"
    data-group="{{groupid}}"
    data-userid="{{userid}}"
    data-grading-component="{{gradingcomponent}}"
    data-grading-component-subtype="{{gradingcomponentsubtype}}"
    data-gradable-itemtype="forum"
    >
        {{#str}}viewgrades, forum{{/str}}
</button>
{{#js}}
    require(['mod_forum/grades/grader'], function(Grader) {
    Grader.registerLaunchListeners();
    });
{{/js}}
