{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/local/toast/message

    Template to render a Toast notification.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "data": 200,
        "autohide": true,
        "Message": "Cubing negative numbers is tough",
        "closebutton": true
    }
}}
<div id="toast-{{uniqid}}" class="toast bg-dark text-white rounded mx-auto" data-delay="{{delay}}" {{^autohide}}data-autohide="false"{{/autohide}}>
  <div class="toast-body">
    <span>{{{message}}}</span>
    {{#closeButton}}
    <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast" aria-label="{{#str}}dismissnotification, core{{/str}}">
      <span aria-hidden="true">&times;</span>
    </button>
    {{/closeButton}}
  </div>
</div>
{{#js}}
require(['jquery', 'theme_boost/bootstrap/toast'], function(jQuery) {
    // Show the toast.
    // Bootstrap toast components are not shown automatically.
    jQuery('#toast-{{uniqid}}').toast('show');

    jQuery('#toast-{{uniqid}}').on('hidden.bs.toast', function(e) {
        e.target.remove();
    });
});
{{/js}}
