{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template gradereport_history/user_button

    Template which defines a forum post for sending in a single-post HTML email.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "name": "showreport",
        "label": "Select users",
        "value": "1",
        "classes": "singlebutton selectusersbutton gradereport_history_plugin",
        "method": "get",
        "url": "/grade/report/history/index.php",
        "formid": "selectusersbutton{generated}",
        "params": "true",
        "id": "single_button{generated}",
        "tooltip": "Select users",
        "disabled": ""
    }
}}
<div class="{{classes}}">
    <div method="{{method}}" action="{{url}}" id="{{formid}}">
        {{#params}}
            <input type="hidden" name="{{name}}" value="{{value}}">
        {{/params}}
        <input type="button" class="btn btn-secondary selectortrigger"
            id="{{id}}"
            title={{#quote}}{{tooltip}}{{/quote}}
            value={{#quote}}{{label}}{{/quote}}
            {{#disabled}}disabled{{/disabled}}>
    </div>
</div>
{{#hasactions}}
    {{#js}}
        require(['core/yui'], function(Y) {
            {{#actions}}
                Y.on('{{event}}', {{{jsfunction}}}, '#{{id}}', null{{#jsfunctionargs}}, {{{jsfunctionargs}}}{{/jsfunctionargs}});
            {{/actions}}
        });
    {{/js}}
{{/hasactions}}
