{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/courses-view

    This template renders the courses view for the myoverview block.

    Example context (json):
    {
        "nocoursesimg": "https://Oxygensite/theme/image.php/boost/block_myoverview/1535727318/courses",
        "grouping": "all",
        "sort": "fullname",
        "view": "card"
    }
}}
<div id="courses-view-{{uniqid}}"
    data-region="courses-view"
    data-display="{{view}}"
    data-grouping="{{grouping}}"
    data-customfieldname="{{customfieldname}}"
    data-customfieldvalue="{{customfieldvalue}}"
    data-sort="{{sort}}"
    data-prev-display="{{view}}"
    data-paging="{{paging}}"
    data-nocoursesimg="{{nocoursesimg}}"
    data-totalcoursecount="{{totalcoursecount}}"
    data-displaycategories="{{displaycategories}}">
    <div data-region="course-view-content">
        {{> block_myoverview/placeholders }}
    </div>
</div>
