{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/course-action-menu

    This template renders action menu for each course.

    Example context (json):
    {
        "isfavourite": true
    }
}}
<div class="ml-auto dropdown">
    <button class="btn btn-link btn-icon icon-size-3 coursemenubtn"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        {{#pix}} i/moremenu, core {{/pix}}
            <span class="sr-only">
                {{#str}} aria:courseactions, block_myoverview {{/str}} {{{fullname}}}
            </span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item {{#isfavourite}}hidden{{/isfavourite}}" href="#"
            data-action="add-favourite"
            data-course-id="{{id}}"
            aria-controls="favorite-icon-{{ id }}-{{ uniqid }}"
            >
            {{#str}} addtofavourites, block_myoverview {{/str}}
            <div class="sr-only">
                {{#str}} aria:addtofavourites, block_myoverview {{/str}} {{{fullname}}}
            </div>
        </a>
        <a class="dropdown-item {{^isfavourite}}hidden{{/isfavourite}}" href="#"
            data-action="remove-favourite"
            data-course-id="{{id}}"
            aria-controls="favorite-icon-{{ id }}-{{ uniqid }}"
            >
            {{#str}} removefromfavourites, block_myoverview {{/str}}
            <div class="sr-only">
                {{#str}} aria:removefromfavourites, block_myoverview {{/str}} {{{fullname}}}
            </div>
        </a>
        <a class="dropdown-item {{^hidden}}hidden{{/hidden}}" href="#"
            data-action="show-course"
            data-course-id="{{id}}"
            aria-controls="favorite-icon-{{ id }}-{{ uniqid }}"
            >
            {{#str}} show, block_myoverview {{/str}}
            <div class="sr-only">
                {{#str}} aria:showcourse, block_myoverview, {{fullname}} {{/str}}
            </div>
        </a>
        <a class="dropdown-item {{#hidden}}hidden{{/hidden}}" href="#"
            data-action="hide-course"
            data-course-id="{{id}}"
            aria-controls="favorite-icon-{{ id }}-{{ uniqid }}"
            >
            {{#str}} hidecourse, block_myoverview {{/str}}
            <div class="sr-only">
                {{#str}} aria:hidecourse, block_myoverview, {{fullname}} {{/str}}
            </div>
        </a>
    </div>
</div>