{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/main

    This template renders the main content area for the myoverview block.

    Example context (json):
    {}
}}

<div id="block-myoverview-{{uniqid}}" class="block-myoverview block-cards" data-region="myoverview" role="navigation">

            <div data-region="filter" class="d-flex align-items-center flex-wrap" aria-label="{{#str}} aria:controls, block_myoverview {{/str}}">
                {{> block_myoverview/nav-grouping-selector }}

                {{> block_myoverview/nav-sort-selector }}
                {{#displaydropdown}}
                    {{> block_myoverview/nav-display-selector }}
                {{/displaydropdown}}
            </div>

    <div class="container-fluid p-0">
        {{> block_myoverview/courses-view }}
    </div>
</div>
{{#js}}
require(
[
    'jquery',
    'block_myoverview/main',
],
function(
    $,
    Main
) {
    var root = $('#block-myoverview-{{uniqid}}');
    Main.init(root);
});
{{/js}}
