{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/nav-display-selector

    This template renders display dropdown.

    Example context (json):
    {
        "cards": true,
        "list": false,
        "summary": false
    }
}}
<div class="dropdown mb-1">
    <button id="displaydropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    aria-label="{{#str}} aria:displaydropdown, block_myoverview {{/str}}">
        {{#pix}} a/view_icon_active {{/pix}}
        <span class="d-sm-inline-block" data-active-item-text>
            {{#card}}{{#str}} card, block_myoverview {{/str}}{{/card}}
            {{#list}}{{#str}} list, block_myoverview {{/str}}{{/list}}
            {{#summary}}{{#str}} summary, block_myoverview {{/str}}{{/summary}}
        </span>
    </button>
    <ul class="dropdown-menu" data-show-active-item aria-labelledby="displaydropdown">
    {{#layouts}}
            <li>
                <a class="dropdown-item {{#active}}active{{/active}}" href="#" data-display-option="display" data-value="{{id}}" data-pref="{{id}}" aria-label="{{arialabel}}" aria-controls="courses-view-{{uniqid}}">
                    {{name}}
                </a>
            </li>
    {{/layouts}}
    </ul>
</div>
