{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/nav-sort-selector

    This template renders sorting dropdown.

    Example context (json):
    {
        "title": false,
        "lastaccessed": true
    }
}}

<div class="mb-1 mr-1 d-flex align-items-center">
    <div class="dropdown">
        <button id="sortingdropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" aria-label="{{#str}} aria:sortingdropdown, block_myoverview {{/str}}">
            {{#pix}} t/sort_by {{/pix}}
            <span class="d-sm-inline-block" data-active-item-text>
                {{#title}}{{#str}} title, block_myoverview {{/str}}{{/title}}
                {{#lastaccessed}}{{#str}} lastaccessed, block_myoverview {{/str}}{{/lastaccessed}}
                {{#shortname}}{{#str}} shortname, block_myoverview {{/str}}{{/shortname}}
            </span>
        </button>
        <ul class="dropdown-menu" data-show-active-item aria-labelledby="sortingdropdown">
            <li>
                <a class="dropdown-item {{#title}}active{{/title}}" href="#" data-filter="sort" data-pref="title" data-value="fullname" aria-label="{{#str}} aria:title, block_myoverview {{/str}}" aria-controls="courses-view-{{uniqid}}">
                    {{#str}} title, block_myoverview {{/str}}
                </a>
            </li>
            {{#showsortbyshortname}}
            <li>
                <a class="dropdown-item {{#shortname}}active{{/shortname}}" href="#" data-filter="sort" data-pref="shortname" data-value="shortname" aria-label="{{#str}} aria:shortname, block_myoverview {{/str}}" aria-controls="courses-view-{{uniqid}}">
                    {{#str}} shortname, block_myoverview {{/str}}
                </a>
            </li>
             {{/showsortbyshortname}}
            <li>
                <a class="dropdown-item {{#lastaccessed}}active{{/lastaccessed}}" href="#" data-filter="sort" data-pref="lastaccessed" data-value="ul.timeaccess desc" aria-label="{{#str}} aria:lastaccessed, block_myoverview {{/str}}" aria-controls="courses-view-{{uniqid}}">
                    {{#str}} lastaccessed, block_myoverview {{/str}}
                </a>
            </li>
        </ul>
    </div>
</div>
