{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/view-summary

    This template renders the list view for the myoverview block.

    Example context (json):
    {
        "courses": [
            {
                "name": "Assignment due 1",
                "viewurl": "https://Oxygensite/course/view.php?id=2",
                "courseimage": "https://Oxygensite/pluginfile/123/course/overviewfiles/123.jpg",
                "fullname": "course 3",
                "summary": "This course is about assignments",
                "hasprogress": true,
                "progress": 10,
                "coursecategory": "Miscellaneous",
                "visible": true
            }
        ]
    }
}}
<div role="list">
{{#courses}}
    <div class="course-summaryitem mb-1 p-2" role="listitem"
        data-region="course-content"
        data-course-id="{{{id}}}">
        <div class="d-flex">
            <a href="{{viewurl}}" tabindex="-1">
                <div class="summaryimage rounded-circle mr-1" style='background-image: url("{{{courseimage}}}");'>
                    <span class="sr-only">{{#str}}aria:courseimage, core_course{{/str}}</span>
                </div>
            </a>

            <div class="align-self-stretch d-flex flex-column w-100">
                <div class="text-muted muted mb-1 d-flex flex-wrap">
                    <span class="sr-only">
                        {{#str}}aria:coursecategory, core_course{{/str}}
                    </span>
                    {{$coursecategory}}
                        {{#showcoursecategory}}
                            <span class="categoryname">
                                {{#coursecategory}}
                                    {{{coursecategory}}}
                                {{/coursecategory}}
                            </span>
                        {{/showcoursecategory}}
                    {{/coursecategory}}
                    {{#showshortname}}
                        {{#showcoursecategory}}
                            <div class="pl-1 pr-1">|</div>
                        {{/showcoursecategory}}
                    <span class="sr-only">
                        {{#str}}aria:courseshortname, core_course{{/str}}
                    </span>
                    <div>{{{shortname}}}</div>
                    {{/showshortname}}
                </div>
                <div class="d-flex mb-1">
                    <a href="{{viewurl}}" class="aalink coursename">
                        {{> core_course/favouriteicon }}
                        <span class="sr-only">
                            {{#str}}aria:coursename, core_course{{/str}}
                        </span>
                        <h6 class="d-inline h5">{{{fullname}}}</h6>
                    </a>
                    {{> block_myoverview/course-action-menu }}
                </div>
                {{^visible}}
                    <div class="d-flex flex-wrap">
                        <span class="tag tag-info">{{#str}} hiddenfromstudents {{/str}}</span>
                    </div>
                {{/visible}}
                <div class="summary">
                    <span class="sr-only">{{#str}}aria:coursesummary, block_myoverview{{/str}}</span>
                    {{{summary}}}
                </div>
                <div class="ml-auto mt-auto w-50 p-t-1">
                    {{#hasprogress}}
                        {{> block_myoverview/progress-bar}}
                    {{/hasprogress}}
                </div>
            </div>
        </div>
    </div>
{{/courses}}
</div>
