{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/view-list

    This template renders the list view for the myoverview block.

    Example context (json):
    {
        "courses": [
            {
                "name": "Assignment due 1",
                "viewurl": "https://Oxygensite/course/view.php?id=2",
                "courseimage": "https://Oxygensite/pluginfile/123/course/overviewfiles/123.jpg",
                "fullname": "course 3",
                "hasprogress": true,
                "progress": 10,
                "coursecategory": "Miscellaneous",
                "visible": true
            }
        ]
    }
}}

<ul class="list-group">
{{#courses}}
    <li class="list-group-item course-listitem"
        data-region="course-content"
        data-course-id="{{{id}}}">
        <div class="row-fluid">
            <div class="{{#hasprogress}}col-md-6{{/hasprogress}}{{^hasprogress}}col-md-11 col-md-11{{/hasprogress}} d-flex align-items-center">
                <div>
                    <div class="text-muted muted d-flex flex-wrap">
                        {{#showcoursecategory}}
                            <span class="sr-only">
                                {{#str}}aria:coursecategory, core_course{{/str}}
                            </span>
                            <span class="categoryname">
                                {{{coursecategory}}}
                            </span>
                        {{/showcoursecategory}}
                        {{#showshortname}}
                            {{#showcoursecategory}}
                                <div class="pl-1 pr-1">|</div>
                            {{/showcoursecategory}}
                        <span class="sr-only">
                            {{#str}}aria:courseshortname, core_course{{/str}}
                        </span>
                        <div>{{{shortname}}}</div>
                        {{/showshortname}}
                    </div>
                    <a href="{{viewurl}}" class="aalink coursename">
                        {{> core_course/favouriteicon }}
                        <span class="sr-only">
                            {{#str}}aria:coursename, core_course{{/str}}
                        </span>
                        {{{fullname}}}
                    </a>
                    {{^visible}}
                        <div class="d-flex flex-wrap">
                            <span class="tag tag-info">{{#str}} hiddenfromstudents {{/str}}</span>
                        </div>
                    {{/visible}}
                </div>
            </div>
            {{#hasprogress}}
            <div class="col-md-5 pt-1">
                {{> block_myoverview/progress-bar}}
            </div>
            {{/hasprogress}}
            <div class="col-md-1 p-0 d-flex">
                {{> block_myoverview/course-action-menu }}
            </div>
        </div>
    </li>
{{/courses}}
</ul>
