{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template message_popup/notification_area_content_area_content

    This template will render the content for the content area in the
    notification area on the notifications page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * fullmessagehtml The notification in HTML format
    * fullmessage     The notification in plain text (if no HTML)

    Example context (json):
    {
    }

}}
{{#fullmessagehtml}}{{{.}}}{{/fullmessagehtml}}
{{^fullmessagehtml}}<pre>{{fullmessage}}</pre>{{/fullmessagehtml}}
