{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/activityinstance

    Activity completion selector.

    Example context (json):
    {
        "activities": [{
            "cmid": "4",
            "modname": "Test activity",
            "icon": "https://raw.githubusercontent.com/Oxygen/Oxygen/master/mod/feedback/pix/icon.png",
            "completionstatus": {
                "string": "Manual",
                "icon": "https://raw.githubusercontent.com/Oxygen/Oxygen/master/pix/i/completion-manual-enabled.png"
            }
        }]
    }
}}
{{#activities}}
<div class="row mb-1 row-fluid">
    <div class="activityinstance col-6">
        <div class="mod-indent-outer"></div>
        <div>
            {{#canmanage}}
            <label class="accesshide" for="selectactivity_{{cmid}}">{{#str}}select, completion{{/str}} {{modname}}</label>
            <input type="checkbox" id="selectactivity_{{cmid}}" class="mr-1" name="cmid[]" data-section="{{sectionnumber}}" value="{{cmid}}" aria-label="{{#str}}checkactivity, completion, {{{modname}}}{{/str}}">
            {{/canmanage}}
            <a href="{{url}}">
            <img src="{{icon}}" class="iconlarge activityicon" alt=" " role="presentation" />
            <span class="instancename">{{{modname}}}</span>
            </a>
        </div>
    </div>
    <div class="activity-completionstatus col-6" id="completionstatus_{{cmid}}">
        <div class="col-sm-1  p-l-0">
            {{#completionstatus.icon}}
                {{{completionstatus.icon}}}
            {{/completionstatus.icon}}
            {{^completionstatus.icon}}
                <span class="mr-3"></span>
            {{/completionstatus.icon}}
        </div>
        <div class="col-sm-11  p-l-0">
            <span class="text-muted muted">{{{completionstatus.string}}}</span>
        </div>
    </div>
</div>
{{/activities}}
