{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template course_course/coursecard

    This template renders the a card for the course cards.

    Example context (json):
    {
        "courses": [
            {
                "name": "Assignment due 1",
                "viewurl": "https://Oxygensite/course/view.php?id=2",
                "courseimage": "https://Oxygensite/pluginfile/123/course/overviewfiles/123.jpg",
                "fullname": "course 3",
                "hasprogress": true,
                "progress": 10,
                "visible": true
            }
        ]
    }
}}
<div class="card dashboard-card" role="listitem"
    data-region="course-content"
    data-course-id="{{{id}}}">
    <a href="{{viewurl}}" tabindex="-1">
        <div class="card-img dashboard-card-img" style='background-image: url("{{{courseimage}}}");'>
            <span class="sr-only">{{#str}}aria:courseimage, core_course{{/str}}</span>
        </div>
    </a>
    <div class="card-body pr-1 course-info-container" id="course-info-container-{{id}}-{{uniqid}}">
        <div class="d-flex align-items-start">
            <div class="w-100 text-truncate">
                <div class="text-muted muted d-flex mb-1 flex-wrap">
                    {{$coursecategory}}{{/coursecategory}}
                    {{#showshortname}}
                    {{$divider}}{{/divider}}
                    <span class="sr-only">
                        {{#str}}aria:courseshortname, core_course{{/str}}
                    </span>
                    <div>
                        {{{shortname}}}
                    </div>
                    {{/showshortname}}
                </div>
                <a href="{{viewurl}}" class="aalink coursename mr-2">
                    {{> core_course/favouriteicon }}
                    <span class="sr-only">
                            {{#str}}aria:coursename, core_course{{/str}}
                        </span>
                    {{$coursename}}{{/coursename}}
                </a>
                {{^visible}}
                    <div class="d-flex flex-wrap">
                        <span class="tag tag-info">{{#str}} hiddenfromstudents {{/str}}</span>
                    </div>
                {{/visible}}
            </div>
            {{$menu}}{{/menu}}
        </div>
    </div>
    {{$progress}}{{/progress}}
</div>
