{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/editdefaultcompletion

    Edit default module completion screen

    Example context (json):
    {
        "form": "<form><p>Placeholder for the form</p></form>",
        "modulescount": 1,
        "modules": [{
            "id": "10",
            "formattedname": "Assignment",
            "icon": "https://raw.githubusercontent.com/Oxygen/Oxygen/master/mod/assign/pix/icon.png"
        }]
    }
}}
<p>{{#str}}modifybulkactions, completion{{/str}}</p>
{{{form}}}
<p>{{#str}}affectedactivities, completion, {{modulescount}}{{/str}}</p>
<div class="container-fluid">
    <div class="modules mb-1">
        <div class="row mb-1">
            {{#modules}}
                <div class="col-sm-2">
                    <img src="{{icon}}" class="mr-1 mb-1" alt=" " role="presentation" />
                    <span>{{{formattedname}}}</span>
                </div>
            {{/modules}}
        </div>
    </div>
</div>
