{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/editbulkactivitycompletion

    Edit default module completion screen

    Example context (json):
    {
        "form": "<form><p>Placeholder for the form</p></form>",
        "activitiescount": 1,
        "activities": [{
            "cmid": "4",
            "modname": "Test activity",
            "icon": "https://raw.githubusercontent.com/Oxygen/Oxygen/master/mod/feedback/pix/icon.png"
        }]
    }
}}
<p>{{#str}}modifybulkactions, completion{{/str}}</p>
{{{form}}}
<div class="container-fluid">
    <p>{{#str}}affectedactivities, completion, {{activitiescount}}{{/str}}</p>
    <div class="activities">
        {{> core_course/activityinstance}}
    </div>
</div>
