{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/favouriteicon

    This template renders the favourite icon for a course.

    Example context (json):
    {
        "id": 3,
        "isfavourite": true
    }
}}
<span id="favorite-icon-{{ id }}-{{ uniqid }}"
    data-region="favourite-icon"
    data-course-id="{{id}}"
    >
    <span
        class="text-primary {{^isfavourite}}hidden{{/isfavourite}}"
        data-region="is-favourite"
        aria-hidden="{{^isfavourite}}true{{/isfavourite}}{{#isfavourite}}false{{/isfavourite}}"
        >
        {{#pix}} i/star, core, {{#str}} favourite, core_course {{/str}} {{/pix}}
        <span class="sr-only">{{#str}} aria:favourite, core_course {{/str}}</span>
    </span>
</span>
