{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/placeholder-course

    This template renders an course card item loading placeholder for multiple blocks.

    Example context (json):
    {}
}}
<div class="card dashboard-card border-0">
    <div class="card-img-top bg-pulse-grey w-100" style="height: 7rem">
    </div>
    <div class="card-body pr-1 course-info-container">
        <div class="bg-pulse-grey w-100" style="height: 1rem"></div>
    </div>
</div>
