{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more comments.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template booktool_print/print_book_chapter

    Print book chapter page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * printdialoglink string The URL pointing to the print book chapter popup window.
    * booktitle string The HTML of the book title.
    * parentchaptertitle string The HTML of the parent chapter title (if exists).
    * chapter object The object containing the HTML of the chapter content and chapter's visibility.

    Example context (json):
    {
        "printdialoglink": "<a>Print book</a>",
        "booktitle": "<h2>Book title</h2>",
        "parentchaptertitle": "<h2>Parent chapter title</h2>",
        "chapter": {
            "content": "<div>Chapter content</div>",
            "visible": "true"
        }
    }
}}
<div class="chapter col-12 p-4">
    <div class="text-right">{{{ printdialoglink }}}</div>
    <div class="text-center p-b-2">{{{ booktitle }}}</div>
    <div class="chapter">
        {{#parentchaptertitle}}
         <div class="text-center">
            {{{parentchaptertitle}}}
         </div>
        {{/parentchaptertitle}}
        {{{chapter.content}}}
    </div>
</div>
