{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_view_conversation_footer

    This template will render the footer container for the conversation page
    in the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div
    class="hidden border-top bg-white position-relative"
    aria-hidden="true"
    data-region="view-conversation"
    data-enter-to-send="{{settings.entertosend}}"
>
    <div class="hidden p-sm-2" data-region="content-messages-footer-container">
        {{> core_message/message_drawer_view_conversation_footer_content }}
    </div>
    <div class="hidden p-sm-2" data-region="content-messages-footer-edit-mode-container">
        {{> core_message/message_drawer_view_conversation_footer_edit_mode }}
    </div>
    <div class="hidden bg-secondary p-sm-3" data-region="content-messages-footer-require-contact-container">
        {{> core_message/message_drawer_view_conversation_footer_require_contact }}
    </div>
    <div class="hidden bg-secondary p-sm-3" data-region="content-messages-footer-require-unblock-container">
        {{> core_message/message_drawer_view_conversation_footer_require_unblock }}
    </div>
    <div class="hidden bg-secondary p-sm-3" data-region="content-messages-footer-unable-to-message">
        {{> core_message/message_drawer_view_conversation_footer_unable_to_message }}
    </div>
    <div class="p-sm-2" data-region="placeholder-container">
        {{> core_message/message_drawer_view_conversation_footer_placeholder }}
    </div>
    <div
        class="hidden position-absolute"
        data-region="confirm-dialogue-container"
        style="top: -1px; bottom: 0; right: 0; left: 0; background: rgba(0,0,0,0.3);"
    ></div>
</div>