{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_view_conversation_footer_content

    This template will render the footer content for the conversation page in
    the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

{{#showemojipicker}}
    <div
        class="emoji-auto-complete-container w-100 hidden"
        data-region="emoji-auto-complete-container"
        aria-live="polite"
        aria-hidden="true"
    >
    </div>
{{/showemojipicker}}
<div class="d-flex mt-sm-1">
    <textarea
        dir="auto"
        data-region="send-message-txt"
        class="form-control bg-light"
        rows="3"
        data-auto-rows
        data-min-rows="3"
        data-max-rows="5"
        aria-label="{{#str}} writeamessage, core_message {{/str}}"
        placeholder="{{#str}} writeamessage, core_message {{/str}}"
        style="resize: none"
    ></textarea>

    <div class="position-relative d-flex flex-column">
        {{#showemojipicker}}
            <div
                data-region="emoji-picker-container"
                class="emoji-picker-container hidden"
                aria-hidden="true"
            >
                {{> core/emoji/picker }}
            </div>
            <button
                class="btn btn-link btn-icon icon-size-3 ml-1"
                aria-label="{{#str}} toggleemojipicker, core {{/str}}"
                data-action="toggle-emoji-picker"
            >
                {{#pix}} e/emoticons, core{{/pix}}
            </button>
        {{/showemojipicker}}
        <button
            class="btn btn-link btn-icon icon-size-3 ml-1 mt-auto"
            aria-label="{{#str}} sendmessage, core_message {{/str}}"
            data-action="send-message"
        >
            <span data-region="send-icon-container">{{#pix}} i/sendmessage, core {{/pix}}</span>
            <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
        </button>
    </div>
</div>
