{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_view_conversation_footer_edit_mode

    This template will render the foot while the conversation page is in edit mode
    in the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div class="d-flex p-3 justify-content-end">
    <button
        class="btn btn-link btn-icon my-1 icon-size-4"
        data-action="delete-selected-messages"
        data-toggle="tooltip"
        data-placement="top"
        title="{{#str}} deleteselectedmessages, core_message {{/str}}"
    >
        <span data-region="icon-container">{{#pix}} i/delete, core {{/pix}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
        <span class="sr-only">{{#str}} deleteselectedmessages, core_message {{/str}}</span>
    </button>
</div>