{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_view_conversation_header_placeholder

    This template will render the loading placeholder elements for the header
    of the conversation page in the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}
<div class="d-flex">
    {{#showrouteback}}
    <div class="align-self-stretch" >
        <a class="h-100 mr-2 d-flex align-items-center" href="#" data-route-back role="button">
            {{> core_message/message_drawer_icon_back }}
        </a>
    </div>
    {{/showrouteback}}
    <div
        class="ml-2 rounded-circle bg-pulse-grey align-self-center"
        style="height: 38px; width: 38px"
    >
    </div>
    <div class="ml-2 " style="flex: 1">
        <div
            class="mt-1 bg-pulse-grey w-75"
            style="height: 16px;"
        >
        </div>
    </div>
    <div
        class="ml-2 bg-pulse-grey align-self-center"
        style="height: 16px; width: 20px"
    >
    </div>
</div>
