{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_view_contacts_header

    This template will render the header for the contacts page of
    the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}
<div class="hidden border-bottom px-2 py-3" aria-hidden="true" data-region="view-contacts">
    <div class="d-flex align-items-center">
        {{#isdrawer}}
        <div class="align-self-stretch">
            <a class="h-100 d-flex align-items-center mr-2" href="#" data-route-back role="button">
                {{> core_message/message_drawer_icon_back }}
            </a>
        </div>
        {{/isdrawer}}
        <div>
            {{#str}} contacts, core_message {{/str}}
        </div>
        <div class="ml-auto">
            <a href="#" data-route="view-search" role="button" aria-label="{{#str}} search, core_search {{/str}}">
                {{#pix}} a/search, core {{/pix}}
            </a>
        </div>
    </div>
</div>