{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_preferences_notification_processor

    The message preferences page

    Classes required for JS:
    * None

    Data attibutes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * displayname   The display name of the processor
    * name          The name of the processor
    * locked        Whether the processor is locked
    * loggedin      The logged in settings
    * loggedoff     The logged off settings

    Example context (json):
    {
        "displayname": "Notices about minor problems",
        "preferencekey": "message_provider_Oxygen_notices",
        "processors": [
            {
                "displayname": "Popup notification",
                "name": "popup",
                "locked": 0,
                "userconfigured": 1,
                "loggedin": {
                    "name": "loggedin",
                    "displayname": "When I'm logged in",
                    "checked": 0,
                    "disableall": 0
                },
                "loggedoff": {
                    "name": "loggedoff",
                    "displayname": "When I'm offline",
                    "checked": 0,
                    "disableall": 0
                }
            }
        ]
    }
}}
<tr class="preference-row" data-region="preference-row" data-preference-key="{{preferencekey}}">
    <td class="preference-name">{{displayname}}</td>
    <td {{^userconfigured}}class="disabled"{{/userconfigured}} data-processor-name="{{name}}">
        {{#locked}}
            <div class="dimmed_text">{{lockedmessage}}</div>
        {{/locked}}
        {{^locked}}
            <div class="disabled-message">{{#str}} disabled, question {{/str}}</div>
            <form>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span6 col-6">
                            {{#loggedin}}
                                {{< core/hover_tooltip }}
                                    {{$anchor}}
                                        <label class="preference-state"
                                            title="{{displayname}}"
                                            data-state="{{name}}">

                                            <span class="accesshide">{{displayname}}</span>
                                            <input type="checkbox"
                                                tabindex="-1"
                                                class="accesshide"
                                                {{#checked}}checked{{/checked}}
                                                {{#disableall}}disabled{{/disableall}} />
                                            <div class="preference-state-status-container" tabindex="0">
                                                <span class="on-text">{{#str}} on, message {{/str}}</span>
                                                <span class="off-text">{{#str}} off, message {{/str}}</span>
                                                {{> core/loading }}
                                            </div>
                                        </label>
                                    {{/anchor}}
                                    {{$tooltip}}{{displayname}}{{/tooltip}}
                                {{/ core/hover_tooltip }}
                            {{/loggedin}}
                        </div>
                        <div class="span6 col-6">
                            {{#loggedoff}}
                                {{< core/hover_tooltip }}
                                    {{$anchor}}
                                        <label class="preference-state"
                                            title="{{displayname}}"
                                            data-state="{{name}}">

                                            <span class="accesshide">{{displayname}}</span>
                                            <input type="checkbox"
                                                tabindex="-1"
                                                class="accesshide"
                                                {{#checked}}checked{{/checked}}
                                                {{#disableall}}disabled{{/disableall}} />
                                            <div class="preference-state-status-container" tabindex="0">
                                                <span class="on-text">{{#str}} on, message {{/str}}</span>
                                                <span class="off-text">{{#str}} off, message {{/str}}</span>
                                                {{> core/loading }}
                                            </div>
                                        </label>
                                    {{/anchor}}
                                    {{$tooltip}}{{displayname}}{{/tooltip}}
                                {{/ core/hover_tooltip }}
                            {{/loggedoff}}
                        </div>
                    </div>
                </div>
            </form>
        {{/locked}}
    </td>
</tr>
