{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_index

    This template will render the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}
<div
        id="message-index-{{uniqid}}"
        class="message-app main bg-light border flex-row"
        aria-expanded="false"
        aria-hidden="true"
        data-region="message-index"
        role="region"
>
    <div class="container-fluid">
        <div class="row-fluid h-100 no-gutters">
            <div class="col-4 d-flex flex-column">
                <div class="border-right h-100">
                    <div class="panel-header-container" data-region="panel-header-container">
                        {{> core_message/message_drawer_view_overview_header }}
                        {{> core_message/message_drawer_view_search_header }}
                    </div>
                    <div class="panel-body-container" data-region="panel-body-container">
                        {{> core_message/message_drawer_view_overview_body }}
                        {{> core_message/message_drawer_view_search_body }}
                    </div>
                </div>
            </div>
            <div class="col-8 d-flex flex-column">
                <div class="header-container position-relative" data-region="header-container">
                    {{> core_message/message_drawer_view_contacts_header }}
                    {{> core_message/message_drawer_view_conversation_header }}
                    {{> core_message/message_drawer_view_settings_header }}
                </div>
                <div class="body-container position-relative" data-region="body-container">
                    {{> core_message/message_drawer_view_contact_body }}
                    {{> core_message/message_drawer_view_contacts_body }}
                    {{> core_message/message_drawer_view_conversation_body }}
                    {{> core_message/message_drawer_view_group_info_body }}
                    {{> core_message/message_drawer_view_settings_body }}
                </div>
                <div class="footer-container position-relative" data-region="footer-container">
                    {{> core_message/message_drawer_view_conversation_footer }}
                    {{> core_message/message_drawer_view_overview_footer }}
                </div>
            </div>
        </div>
    </div>
</div>
{{#js}}
    require(['jquery', 'core_message/message_drawer'], function($, MessageDrawer) {
    var root = $('#message-index-{{uniqid}}');
    MessageDrawer.init(root, '{{uniqid}}', true, {{{route}}});
    });
{{/js}}