{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_view_conversation_header

    This template will render the header for the conversation page of the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div
    class="hidden bg-white position-relative border-bottom p-1 p-sm-2"
    aria-hidden="true"
    data-region="view-conversation"
>
    <div class="hidden" data-region="header-content"></div>
    <div class="hidden" data-region="header-edit-mode">
        {{> core_message/message_drawer_view_conversation_header_edit_mode }}
    </div>
    <div data-region="header-placeholder">
        {{> core_message/message_drawer_view_conversation_header_placeholder }}
    </div>
    <div
        class="hidden position-absolute"
        data-region="confirm-dialogue-container"
        style="top: 0; bottom: -1px; right: 0; left: 0; background: rgba(0,0,0,0.3);"
    ></div>
</div>