{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_view_settings_body_content_notification_preferences

    This template will render the notification perferences for the message settings..

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div data-preference="notifications" class="d-flex flex-column">
    {{#processors}}

        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="{{name}}-{{uniqid}}"
                data-name="{{name}}"
                {{#checked}}checked{{/checked}}
                {{#locked}}disabled{{/locked}}
            >
            <label class="custom-control-label" for="{{name}}-{{uniqid}}">
                {{displayname}}{{#locked}} ({{lockedmessage}}){{/locked}}
            </label>
        </div>
    {{/processors}}
</div>
