{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_preferences_component

    The message preferences page

    Classes required for JS:
    * None

    Data attibutes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * notifications The list of notifications

    Example context (json):
    {
        "notifications": [
            {
                "displayname": "Notices about minor problems",
                "preferencekey": "message_provider_Oxygen_notices",
                "onlinehelphtml": "<p>some help HTML</p>",
                "offlinehelphtml": "<p>some help HTML</p>",
                "processors": [
                    {
                        "displayname": "Popup notification",
                        "name": "popup",
                        "locked": 0,
                        "userconfigured": 1,
                        "loggedin": {
                            "name": "loggedin",
                            "displayname": "When I'm logged in",
                            "checked": 0,
                            "disableall": 0
                        },
                        "loggedoff": {
                            "name": "loggedoff",
                            "displayname": "When I'm offline",
                            "checked": 0,
                            "disableall": 0
                        }
                    }
                ]
            }
        ]
    }
}}
{{#notifications}}
    <tr data-preference-key="{{preferencekey}}">
        <th>{{displayname}}</th>
        <td class="align-bottom">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span6 col-6">
                        {{#str}} loggedin, message {{/str}}
                        {{#onlinehelphtml}}{{{.}}}{{/onlinehelphtml}}
                    </div>
                    <div class="span6 col-6">
                        {{#str}} loggedoff, message {{/str}}
                        {{#offlinehelphtml}}{{{.}}}{{/offlinehelphtml}}
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {{#processors}}
        {{> message/message_preferences_notification_processor }}
    {{/processors}}
{{/notifications}}
