{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_view_search_body

    This template will render the body of the search page in the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div
    data-region="view-search"
    aria-hidden="true"
    class="h-100 hidden"
    data-user-id="{{loggedinuser.id}}"
    data-users-offset="0"
    data-messages-offset="0"
    style="overflow-y: auto"
    {{^isdrawer}}data-in-panel="true"{{/isdrawer}}
>
    <div class="hidden" data-region="search-results-container" style="overflow-y: auto">
        {{> core_message/message_drawer_view_search_results_content }}
    </div>
    <div class="hidden" data-region="loading-placeholder">
        {{> core_message/message_drawer_view_search_results_content_placeholder }}
    </div>
    <div class="p-3 text-center" data-region="empty-message-container">
        <p>{{#str}} searchcombined, core_message {{/str}}</p>
    </div>
</div>