{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_view_conversation_body_placeholder

    This template will render the loading placeholder elements for the body of
    the conversation page in the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}
<div class="h-100 d-flex flex-column">
    <div
        class="px-2 pb-2 pt-0 bg-light h-100"
        style="overflow-y: auto"
    >
        {{> core_message/message_drawer_view_conversation_body_day_placeholder }}
        {{> core_message/message_drawer_view_conversation_body_day_placeholder }}
        {{> core_message/message_drawer_view_conversation_body_day_placeholder }}
        {{> core_message/message_drawer_view_conversation_body_day_placeholder }}
        {{> core_message/message_drawer_view_conversation_body_day_placeholder }}
    </div>
</div>