{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_view_conversation_body_confirm_dialogue

    This template will render the confirmation dialogue inside the conversation page of
    the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div class="p-3 bg-white" data-region="confirm-dialogue" role="alert">
    <p class="text-muted" data-region="dialogue-text"></p>
    <div class="mb-2 custom-control custom-checkbox hidden" data-region="delete-messages-for-all-users-toggle-container">
        <input type="checkbox" class="custom-control-input" id="delete-messages-for-all-users" data-region="delete-messages-for-all-users-toggle">
        <label class="custom-control-label text-muted" for="delete-messages-for-all-users">
            {{#str}} deleteforeveryone, core_message {{/str}}
        </label>
    </div>
    <button type="button" class="btn btn-primary btn-block hidden" data-action="confirm-block">
        <span data-region="dialogue-button-text">{{#str}} blockuserconfirmbutton, core_message {{/str}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
    <button type="button" class="btn btn-primary btn-block hidden" data-action="confirm-unblock">
        <span data-region="dialogue-button-text">{{#str}} unblock, core_message {{/str}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
    <button type="button" class="btn btn-primary btn-block hidden" data-action="confirm-remove-contact">
        <span data-region="dialogue-button-text">{{#str}} remove, core {{/str}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
    <button type="button" class="btn btn-primary btn-block hidden" data-action="confirm-add-contact">
        <span data-region="dialogue-button-text">{{#str}} add, core {{/str}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
    <button type="button" class="btn btn-primary btn-block hidden" data-action="confirm-delete-selected-messages">
        <span data-region="dialogue-button-text">{{#str}} delete, core {{/str}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
    <button type="button" class="btn btn-primary btn-block hidden" data-action="confirm-delete-conversation">
        <span data-region="dialogue-button-text">{{#str}} delete, core {{/str}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
    <button type="button" class="btn btn-primary btn-block hidden" data-action="request-add-contact">
        <span data-region="dialogue-button-text">{{#str}} sendcontactrequest, core_message {{/str}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
    <button type="button" class="btn btn-primary btn-block hidden" data-action="accept-contact-request">
        <span data-region="dialogue-button-text">{{#str}} acceptandaddcontact, core_message {{/str}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
    <button type="button" class="btn btn-secondary btn-block hidden" data-action="decline-contact-request">
        <span data-region="dialogue-button-text">{{#str}} decline, core_message {{/str}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
    <button type="button" class="btn btn-primary btn-block" data-action="okay-confirm">{{#str}} ok, core {{/str}}</button>
    <button type="button" class="btn btn-secondary btn-block" data-action="cancel-confirm">{{#str}} cancel, core {{/str}}</button>
</div>
