{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_non_contacts_list

    This template will render a list of non contacts for the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

{{#noncontacts}}
    <a
        href="#"
        class="p-2 d-flex list-group-item list-group-item-action"
        data-route="view-conversation"
        {{#conversationid}}
            data-route-param-1="{{.}}"
            {{#frompanel}}
                data-route-param-2="frompanel"
            {{/frompanel}}
        {{/conversationid}}
        {{^conversationid}}
            data-route-param-1="false"
            data-route-param-2="create"
            data-route-param-3="{{id}}"
            {{#frompanel}}
                data-route-param-4="frompanel"
            {{/frompanel}}
        {{/conversationid}}
        role="button"
    >
        <img
            class="rounded-circle"
            src="{{{profileimageurl}}}"
            alt="{{fullname}}"
            aria-hidden="true"
            style="height: 38px"
        >
        <h6 class="ml-2 font-weight-bold">{{#highlight}}{{{highlight}}}{{/highlight}}{{^highlight}}{{fullname}}{{/highlight}}</h6>
        {{#isblocked}}
            <div class="ml-auto align-self-end">
                {{#pix}} t/block, core, {{#str}} contactblocked, message {{/str}} {{/pix}}
            </div>
        {{/isblocked}}
    </a>
{{/noncontacts}}