{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_view_covnersation_body_day_placeholder

    This template will render the loading placeholder elements for a day of messages
    in the conversation page of the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}
<div class="mt-4">
    <div class="mb-4">
        <div class="mx-auto bg-white" style="height: 25px; width: 100px"></div>
    </div>
    <div class="d-flex flex-column p-2 bg-white rounded mb-2">
        <div class="d-flex align-items-center mb-2">
            <div class="mr-2">
                <div class="rounded-circle bg-pulse-grey" style="height: 35px; width: 35px"></div>
            </div>
            <div class="mr-4 w-75 bg-pulse-grey" style="height: 16px"></div>
            <div class="ml-auto bg-pulse-grey" style="width: 35px; height: 16px"></div>
        </div>
        <div class="bg-pulse-grey w-100" style="height: 16px"></div>
        <div class="bg-pulse-grey w-100 mt-2" style="height: 16px"></div>
        <div class="bg-pulse-grey w-100 mt-2" style="height: 16px"></div>
        <div class="bg-pulse-grey w-100 mt-2" style="height: 16px"></div>
        <div class="bg-pulse-grey w-75 mt-2" style="height: 16px"></div>
    </div>
    <div class="d-flex flex-column p-2 bg-white rounded mb-2">
        <div class="d-flex align-items-center mb-2">
            <div class="mr-2">
                <div class="rounded-circle bg-pulse-grey" style="height: 35px; width: 35px"></div>
            </div>
            <div class="mr-4 w-75 bg-pulse-grey" style="height: 16px"></div>
            <div class="ml-auto bg-pulse-grey" style="width: 35px; height: 16px"></div>
        </div>
        <div class="bg-pulse-grey w-100" style="height: 16px"></div>
        <div class="bg-pulse-grey w-100 mt-2" style="height: 16px"></div>
        <div class="bg-pulse-grey w-100 mt-2" style="height: 16px"></div>
        <div class="bg-pulse-grey w-100 mt-2" style="height: 16px"></div>
        <div class="bg-pulse-grey w-75 mt-2" style="height: 16px"></div>
    </div>
    <div class="d-flex flex-column p-2 bg-white rounded mb-2">
        <div class="d-flex align-items-center mb-2">
            <div class="mr-2">
                <div class="rounded-circle bg-pulse-grey" style="height: 35px; width: 35px"></div>
            </div>
            <div class="mr-4 w-75 bg-pulse-grey" style="height: 16px"></div>
            <div class="ml-auto bg-pulse-grey" style="width: 35px; height: 16px"></div>
        </div>
        <div class="bg-pulse-grey w-100" style="height: 16px"></div>
        <div class="bg-pulse-grey w-100 mt-2" style="height: 16px"></div>
        <div class="bg-pulse-grey w-100 mt-2" style="height: 16px"></div>
        <div class="bg-pulse-grey w-100 mt-2" style="height: 16px"></div>
        <div class="bg-pulse-grey w-75 mt-2" style="height: 16px"></div>
    </div>
</div>