{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_messages_list

    This template will render a list of messages for the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

{{#messages}}
    <a
        href="#"
        class="p-2 d-flex list-group-item list-group-item-action align-items-center"
        data-route="view-conversation"
        {{#conversationid}}
            data-route-param-1="{{.}}"
            {{#frompanel}}
                data-route-param-2="frompanel"
            {{/frompanel}}
        {{/conversationid}}
        {{^conversationid}}
            data-route-param-1="false"
            data-route-param-2="create"
            data-route-param-3="{{userid}}"
            {{#frompanel}}
                data-route-param-4="frompanel"
            {{/frompanel}}
        {{/conversationid}}
        data-conversation-id="{{conversationid}}"
        role="button"
    >
        <img
            class="rounded-circle"
            src="{{{profileimageurl}}}"
            alt="{{fullname}}"
            aria-hidden="true"
            style="height: 38px"
        >
        {{#showonlinestatus}}
            <span class="contact-status {{#isonline}}online{{/isonline}}"></span>
        {{/showonlinestatus}}
        <div class="w-100 text-truncate ml-2">
            <div class="d-flex">
                <strong class="m-0">
                    {{fullname}}

                    <span class="{{^isblocked}}hidden{{/isblocked}}" data-region="contact-icon-blocked">
                        {{#pix}} t/block, core, {{#str}} contactblocked, message {{/str}} {{/pix}}
                    </span>
                </strong>
                <div
                    class="ml-auto small {{^lastmessagedate}}hidden{{/lastmessagedate}}"
                    data-region="last-message-date"
                >
                    {{#lastmessagedate}}
                        {{#userdate}} {{.}}, {{#str}} strftimedatefullshort, core_langconfig  {{/str}} {{/userdate}}
                    {{/lastmessagedate}}
                </div>
            </div>
            <p class="m-0 font-weight-light text-truncate" data-region="last-message">
                {{#sentfromcurrentuser}}{{#str}} you, core_message {{/str}}{{/sentfromcurrentuser}}
                <span>{{{lastmessage}}}</span>
            </p>
        </div>

        <span
            class="badge badge-pill badge-primary bg-primary {{^unreadcount}}hidden{{/unreadcount}}"
            data-region="unread-count"
        >
            {{unreadcount}}
        </span>

        <div class="text-muted">
            {{> core_message/message_drawer_icon_forward }}
        </div>
    </a>
{{/messages}}