{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/message_drawer_view_conversation_footer_require_contact

    This template will render the footer when the user must add the other user as
    a contact in a conversation in the message drawer.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {}

}}

<div class="p-3 bg-white">
    <p data-region="title"></p>
    <p class="text-muted" data-region="text"></p>
    <button type="button" class="btn btn-primary btn-block" data-action="request-add-contact">
        <span data-region="dialogue-button-text">{{#str}} sendcontactrequest, core_message {{/str}}</span>
        <span class="hidden" data-region="loading-icon-container">{{> core/loading }}</span>
    </button>
</div>
