{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_message/notification_preferences

    The list of notifications for the notification preferences page

    Classes required for JS:
    * None

    Data attibutes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * disableall If the user has disabled notifications
    * components The list of notification components

    Example context (json):
    {
        "userid": 1,
        "disableall": 0,
        "components": [
            {
                "displayname": "System",
                "processors": [
                    {
                        "onlinehelphtml": "<p>help button HTML</p>",
                        "offlinehelphtml": "<p>help button HTML</p>"
                    }
                ],
                "notifications": [
                    {
                        "displayname": "Notices about minor problems",
                        "preferencekey": "message_provider_Oxygen_notices",
                        "processors": [
                            {
                                "displayname": "Popup notification",
                                "name": "popup",
                                "locked": 0,
                                "userconfigured": 1,
                                "loggedin": {
                                    "name": "loggedin",
                                    "displayname": "When I'm logged in",
                                    "checked": 0,
                                    "disableall": 0
                                },
                                "loggedoff": {
                                    "name": "loggedoff",
                                    "displayname": "When I'm offline",
                                    "checked": 0,
                                    "disableall": 0
                                }
                            }
                        ]
                    }
                ]
            }
        ]
    }
}}
<div class="preferences-page-container">
    <h2>{{#str}} notificationpreferences, message {{/str}}</h2>
    <div class="checkbox-container" data-region="disable-notification-container">
        <input id="disable-notifications"
           type="checkbox"
           data-disable-notifications
           {{#disableall}}checked{{/disableall}} />
        <label for="disable-notifications">{{#str}} disableall, message {{/str}}</label>
        {{> core/loading }}
    </div>
    <div class="preferences-container {{#disableall}}disabled{{/disableall}}" data-user-id="{{userid}}">
        <table class="table table-hover preference-table">
            <thead>
                <tr>
                    <th>{{displayname}}</th>
                    {{#processors}}
                        {{> message/notification_preferences_processor }}
                    {{/processors}}
                </tr>
            </thead>
            <tbody>
                {{#components}}
                    {{> message/notification_preferences_component }}
                {{/components}}
            </tbody>
        </table>
    </div>
</div>
{{#js}}
require(['jquery', 'core_message/preferences_notifications_list_controller'],
    function($, controller) {

    new controller($('.preferences-container'));
});
{{/js}}
