{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_search_forums/search_form

    This template renders the search form.

    Example context (json):
    {
        "actionurl": "https://domain.example/mod/forum/search.php",
        "courseid": "2",
        "advancedsearchurl": "https://domain.example/mod/forum/search.php?id=2",
        "helpicon": "<a class='btn'><i class='icon fa fa-question-circle'></i></a>"
    }
}}
<div class="searchform">
    <form action="{{actionurl}}" class="form-inline">
        <input type="hidden" name="id" value="{{courseid}}">
        <div class="input-group w-100">
            <label class="sr-only" for="searchform_search">{{#str}}search{{/str}}</label>
            <input id="searchform_search" name="search" type="text" class="form-control" size="10">
            <div class="input-group-append">
                <button class="btn btn-secondary" id="searchform_button" type="submit">{{#str}}go{{/str}}</button>
            </div>
        </div>
    </form>
    <div class="mt-3">
        <a href="{{advancedsearchurl}}">{{#str}}advancedsearch, block_search_forums{{/str}}</a>
        {{#helpicon}}
            {{>core/help_icon}}
        {{/helpicon}}
    </div>
</div>
