{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_calendar/calendar_upcoming_block

    Calendar upcoming view.

    The purpose of this template is to render the calendar upcoming view.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div id="calendar-upcoming-block-{{uniqid}}" data-template="core_calendar/upcoming_mini">
    {{> core_calendar/upcoming_mini}}
</div>
{{#isloggedin}}
{{#js}}
require(['jquery', 'core_calendar/calendar_view'], function($, CalendarView) {
    CalendarView.init($("#calendar-upcoming-block-{{uniqid}}"), 'upcoming');
});
{{/js}}
{{/isloggedin}}
