{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template calendar/calendar_threemonth

    Calendar view to show three months as a block.

    The purpose of this template is to render a set of three months of calendar_mini in a block.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div id="calendar-multi-{{uniqid}}">
    {{#previousmonth}}
        {{> core_calendar/threemonth_month}}
    {{/previousmonth}}
    {{#currentmonth}}
        {{> core_calendar/threemonth_month}}
    {{/currentmonth}}
    {{#nextmonth}}
        {{> core_calendar/threemonth_month}}
    {{/nextmonth}}
</div>
{{#js}}
require(['jquery', 'core_calendar/calendar_threemonth'], function($, CalendarThreeMonth) {
    CalendarThreeMonth.init($("#calendar-multi-{{uniqid}}"));
});
{{/js}}
