{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_calendar/day_detailed

    Calendar day view.

    The purpose of this template is to render the calendar day view.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div{{!
    }} class="calendarwrapper"{{!
    }} data-context-id="{{defaulteventcontext}}"{{!
    }}{{#courseid}} data-courseid="{{courseid}}"{{/courseid}}{{!
    }}{{#categoryid}} data-categoryid="{{categoryid}}"{{/categoryid}}{{!
    }} data-view="day"{{!
    }} data-year="{{date.year}}"{{!
    }} data-month="{{date.mon}}"{{!
    }} data-day="{{date.mday}}"{{!
    }} data-region="day"{{!
    }} data-new-event-timestamp="{{neweventtimestamp}}"{{!
}}>
    {{> core_calendar/day_navigation }}
    {{> core/overlay_loading}}
    {{< core_calendar/event_list }}
        {{$noeventsmessage}}
            {{#str}} daywithnoevents, core_calendar {{/str}}
        {{/noeventsmessage}}
    {{/core_calendar/event_list}}
</div>
