{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template calendar/event_filter_key

    Key item for the event filter.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<a href="#" data-action="filter-event-type" data-eventtype="{{eventtype}}" data-eventtype-hidden="{{hidden}}">
    {{^hidden}}
        <span class="calendar_event_{{eventtype}}">
            {{#pix}}i/hide, core, {{#str}}hideeventtype, calendar, {{name}}{{/str}}{{/pix}}
        </span>
        {{> core_calendar/event_icon}}
        <span class="eventname">{{#str}}hideeventtype, calendar, {{name}}{{/str}}</span>
    {{/hidden}}
    {{#hidden}}
        <span class="calendar_event_{{eventtype}}">
            {{#pix}}i/show, core, {{#str}}showeventtype, calendar, {{name}}{{/str}}{{/pix}}
        </span>
        {{> core_calendar/event_icon}}
        <span class="eventname">{{#str}}showeventtype, calendar, {{name}}{{/str}}</span>
    {{/hidden}}

</a>
