{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_calendar/event_summary_modal

    This template renders the calendar events summary modal.

    Example context (json):
    {
        "title": "Assignment due 1"
    }
}}
{{< core/modal }}
    {{$footer}}
        {{#candelete}}
            <button type="button" class="btn btn-secondary" data-action="delete">{{#str}} delete {{/str}}</button>
        {{/candelete}}
        {{#action.actionable}}
            <a href="{{action.url}}">{{{action.name}}}</a>
        {{/action.actionable}}
        {{^action.actionable}}
            {{#isactionevent}}
            <a href="{{url}}">{{#str}} gotoactivity, core_calendar {{/str}}</a>
            {{/isactionevent}}
        {{/action.actionable}}

        {{^isactionevent}}
            {{#canedit}}
                <button type="button" class="btn btn-primary" data-action="edit">{{#str}} edit {{/str}}</button>
            {{/canedit}}
        {{/isactionevent}}
    {{/footer}}
{{/ core/modal }}
