{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_calendar/event_summary_body

    This template renders the body of calendar events summary modal.

    Example context (json):
    {
        "timestart": 1490320388,
        "description": "An random event description",
        "location": "13th floor, building 42",
        "eventtype": "User",
        "source": "Ical imported",
        "groupname": "Group 1"
    }
}}
<div{{!
    }} class="summary-modal-container"{{!
    }} data-region="summary-modal-container"{{!
    }} data-event-id="{{id}}"{{!
    }} data-event-title="{{name}}"{{!
    }} data-event-count="{{eventcount}}"{{!
    }} data-event-="{{repeatid}}"{{!
    }} data-action-event="{{isactionevent}}"{{!
    }} data-edit-url="{{editurl}}"{{!
    }}>
    <div class="container-fluid">
        {{> core_calendar/event_details }}
    </div>
</div>
