{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_calendar/footer_options

    Displays export options on the calendar footer.

    Example context (json):
    {
        "exportcalendarbutton": "<button class='btn btn-secondary'>Export calendar</button>",
        "managesubscriptionbutton": "<button class='btn btn-secondary'>Manage subscriptions</button>"
    }
}}
<div class="bottom">
    {{#exportcalendarbutton}}
        {{> core/single_button }}
    {{/exportcalendarbutton}}
    {{#managesubscriptionbutton}}
        {{> core/single_button }}
    {{/managesubscriptionbutton}}
</div>
