{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template calendar/month_navigation

    Calendar month navigation.

    The purpose of this template is to render the navigation to switch to previous and next months.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div id="month-navigation-{{uniqid}}" class="controls">
    <div class="calendar-controls">
        <a{{!
            }} href="{{previousperiodlink}}"{{!
            }} class="arrow_link previous"{{!
            }} title="{{#str}}monthprev, calendar{{/str}}"{{!
            }} data-year="{{previousperiod.year}}"{{!
            }} data-month="{{previousperiod.mon}}"{{!
            }} data-drop-zone="nav-link" {{!
        }}>
            <span class="arrow">{{{larrow}}}</span>
            &nbsp;
            <span class="arrow_text">{{previousperiodname}}</span>
        </a>
        <span class="hide"> | </span>
        <h2 class="current">{{periodname}}</h2>
        <span class="hide"> | </span>
        <a{{!
            }} href="{{nextperiodlink}}"{{!
            }} class="arrow_link next"{{!
            }} title="{{#str}}monthnext, calendar{{/str}}"{{!
            }} data-year="{{nextperiod.year}}"{{!
            }} data-month="{{nextperiod.mon}}"{{!
            }} data-drop-zone="nav-link" {{!
        }}>
            <span class="arrow_text">{{nextperiodname}}</span>
            &nbsp;
            <span class="arrow">{{{rarrow}}}</span>
        </a>
    </div>
</div>
{{#js}}
require(['jquery', 'core_calendar/month_navigation_drag_drop'], function($, DragDrop) {
    var root = $('#month-navigation-{{uniqid}}');
    DragDrop.init(root);
});
{{/js}}
