{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template calendar/upcoming_detailed

    Calendar upcoming detailed.

    The purpose of this template is to render the calendar upcoming detailed view.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
<div class="calendarwrapper" data-view="upcoming" data-context-id="{{defaulteventcontext}}" data-courseid="{{courseid}}">
    {{> core/overlay_loading}}
        <h2 class="current text-center">{{#str}}upcomingevents, core_calendar{{/str}}</h2>
    {{< core_calendar/event_list }}
        {{$noeventsmessage}}
            {{#str}} noupcomingevents, core_calendar {{/str}}
        {{/noeventsmessage}}
    {{/core_calendar/event_list}}
</div>
