{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_admin/setting_description

    Admin setting description template.

    Context variables required for this template:
    * labelfor - id of the form element
    * title - Setting title
    * name - Setting name

    Example context (json):
    {
        "title": "Setting title",
        "name": "Name",
        "description": "Description goes here"
    }
}}
{{!
    Setting description.
}}
<div class="form-item row">
    <div class="form-label col-sm-3 text-sm-right">
        <label>
            {{{title}}}
        </label>
    </div>
    <div class="form-setting col-sm-9">
        <div class="form-description">{{{description}}}</div>
    </div>
</div>
