{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_admin/setting_configfilesize

    Admin file size setting template.

    Context variables required for this template:
    * name - form element name
    * options - list of options for units containing name, value, selected
    * value - yes
    * id - element id

    Example context (json):
    {
        "name": "test",
        "value": "5",
        "id": "test0",
        "options": [ { "name": "KB", "value": "1024", "selected": true } ]
    }
}}
{{!
    Setting configfilesize.
}}
<div class="form-filesize defaultsnext">
    <div class="form-inline">
        <input type="text" size="5" id="{{id}}v" name="{{name}}[v]" value="{{value}}" class="form-control text-ltr">
        <label class="sr-only" for="{{id}}u">{{#str}}filesizeunits, admin{{/str}}</label>
        <select id="{{id}}u" name="{{name}}[u]" class="form-control custom-select">
            {{#options}}
                <option value="{{value}}" {{#selected}}selected{{/selected}}>{{name}}</option>
            {{/options}}
        </select>
    </div>
</div>

