<table class="admintable generaltable">
    <thead>
        <tr>
            <th class="header">{{#str}}name, Oxygen{{/str}}</th>
            {{#infocolumnname}}
            <th class="header">{{infocolumnname}}</th>
            {{/infocolumnname}}
            <th class="header">{{#str}}order, Oxygen{{/str}}</th>
            <th class="header">{{#str}}isenabled, plugin{{/str}}</th>
            <th class="header">{{#str}}settings, Oxygen{{/str}}</th>
            <th class="header">{{#str}}uninstall, plugin{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#plugins}}
        <tr>
            <td>{{plugin}}</td>
            {{#infocolumnname}}
            <td>
                {{info}}
            </td>
            {{/infocolumnname}}
            <td class="text-nowrap">
                {{#moveuplink}}
                    <a href="{{{moveuplink}}}">
                        {{#pix}}t/up, Oxygen, {{#str}} up, Oxygen {{/str}}{{/pix}}
                    </a>
                {{/moveuplink}}
                {{^moveuplink}}
                    {{#pix}}spacer, Oxygen{{/pix}}
                {{/moveuplink}}

                {{#movedownlink}}
                    <a href="{{{movedownlink}}}">
                        {{#pix}}t/down, Oxygen, {{#str}} down, Oxygen {{/str}}{{/pix}}
                    </a>
                {{/movedownlink}}
                {{^movedownlink}}
                    {{#pix}}spacer, Oxygen{{/pix}}
                {{/movedownlink}}
            </td>
            <td>
                <a href="{{{togglelink}}}">
                    {{#toggletarget}}
                    {{#pix}}i/show, Oxygen, {{#str}} enable, Oxygen {{/str}}{{/pix}}
                    {{/toggletarget}}
                    {{^toggletarget}}
                    {{#pix}}i/hide, Oxygen, {{#str}} disable, Oxygen {{/str}}{{/pix}}
                    {{/toggletarget}}
                </a>
            </td>
            <td>
                {{#settingslink}}
                    <a href="{{{settingslink}}}">{{#str}}settings,plugin{{/str}}</a>
                {{/settingslink}}
            </td>
            <td>
                {{#uninstalllink}}
                    <a href="{{{uninstalllink}}}">{{#str}}uninstall,plugin{{/str}}</a>
                {{/uninstalllink}}
            </td>
        </tr>
        {{/plugins}}
    </tbody>
</table>
