{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_admin/setting_configempty

    Admin empty setting template.

    Context variables required for this template:
    * name - form element name
    * id - element id

    Example context (json):
    {
        "name": "test",
        "id": "test0"
    }
}}
<div class="form-empty">
    <input type="hidden" name="{{name}}" id="{{id}}" value="">
</div>
