{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_admin/setting_configcheckbox

    Admin checkbox setting template.

    Context variables required for this template:
    * name - form element name
    * no - no value
    * value - yes value
    * id - element id
    * checked - boole

    Example context (json):
    {
        "name": "test",
        "no": "False",
        "value": "True",
        "id": "test0",
        "checked": "checked"
    }
}}
<div class="form-checkbox defaultsnext">
    <input type="hidden" name="{{name}}" value="{{no}}">
    <input type="checkbox" name="{{name}}" value="{{value}}" id="{{id}}" {{#checked}}checked{{/checked}}>
</div>
