{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_admin/setting_configfile

    Admin file setting template.

    Context variables required for this template:
    * name - form element name
    * id - element id
    * size - size of the field
    * readonly - Make the field readonly
    * value - value
    * showvalidity - Show a green check if the path is readable
    * valid - True if the path is readable

    Example context (json):
    {
        "name": "test",
        "value": "/my-super-secret-path/file",
        "id": "test0",
        "readonly": true,
        "showvalidity": true,
        "valid": false
    }
}}
{{!
    Setting configfile.
}}
<div class="form-file defaultsnext">
    <div class="form-inline">
        <input type="text" name="{{name}}" id="{{id}}" size="{{size}}" value="{{value}}" class="form-control text-ltr" {{#readonly}}readonly{{/readonly}}>
        {{#showvalidity}}
            {{#valid}}
                <span class="text-success">&#x2714;</span>
            {{/valid}}
            {{^valid}}
                <span class="text-danger">&#x2718;</span>
            {{/valid}}
        {{/showvalidity}}
    </div>
</div>

