{{!
    This file is part of Oxygen - #/

    Oxygen is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Oxygen is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Oxygen.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_admin/tasklogs

    This is the template for the search form which appears above the task logs report.
}}
<form class="form-inline" method="GET" action="{{{action}}}">
    <label class="sr-only" for="tasklog-filter">{{#str}}filter{{/str}}</label>
    <input class="form-control" type="text" id="tasklog-filter" name="filter" value="{{{filter}}}">

    <label class="sr-only" for="tasklog-resultfilter">{{#str}}resultfilter, admin{{/str}}</label>
    <select class="form-control custom-select" name="result" id="tasklog-resultfilter">
        {{#resultfilteroptions}}
        <option value="{{{value}}}"{{#selected}} selected="selected"{{/selected}}>{{title}}</option>
        {{/resultfilteroptions}}
    </select>

    <input class="btn btn-primary" type="submit" value="{{#str}}filter{{/str}}">
</form>
